.km-custombookmark:before,
.km-custombookmark:after
{
    content: "\e304";
}

.km-customlogout:before,
.km-customlogout:after
{
    content: "\e0b2";
}

.km-drawer-button:before,
.km-drawer-button:after
{
    content: "\e055";
    color: #fff;
}
.km-customsearch:before,
.km-customsearch:after
{
    content: "\e07f";
    color: #fff;
}
.km-customlocation:before,
.km-customlocation:after
{
    content: "\e0b4";
    color: #fff;
}
.km-customuser:before,
.km-customuser:after
{
    content: "\e219";
    color: #fff;
}
.km-customvoucher:before,
.km-customvoucher:after
{
    content: "\e30c";
    color: #000;
}
.km-customrating:before,
.km-customrating:after
{
    content: "\e048";
    color: #000;
}
.km-customrating-select:before,
.km-customrating-select:after
{
    content: "\e047";
    color: #000;
}
.km-custommessage:before,
.km-custommessage:after
{
    content: "\e09a";
    color: #000;
}
.km-customsetting:before,
.km-customsetting:after
{
    content: "\e0da";
    color: #000;
}
.km-custommore:before,
.km-custommore:after
{
    content: "\e20e";
    color: #000;
}
.km-customoffernear:before,
.km-customoffernear:after
{
    content: "\e0b4";
    color: #000;
}
.km-customoffer:before,
.km-customoffer:after
{
    content: "\e0b5";
    color: #000;
}
.km-customterms:before,
.km-customterms:after
{
    content: "\e0d6";
    color: #000;
}
.km-customrestnear:before,
.km-customrestnear:after
{
    content: "\e0b4";
    color: #000;
}
.km-customrestlist:before,
.km-customrestlist:after
{
    content: "\e077";
    color: #000;
}
.km-customuser1:before,
.km-customuser1:after
{
    content: "\e319";
    color: #000;
}

.search-bar
{
    display: block;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11pt;
    border: 0px;
}

#appdrawer .lm-h4
{
    padding-top: 6%;
    font-weight: normal;
    color: #fff;
    width: 63%;
    position: relative;
    float: left;
    text-align: left;
    font-size: 1em;
    color: #fff000;
}
#appdrawer .lm-image
{
    display: inline-block;
    width: auto;
    height: auto;
    float: left;
    position: relative;
    border-radius: 5px;
}
.home-navbar
{
    background: url(../images/strip.png) repeat-x center bottom;
    width: 80%;
    position: relative;
    float: none;
    background: transparent;
}

.home-navbar-text
{
    width: 100%;
    position: relative;
    float: left;
    text-align: left;
    color: #fff;
    font-size: .8em;
    background: none;
    font-style: italic;
}
.home-navbar-search
{
    width: 80%;
    position: relative;
    float: left;
    padding-top: .1em;
}
.home-navbar-search-R
{
    width: 20%;
    position: relative;
    float: left;
    display: block;
    padding-top: 0;
}
.footer-logo
{
    background: url(../images/footer_logo.png) no-repeat center center;
    width: 20%;
    background-size:70%;
    position: relative;
    float: right;
    margin: auto 0;
}

li
{
    border-top: 0 solid #fff !important;
    border-bottom: 0  solid #fff !important;
}

ul
{
    border-top: 0 solid #fff !important;
    border-bottom: 0  solid #fff !important;
}  

h2
{
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
}
.home-pos  .ui-btn-inner
{
    border-width: 0px;
}

.home-pos .ui-btn-up-c { border: 0px; }

.menudetail
{
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 1.5em; 
}
.menu-holder .mycard { background: url(../images/my-card.png) no-repeat center top; }
.menu-holder .myreferral { background: url(../images/my-referral.png) no-repeat center top; }
.menu-holder .mywallet { background: url(../images/my-balance.png) no-repeat center top; }
.menu-holder .myreward { background: url(../images/my-reward.png) no-repeat center top; }
.menu-holder .myhistory { background: url(../images/my-history.png) no-repeat center top; }
.menu-holder .myrenewal { background: url(../images/my-renewal.png) no-repeat center top; }
.menu-holder .myprofile { background: url(../images/my-profile.png) no-repeat center top; }
.menu-holder .mysupport { background: url(../images/my-support.png) no-repeat center top; }

.km-customhome:before,
.km-customhome:after
{
    content: "\e0af";
}

.km-customemail:before,
.km-customemail:after
{
    content: "\e099";
}

.km-customcard:before,
.km-customcard:after
{
    content: "\e085";
}

.km-customrewards:before,
.km-customrewards:after
{
    content: "\e08c";
}

.km-customsupport:before,
.km-customsupport:after
{
    content: "\e326";
}

.km-customrenewals:before,
.km-customrenewals:after
{
    content: "\e0f6";
}

.km-custombalance:before,
.km-custombalance:after
{
    content: "\e101";
}

.km-customprofile:before,
.km-customprofile:after
{
    content: "\e319";
}

.km-customhistory:before,
.km-customhistory:after
{
    content: "\e0d8";
}

.km-customreferrals:before,
.km-customreferrals:after
{
    content: "\e0b5";
}

.km-customoutlet:before,
.km-customoutlet:after
{
    content: "\e0a7";
}

.km-customexplore:before,
.km-customexplore:after
{
    content: "\e09b";
}

.km-custombenefit:before,
.km-custombenefit:after
{
    content: "\e0c4";
}

.km-customshare:before,
.km-customshare:after
{
    content: "\e314";
}

.km-ios7 .km-tabstrip 
{
    background-color: #004a97;
}

.km-ios7 .km-tabstrip .km-state-active
{
    color: #fff;
}

.km-button .km-state-active
{
    color: #ccc;
}

.km-ios7 .km-tabstrip .km-button
{
    display: inline-block;
    margin: auto;
    width: 25%;
    padding-top: 0;
    padding-left: 0;
}

.km-ios7 .km-tabstrip .km-icon
{
    color: #85aaef;
    margin: 0 auto;
}

.km-ios7 .km-navbar
{
    background-color: #343434;
    border: none;
    height: 3em;
}

.km-ios7 .km-navbar .brand-icon  
{
    background: url(../images/brand_logo.png) no-repeat center center;
    background-size: auto;
    margin-top: 5px;
    margin-left: 40px;
    width: 125px;
    float: left;
    height: 32px;
}

.km-ios7 .km-view  .km-content
{
    background: url(../images/home_image.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.km-ios7 .km-navbar .km-button
{
    line-height: 1em;
    font-size: 1.2em;
    color: #fff;
}

.km-ios7 .km-navbar .km-view-title
{
    color: #fff;
    font-size: 1.2em;
}

*
{
    font-family: HelveticaNeue;
    font-size: .8em;
    font-weight: normal;
}

.whitecolor
{
    color: #343434;
}

.km-ios7 .km-view ul
{
    margin-left: 3%;
    margin-top: 3%; 
    width: 94%; 
    display: inline-block;
    border-radius: 5px; 
    font-size: .8em; 
}

.km-ios7 .km-button
{
    border: 0px solid rgba(223, 107, 39, 0.7) !important;
}

.km-ios7 p
{
    word-wrap: normal;
    line-height: 1.2em;
    padding-left: .2em;
    padding-right: .2em;
}

img
{
    width: 100%;
    height: 100%;
}

.outer-frame
{
    height: 8.5em;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0px;
}

.outer-frame-o
{
    height: 8em;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0px;
}

.image-frame-list
{
    height: 6em;
    position: relative;
    float: left;
    width: 35%;
    background: url(../images/smallihglogoimage.png) no-repeat center center;
    background-size: 120px 60px; 
    -webkit-background-size: 120px 60px; 
}

.inner-frame-1
{
    padding-left: .4em;
    padding-right: 0em;
    height: 2.5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%;
    font-weight: bold;
    color: #343434;
}
.inner-frame-2
{
    padding-left: .4em;
    padding-right: 0em;
    height: 2.5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%;
    font-style: italic;
    color: #343434;
}

.inner-frame-3
{
    padding-left: .4em;
    padding-right: 0em;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    float: left;
    width: 64%; 
    color: #343434; 
}

.inner-frame-4
{
    padding-left: .2em;
    padding-right: 0em;
    height: 2em;
    line-height: 2em;
    position: relative;
    float: left;
    width: 100%;
    color: #343434;
}

.inner-frame-1-o
{
    padding-left: .4em;
    padding-right: 0em;
    height: 3em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%;
    font-weight: bold;
}
.inner-frame-2-o
{
    padding-left: .4em;
    padding-right: 0em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%;
    font-style: italic;
}

.inner-frame-3-o
{
    padding-left: .4em;
    padding-right: 0em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%; 
}

.inner-frame-4-o
{
    padding-left: .2em;
    padding-right: 0em;
    height: 2em;
    line-height: 2em;
    position: relative;
    float: left;
    width: 100%;
}

.inner-frame-4a
{
    height: 2em;
    line-height: 3em;
    position: relative;
    float: left;
    width: 90%;
}
.inner-frame-4b
{
    height: 2em;
    line-height: 1em;
    position: relative;
    float: right;
    width: 10%;
}
.inner-frame-4b .km-button
{
    color: #fff;
    font-size: .8em;
    background-color: #e67e1d;
    height: 2em;
    line-height: 1em;
    display: inline-block;
}

#scrollview-container
{
    margin: 0 0 1em 0;
    padding-bottom: 1em;
    padding-top: 0;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0);
}

.detail-subhead
{
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    height: auto; 
}

.add-head
{
    margin-left: -15px;
    margin-top: -7px;
    width: 110%;
    background-color: #004a97;
    color: #fff;
    height: 2em;
    text-align: center;
    font-weight: bold;
    display: block;
}

.detail-outer-star
{
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    display: inline-block;
}
.detail-inner-star
{
    width: 23%;
    position: relative;
    float: none;
    height: auto;
    display: inline-block;
}
.detail-inner-star .km-button
{
    display: block;
    color: #575757;
    font-size: 2em;
    border: 0px;
}

.detail-outer-star-o
{
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    display: inline-block;
}
.detail-inner-star-o
{
    width: 48%;
    position: relative;
    float: none;
    height: auto;
    display: inline-block;
    text-align: center;
}

.button-group .km-button
{
    background-color: #343434;
    border: 1px solid #fff;
    font-size: 1.2em;
}
.button-group .km-button .km-text
{
    color: #fff;
}
.button-group .km-button.km-state-active .km-text
{
    color: rgb(255, 255, 255);
}
.button-group .km-button.km-state-active
{
    background-color: #e9763f;
}

#modalview-offersocial img
{
    height: auto;
    width: auto;
}

.msg-inner-frame-2 .km-button
{
    color: #fff;
    font-size: .8em;
    background-color: #e67e1d;
    height: 2.75em;
    line-height: 2.75em;
    display: inline;
    text-align: center;
}
.msg-outer-frame
{
    height: 6em;
    position: relative;
    float: none;
    width: 100%;
}

.msg-date-frame-outer
{
    height: 6em;
    position: relative;
    float: left;
    width: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    overflow: hidden;
}


.msg-narration-frame
{
    height: 6em;
    position: relative;
    float: left;
    width: 65%;
    margin-left: .3em;
    margin-right: .3em;
    text-align: justify;
}

.msg-action-frame-outer
{
    height: 6em;
    position: relative;
    float: left;
    width: 10%;
}

.msg-action-frame-inner-1
{
    height: 3em;
    position: relative;
    float: none;
    width: 100%;
    display:inline-block;
    margin:.5em auto auto .8em;
}

.msg-action-frame-inner-2
{
    height: 100%;
    position: relative;
    float: none;
    width: 100%;
    display:block;
    margin:auto;
}

.msg-date-frame-inner-1
{
    height: 60%;
    position: relative;
    float: none;
    width: 100%;
    background-color: #de5716; 
}

.msg-date-frame-inner-2
{
    height: 40%;
    position: relative;
    float: none;
    width: 100%;
    background-color: #343434;
}

.msgfont
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.center-pos
{
    display: block;
    margin-top: .5em;
}

.msg-outer-frame-a
{
    height: 8em;
    width: 100%;
    position: relative;
    float: none;
}

.msg-image-frame-list
{
    height: 3.6em;
    width: 15%;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    padding-top: .2em;
    padding-left: .2em; 
    border: 1px; 
    display: inline-block;
    float: left;
    position: relative;
}
.msg-image-frame-lista
{
    height: 3.6em;
    position: relative;
    float: left;
    width: 23%;
}
.msg-inner-frame-1
{
    padding-left: .4em;
    padding-right: 0em;
    height: 3.6em;
    position: relative;
    float: left;
    width: 65%;
    font-weight: bold;
    color: #343434;
}
.msg-inner-frame-1a
{
    height: 1.7em;
    position: relative;
    float: left;
    width: 100%;
    font-weight: bold;
    color: #343434;
}
.msg-inner-frame-1b
{
    height: 1.7em;
    position: relative;
    float: left;
    width: 100%;
    color: #343434;
}
.msg-inner-frame-2
{
    padding-top: 1em;
    padding-left: 1em;
    height: 1em;
    line-height: 1em;
    position: relative;
    float: left;
    width: 20%;
    color: #343434;
}

.msg-inner-frame-2a
{
    padding-left: 1em;
    height: .5em;
    position: relative;
    float: left;
    width: 10%;
    color: #343434;
}
.msg-inner-frame-3
{
    height: 5em;
    line-height: 1.2em;
    position: relative;
    float: left;
    width: 100%;
    padding-top: .2em;
    color: #343434;
}

.msg-inner-frame-3a
{
    height: 5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 100%;
    padding-top: .2em;
    color: #343434;
}

#outlet-review img
{
    height: auto;
    width: auto;
}

.center-pos
{
    display: block !important;
    margin: auto !important;
}

.detail-rate
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
}
.detail-rate-tap
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
    background-color: #fff000;
}

.detail-outer-star textarea
{
    width: 100%;
    position: relative;
    display: inline-block;
    height: 8em;
}

.input-frame
{
    height: 5em;
    line-height: 5em;
    width: 100%;
    padding-left: 5%;
}
.input-frame label
{
    height: 1.2em;
    line-height: 1.2em;
    width: 80%;
    text-align: left;
    display: block;
}

#settings-theme .input-frame input,
#join-theme .input-frame input,
#token-theme .input-frame input,
#login-theme .input-frame input,
#resetpassword-theme .input-frame input,
#pl-myprofile-theme .input-frame input
{
    display: block;
    width: 85%;
    height: 2.3em;
    line-height: 2em;
    border: 1px solid #ccc;
    background-color: #f7f3f1;
    left: 8%;
}

.button-frame
{
    height: auto;
    line-height: 2.5em;
    width: 100%;
    text-align: center;
}

.button-frame-inline
{
    height: auto;
    line-height: 2.5em;
    width: 100%;
    text-align: center;
    background-color:#fff;
}

.button-frame-inline .km-button
{
    line-height: 1.8em;
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #d86932;
    color: #fff;
    font-size: 1.2em;
    margin: 0px;
    border-radius: 0px;
}

.button-frame .km-button
{
    line-height: 1.8em;
    width: 90%;
    margin-top: .5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #d86932;
    color: #fff;
    font-size: 1.2em;
    margin-left: 5%;
}

#scrollview-container-b
{
      
    background: none;
    width: 100%;
    height: 100%;
}

#scrollview-container
{
      
    background: rgba(255, 255, 255, 1);
}

.data-holder
{
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    background-color: #005baa; 
}

.profile-picture-frame
{
    height: 75px;
    width: 75px;
    position: relative;
    float: left;
    width: 100%;
}
.profile-picture-frame-1
{
    background-size: cover; 
    -webkit-background-size: cover;
    height: 75px;
    width: 75px;
    position: relative;
    float: left;
}
.profile-picture-frame-2
{
    height: 75px;
    width: 60%;
    position: relative;
    float: right;
    padding-right: 1em;
}

.input-frame
{
    height: 5em;
    line-height: 5em;
    width: 100%;
    padding-left: 5%;
}
.input-frame label
{
    height: 1.2em;
    line-height: 1.2em;
    width: 80%;
    text-align: left;
    display: block;
}

.switch-frame
{
    height: 3.5em;
    line-height: 5em;
    float: none;
}
.switch-frame label
{
    line-height: 3.5em;
}

.detail-subhead
{
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    height: auto;
}

#history-theme .input-frame select
{
    display: block;
    width: 96%;
    height: 2.3em;
    line-height: 1.5em;
    border: 1px solid #ccc;
    background-color: #f0f2f3;
    left: 2%;
}

.image-position
{
    margin: auto;
    width: 100%;
    height: auto;
}

.gen-para
{
    width: 100%;
    padding: 5px 5px 5px 5px;
    height: auto;
    white-space: pre-wrap; /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap; /* Opera 7 */    
    text-align: justify !important;
    text-justify: inter-word;
}

.gen-text
{
    font-size: 1.2em;
    color: #575757;
    line-height: 1.4em;
}

.detail-image1
{
    padding-top: .5em;
    padding-bottom: .5em;
    margin: auto;
    width: 80px;
    position: relative;
    float: none;
    height: 80px;
    display: block;
    text-align: center;
}

.detail-image2
{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    position: relative;
    float: none;
    height: 75px;
    display: block;
    text-align: center;
}

.nonetwork-pos
{
    background: url(../images/nonetwork.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
}

.construction-pos
{
    background: url(../images/underconstruction.jpg) no-repeat center center;
    background-size: 25%;
    -webkit-background-size: 25%;
}

.deviceblock-pos
{
    background: url(../images/blocked.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
    background-color: white;
}

.network-button
{
    width: 100%;
    height: 3em;
    margin-top: 30em; 
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: center;
}
 
.network-button .km-button
{
    line-height: 2em;
    width: 90%;
    margin-top: .5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #df6b27;
    color: #fff;
    font-size: 1.2em;
}

pre
{
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.bold
{
    font-weight: bold;
}
    
.underline
{
    text-decoration: underline;
}

.italics
{
    font-style: italic;
}

.mycard-detail-holder-label
{
    margin-top: 0;
    width: 40%;
    height: 1.5em;
    line-height: 1.5em;
    padding-left: .5em;
    font-size: 1em;
    position: relative;
    float: left;
}
    
.mycard-detail-holder-data
{
    margin-top: 0;
    width: 60%;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    float: left;
}

li
{
    border-top: 0 solid #fff !important;
    border-bottom: 0 solid #fff !important;
}

.textpad
{
    padding: .5em;
}

.reward-summary-1
{
    height: 7.5em;
    width: 100%;
    float: none;
    line-height: 1.5em;
    background-color: rgba(154, 178, 204, 0.4);
    text-align: left;
    font-size: 1em;
    color: #fff;
    border-radius: 3px;
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: #85aaef;
    display: inline-block;
    text-decoration: inherit;

    font-size: 2em;
}

.km-ios7 .km-tabstrip .km-text
{
    color: #85aaef;
    padding-left: 2em;
}

#pl-home-view .name-plate
{
    width: 100%;
    height: 2em; 
    float: right;
    margin-top: 0px; 
    background-color: #fff; 
    line-height: 2em;
    padding-left: .3em;
    padding-right: .3em;
}

.top-shade1
{
    width: 100%;
    height: .7em; 
    background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* Standard syntax */ 
}

.card-number
{
    margin-left: 7%;
    color: #fff;
    position: relative;
    float: none;
    padding-top: 35%;
    text-decoration: none; 
}

.card-name
{
    margin-left: 7%;
    color: #fff;
    position: relative;
    float: none;
    text-decoration: none; 
}

.card-segment
{
    margin-left: 7%;
    color: #fff;
    position: relative;
    float: left;
    text-decoration: none; 
    width: 50%;
}

.card-expiry
{
    color: #fff;
    position: relative;
    float: left;
    text-decoration: none; 
    width: 40%;
    padding-left: 10%;
}   

#pl-home-view .grad
{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
} 

/* Should move to Media Queries*/

.fix-panel
{
    height: 600px;
    display: block;
}

.prelogin-frame
{
    width: 100%;
    height: 800px;
    position: relative;
    float: none;
    background-color: #fff;
    margin-top: 0px;
}

.prelogin-frame-bar
{
    width: 100%;
    height: 50px;
    position: relative;
    float: none;
    background-color: #fff;
}

.prelogin-frame-bar-text
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    float: none;
    color: #e96228;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}

.prelogin-frame-image-1
{
    width: 100%;
    height: 240px;
    background: url(../images/preloginimage.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    float: none;
}

.prelogin-frame-image-2
{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.3em;
    width: 100%;
    height: 200px;
    position: relative;
    float: none;
    text-align: justify;
}

.prelogin-frame-image-2-inner-1
{
    width: 50%;
    height: 50px;
    position: relative;
    float: left;
    margin: 0px auto auto 0px;
    background: url(../images/ihgdiningrewardlogo_180x50.png) no-repeat center center;
    -webkit-background-size: 90%;
    background-size: 90%;
}

.brand-holder
{
    width:100%;
    height:600px;
    background: url(../images/aboutusimage.png) no-repeat center center;
    -webkit-background-size: 90%;
    background-size:90%;
}

.joinnow-holder
{
    width: 100%;
    height: 100px;
    background: url(../images/joinnowimage.png) no-repeat center center;
    -webkit-background-size: auto;
    background-size: auto;
    margin-top: 200px;
    display: inline-block;
}

.tile-frame
{
    width: 100%;
    height: 480px;
    padding-top: 10%;
    position: relative;
    float: none;
}

.tile-frame-2
{
    width: 96%;
    height: 200px;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    float: none;
    border-radius: 10px; 
    background-color: rgba(216, 105, 50, .6);
}


a:active
{
    background-color: #ccc !important;
}
.centre-pos
{
    margin: 25% auto;
    display: block; 
}

.tile-frame-inner
{
    background: url(../images/tile_large.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
    width: 49%;
    height: 200px;
    position: relative;
    float: left;
    display: inline;
    margin-left: 1%;
}

.tile-frame-inner-1
{
    background: url(../images/tile_large.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
    width: 49%;
    height: 140px;
    position: relative;
    float: left;
    display: inline;
    margin-left: 1%;
    margin-top: 2%;
    overflow:hidden;
    border-radius:10px;
    border-radius:10%;
}

.tile-frame-image-restaurant
{
    background: url(../images/myrestaurant.png) no-repeat center center;
}
 
.tile-frame-image-myprofile
{
    background: url(../images/myprofile.png) no-repeat center center;
}

.tile-frame-image-mymessages
{
    background: url(../images/mymessages.png) no-repeat center center;
}

.tile-frame-image-myoffer
{
    background: url(../images/myoffer.png) no-repeat center center;
    ;
}

.tile-frame-image-myrewards
{
    background: url(../images/myrewards.png) no-repeat center center;
}

.tile-frame image-size-100
{
    background-size: auto;
    -webkit-background-size: auto;
}

.tile-frame image-size-80
{
    background-size: 80%;
    -webkit-background-size: 80%;
}

.tile-image-pos
{
    width: 60px;
    height: 60px;
    margin: 25% auto;
    display: block;
}

.tile-image-pos-1
{
    width: 60px;
    height: 60px;
    margin: 10% auto;
    display: block;
}

.mydetails
{
    width: 40%;
    position: relative;
    float: left;
    background-color: #fff;
    height: 200px;
}

.line-white
{
    height: 25px;
    line-height: 25px;
    width: 100%;
    position: relative;
    float: left;
    background: none;
    font-size: .8em;
}

.line-red
{
    height: 25px;
    line-height: 25px;
    width: 100%;
    position: relative;
    float: left;
    background-color: #d86932;
    font-size: .8em;
}

.fill-height
{
    height: 25px;
    width: 100%;
}

.tile-frame-text
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #343434;
    margin-top: -20%;
}

.tile-frame-text-1
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #343434;
    margin-top: -10%;
}

.a-class
    {
        background-color: #e9763f !important;
        height: 2em;
        line-height: .75em;
        color: #fff;
        font-weight:bold;
        font-size:1em;
    }

#pl-setting-theme .input-frame select {
	display: block;
	width: 85%;
	height: 2.3em;
	line-height: 1.5em;
	border: 1px solid #ccc;
	background-color: #fcd5b1;
        left:8%;
}

   .photo
{
    margin: 0;
    height: 150px;
    width: 100%;
    display: inline-block;
    -webkit-background-size: 80%;
    background-size: 80%;
}