<div data-role="view" data-title="About isme by Jumeirah" data-layout="pre-layout" id="aboutisme-theme" data-hide="preLogin.destroyaboutisme">
<header data-role="header">
     <div data-role="navbar">
            <span data-role="view-title"></span>
              <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
           </div>
          </header>

    <ul data-role="listview">
       
        <pre id="urldata-terms1" class="fulljustify" style="padding-left:5px;padding-right:5px">
Explore Jumeirah’s unrivalled destinations in the United Arab Emirates and enjoy personalised lifestyle experiences. <i>isme by Jumeirah</i> is all about having more fun, food and fitness at your fingertips. It’s the rewards and recognition programme that brings together the best of Jumeirah venues in one mobile app.
 
Wherever you go in the UAE and whatever lifestyle activity suits your mood, isme by Jumeirah is about enhancing and elevating your experience. From globally acclaimed culinary  treats to luxurious spa moments. From top-notch health clubs to exquisite fine dining. From summers on pristine beaches to the thrills of water sports. Each time you visit one of our sumptuous destinations, indulge yourself with more and more of isme by Jumeirah's exclusive benefits.
 
Be more than a guest. Be different. Become an <i>isme by Jumeirah</i> member today.
 
<i>isme by Jumeirah</i> Mobile App: Version 1.0
            
        </pre>
    </ul>
  
</div> 