<div data-role="view" data-title="About isme by Jumeirah" data-layout="pre-layout" id="aboutisme-theme" data-hide="preLogin.destroyaboutisme" data-after-show="disableBackButton" data-before-hide="enableBackButton">
<header data-role="header">
     <div data-role="navbar">
            <span data-role="view-title"></span>
              <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
           </div>
          </header>

    <ul data-role="listview">
       
        <pre id="urldata-terms1" class="fulljustify" style="padding-left:5px;padding-right:5px">
SNTTA was established in Sharjah, U.A.E, in 1976, as Sharjah National Travel & Tourist Agency, from which the acronym SNTTA originated. In a few years, the company expanded rapidly across the UAE to become an award-winning travel management company.

Today, SNTTA is a one-stop travel related solutions provider - offering a full spectrum of travel related services, including Business Travel, Leisure Travel, Travel Insurance, and Meetings and Events.

SNTTA has a wide network of 22 travel offices across the emirates of Abu Dhabi, Dubai, Sharjah, Ras Al Khaimah, Ajman and Fujairah and is one of the leading travel brands in the country.

SNTTA is a member of the UAE-based Liberty Investment Company, which is the holding company of the Liberty Group. It has the distinction of being the first travel company in the UAE to achieve the ISO 9001 certification, in 1999.

With over 35 years of outstanding service and its strong association with several blue chip travel partners like American Express and Uniglobe International, SNTTA combines local expertise with global reach to provide innovative travel products and services to its diverse customer base.
The SNTTA website serves as a convenient and user-friendly online booking portal for airline reservations, hotel bookings, travel insurance and car rentals.

<i>SNTTA Travel</i> Mobile App: Version 1.x
            
        </pre>
    </ul>
  
</div> 