<div data-role="view" data-reload="true" data-title="Airport List" data-layout="pre-layout" id="modalairportlist"  data-model="preLogin" data-show="preLogin.listAirport" data-hide="preLogin.destroyAirportList" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="color:#fff"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
 
     <ul data-role="listview" id="airport-list">

    </ul>
    
      
</div>


   