<div data-role="view"  data-title="Programme Benefits" data-layout="pre-layout" id="benefit-theme" data-init="initButtonGroup" data-model="preLogin" data-show="preLogin.benefitdetail" data-hide="preLogin.destroybenefitdetail" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <header data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff">
            </a>
            <span data-role="view-title"></span>

        </div>
    </header>
    <ul data-role="buttongroup" data-index="0" id="benefitdetailtab" class="button-group">
        <li data-bind="click: benefitdetail">
            isme
        </li>
        <li data-bind="click: benefitdetail1">
            isme Elite
        </li>

    </ul>
    <div style="background-color:#fff;margin-top:0px" id="benefit-detail-view">

     
       <ul data-role="listview" id="benefit-1000"></ul>
  
        <div>
            <li>
                <div class="button-frame-login">
                    <a data-transition="slide:up"  data-role="button" href="views/enrol.html" style="background-color:#000">Enrol</a>
                </div>
            </li>
        </div>
    </div>

    <div data-role="listview"   style="background-color:#fff;margin-top:0px" id="benefit-detail-view-1">

        <ul data-role="listview" id="benefit-1001"></ul>
        <div>
            <li>
                <div class="button-frame-login">
                    <a data-role="button" href="views/customerservice.html" data-transition="slide:up" style="background-color:#000">Enrol</a>
                </div>
            </li>
        </div>

    </div>

</div>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#benefitdetailtab").kendoMobileButtonGroup({
                                                          select: function (e) {
                                                              listviews.hide()
                                                                  .eq(e.index)
                                                                  .show();
                                                          },
                                                          index: 0
                                                      });
    }  
</script>


<script type="text/x-kendo-template" id="benefit1">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h6 class="collapse-format font-med">${question}</h6>

        <pre class="fulljustify">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="benefit2">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h6 class="collapse-format font-med">${question}</h6>

        <pre class="fulljustify">
            ${answer}
        </pre>

    </div>
</script>