<div data-role="view"  data-title="Program Benefits" data-layout="back3-layout" id="benefit-theme" data-init="initButtonGroup" data-model="preLogin" >
    <ul data-role="buttongroup" data-index="0" id="benefitdetailtab" class="button-group a-group">
        <li>
            isme
        </li>
        <li>
            isme Elite
        </li>

    </ul>
    <ul data-role="listview"   style="background-color:#fff;margin-top:0px" id="isme">

        <div class="gen-para">
<span class="bold">Benefits</span>
-10% discount on best available room rates at any Hotel in UAE.
-10% discount on spa treatments
-10% discount on dining & bars
-10% discount on wild wadi<br><br><span class="bold ">Welcome Vouchers (Valid for 3 months only)</span>
-Buy One Get One Free 60 Minutes Massage at Talise SPA, Jumeirah Etihad Towers.
-Buy One Get One Free dinner at any casual dining Restaurant at Jumeirah Group Restaurants (Food Only).<br><br>
<span class="bold">Rewards</span>
-Spend AED 3000 and get a complimentary dessert for 2 guests at any of Jumeirah Group REstaurants.<br><br>
</div>
<div>
             <li>
                <div class="button-frame-inline">
                    <a data-transition="slide:up"   id="mobile-button1" data-role="button" href="views/enrol.html"  >Enrol</a>
                </div>
            </li>
    </div>
    </ul>

    <ul data-role="listview"   style="background-color:#fff;margin-top:0px;display:none" id="isme-elite">
        <div class="gen-para">
<span class="bold">Benefits</span>
-25% discount on best available room rates at any Hotel in UAE.
-25% discount on spa treatments
-25% discount on dining & bars
-25% discount on wild wadi<br><br><span class="bold ">Welcome Vouchers (Valid for 3 months only)</span>
-Buy One Get One Free 60 Minutes Massage at Talise SPA, Jumeirah Etihad Towers.
-Buy One Get One Free dinner at any casual dining Restaurant at Jumeirah Group Restaurants (Food Only).<br><br>
<span class="bold">Rewards</span>
-Spend AED 3000 and get a complimentary dessert for 2 guests at any of Jumeirah Group REstaurants.<br><br>
</div>

    </ul>
   

</div>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#benefitdetailtab").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>



