<div data-role="view"  data-title="Programme Benefits" data-layout="back3-layout" id="benefit-theme" data-init="initButtonGroup" data-model="preLogin" data-show="preLogin.benefitdetail" >
    <ul data-role="buttongroup" data-index="0" id="benefitdetailtab" class="button-group a-group">
        <li>
            isme
        </li>
        <li data-bind="click: benefitdetail1">
            isme elite
        </li>

    </ul>
    <ul data-role="listview"   style="background-color:#fff;margin-top:0px;display:none" id="benefit-detail-view">

 <li>
            <div id="benefit-text3"></div>
        </li>

        <div>
            <li>
                <div class="button-frame-login">
                    <a data-transition="slide:up"   id="mobile-button1" data-role="button" href="views/enrol.html" style="background-color:#000">Enrol</a>
                </div>
            </li>
        </div>
    </ul>

    <ul data-role="listview"   style="background-color:#fff;margin-top:0px;display:none" id="benefit-detail-view-1">
      
        <li>
            <div id="benefit-text5"></div>
        </li>
         <div>
            <li>
                <div class="button-frame-login">
                    <a data-transition="slide:up"   id="mobile-button1" data-role="button" href="views/customerservice.html" style="background-color:#000">Enrol</a>
                </div>
            </li>
        </div>

    </ul>

</div>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#benefitdetailtab").kendoMobileButtonGroup({
                                                          select: function (e) {
                                                              listviews.hide()
                                                                  .eq(e.index)
                                                                  .show();
                                                          },
                                                          index: 0
                                                      });
    }  
</script>

