<div data-role="view"   data-layout="back-layout" id="branddetail-theme"  data-hide="preLogin.brandDetaildestroyView" data-model="preLogin">
    <header data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/brandlist.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title">Burj Al Arab</span>
            <a data-role="button" data-click="openStar" data-align="right" >
                <i class="fa fa-share-alt fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>
    <div id="panel" class="class-share-div">
        <div class="share-menu-line-1">111</div>
        <div class="share-menu-line-1">222</div>
        <div class="share-menu-line-2">
            <a data-click="closeShare" data-role="button">
                CLOSE
            </a>
        </div>
    </div>

    <div class="hero-image" id="outlet-image-large">
        <img id="outletimage" src="images/Brand1.png" class="img-hero"/>

    </div>

    <ul data-role="listview"    style="margin-top:0px" id="outlet-detail-div" >
        <div style="width:100%">
            <a href="views/outletlist.html"  data-transition="slide:up" >
                <div class="discover-back-part-a discover-back-part-a1">
                    View<br>Restaurants
                </div>
            </a>
            <a href="views/outletlist.html" data-transition="slide:up">
                <div class="discover-back-part-a discover-back-part-a2">
                    View<br>Spa
                </div>
            </a>
        </div>
        <div id="ooutlet-long" class="fulljustifyblack">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

            Doloremque laudantium, totam rem aperiam. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.

        </div>

    </ul>
    <div id="panelstar" class="class-share-div-s">
        <div class="share-menu-line-2">
            <a data-click="closeStar" data-role="button">
                CLOSE
            </a>
        </div>
        <div class="share-menu-line-1">111</div>
        <div class="share-menu-line-1">222</div>

    </div>
    <footer data-role="footer">

        <div data-role="tabstrip" style="background-color:#000" data-selected-index="5">
            <a  data-role="button" id="outlet1" class="fa" data-icon="customstar" data-click="openStar"></a>
            <a id="outlet2" class="fa" data-icon="customlocation"></a>
            <a id="outlet3" class="fa" data-icon="customenvelope"></a>
            <a id="outlet4" class="fa" data-icon="customcall"></a>
        </div>
    </footer>
</div>

<script>
    function closeShare() {
        $("#panel").slideUp("slow");
    }
    
    function closeStar() {
        $("#panel").slideUp("slow");
    }
    
    function openShare() {
        $("#panelstar").slideUp("slow");
        $("#panel").slideDown("slow");
    }
    
    function openStar() {
        alert("hello");
        $("#panel").slideUp("slow");
        $("#panelstar").slideDown("slow");
    }
</script>