<!--Offer List View-->
<div id="brandlist-view"
     data-role="view"
     data-title="Our Brands" data-layout="back-layout"  data-hide="preLogin.destroyBrandListView" >
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="backbutton"  data-align="left" style="color:#fff" ></a>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>
    <ul data-role="listview"  >
          
                <div class="outer-frame outer-frame-1  image-enhancer ">

                </div>
       

          
                <div class="outer-frame outer-frame-2  image-enhancer" >

                </div>
         

          
                <div class="outer-frame outer-frame-3  image-enhancer ">

                </div>
     

           
                <div class="outer-frame outer-frame-4  image-enhancer ">

                </div>
   

                <div class="outer-frame outer-frame-5  image-enhancer ">

                </div>
  
  
           
           
             
                <div class="outer-frame-6 image-enhancer outer-frame">

                </div>
                             
      
                    

          
    </ul>

</div>

<style scoped>

     
    #brandlist-list-view a
    {
        background-color: transparent !important;
        color: #fff;
    }    
    #brandlist-view ul li
    {
        width: 100%;
        margin-left:-5%;
        margin-right:-5%;
        margin-bottom:5px;
        
    }
</style>
