<div data-role="view"   data-layout="back2-layout" id="branddetail-theme"  data-model="preLogin" data-title="" data-show="preLogin.showPropertyItem" style="background-color:#fff" data-hide="hideBrandDetail">

    <ul data-role="listview"    style="margin-top:5px;display:none;background-color:#fff" id="property-detail-div" >
        <div class="hero-image">
            <img id="brandimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>

        <div style="width:100%">
            <a href="views/outletlist.html?brand=&category=0"  data-transition="slide:up" >
                <div class="discover-back-part-a discover-back-part-a1" style="margin-left:0px">
                    View<br>Restaurants
                </div>
            </a>

            <a href="views/leisurelist.html?brand=&category=1" data-transition="slide:up">
                <div class="discover-back-part-a discover-back-part-a2" style="margin-left:4%">
                    View<br>Spa
                </div>
            </a>
        </div>
         <div class="filler10"></div>
          <div id="property-short-1"></div>
        <div class="filler10"></div>
            <div id="property-short-2"></div> 
           <div id="property-long-1"> 
            </div>

    </ul>

</div>

