<div data-role="view"   data-layout="back2-layout" id="branddetail-theme"  data-model="preLogin" data-title="" data-show="preLogin.showPropertyItem" style="background-color:#fff" data-hide="doOneBack">

    <ul data-role="listview"    style="margin-top:5px;display:none;background-color:#fff" id="property-detail-div" >
        <div class="hero-image">
            <img id="brandimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>

        <div style="width:100%">
            <a href="views/outletlist.html"  data-transition="slide:up" >
                <div class="discover-back-part-a discover-back-part-a1" style="margin-left:0px">
                    View<br>Restaurants
                </div>
            </a>

            <a href="views/leisurelist.html" data-transition="slide:up">
                <div class="discover-back-part-a discover-back-part-a2" style="margin-left:4%">
                    View<br>Spa
                </div>
            </a>
        </div>
          <li>  <div id="property-short-1"></div></li>
            <li><div id="property-short-2"></div>        </li>
            <li><div id="property-long-1"> 
            </div></li>
        <div></div>
    </ul>

</div>

