<!--Offer List View-->
<div id="brandlist-view"
     data-role="view"
     data-title="Our Brands" data-layout="back-layout"  data-model="preLogin" data-show="preLogin.offerlist" data-hide="preLogin.destroyOfferListView" >
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-search fa-lg" style="color:#fff"></i>
            </a>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>
    <ul data-role="listview" style="background-color:#fff" id="offer-list-view">
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-1  image-enhancer outer-frame">

                </div>
            </a>
        </li>
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-2  image-enhancer outer-frame">

                </div>
            </a>
        </li>
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-3  image-enhancer outer-frame">

                </div>
            </a>
        </li>
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-4  image-enhancer outer-frame">

                </div>
            </a>
        </li>
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-5  image-enhancer outer-frame">

                </div>
            </a>
        </li>
        <li>
            <a data-transition="slide"   href="views/offerdetail.html" data-role="button"   class="a-class">
                <div class="outer-frame-6 image-enhancer outer-frame">

                </div>
            </a>
        </li>
    </ul>

</div>

<style scoped>

     
    #brandlist-list-view a
    {
        background-color: transparent !important;
        color: #fff;
    }         
</style>
