<div data-role="view" data-title="Enrollment Confirmation" data-layout="back-layout" id="enrolmentpage-view" data-model="preLogin">

    <ul data-role="listview"   style="background-color:#fff">
        <div class="hero-image">
            <img id="offerimage" src="images/large_logo_placeholder.png" class="img-hero"/>
        </div>
        <li>
            <div style="width:100%;position:relative;float:left">
                <div class="mycard-detail-holder-label whitecolor">Member ID:</div>
                <div class="mycard-detail-holder-data  whitecolor" >999999999999</div>

                <div class="mycard-detail-holder-label  whitecolor">Name:</div>
                <div class="mycard-detail-holder-data  whitecolor" >Ricardo Manriquez</div>

                <div class="mycard-detail-holder-label  whitecolor">Member:</div>
                <div class="mycard-detail-holder-data  whitecolor" >isme Member</div>

                </div>
            <br>
        </li>
        <li>
            <div class="fulljustify" style="color:#000">
                Thankyou for becoming an isme member.  Welcome to a world of dining privileges. A welcome pack with your login credentials and benefits manual is being sent your email ID.  Please check your email and login to your membership. 
            </div>
        </li>
        <DIV>
            <LI></LI>
        </DIV>
    </ul>
 
    <div class="button-frame-inline">
        <a  data-role="button" href="views/login.html"  data-transition="slide:up"  id="redeem-button"  >Login</a>
    </div>

</div>