<div data-role="view" data-title="Enrolment Confirmation" data-layout="pre-layout" id="enrolmentpage-view" data-model="preLogin" data-show="preLogin.showConfirmation" data-hide="preLogin.confirmenrollment" data-after-show="disableBackButton" data-before-hide="enableBackButton">
        <div data-role="navbar" style="background-color:transparent !important">
            <span data-role="view-title"></span>
          
        </div>
    <ul data-role="listview"   style="background-color:#fff">
     
        <li>
            <div style="width:100%;position:relative;float:left">
                <div class="mycard-detail-holder-label cwhite">Member ID:</div>
                <div class="mycard-detail-holder-data cwhite "  id="confirm-memberid"></div>

                <div class="mycard-detail-holder-label  cwhite">Name:</div>
                <div class="mycard-detail-holder-data  cwhite" id="confirm-membername" ></div>

                <div class="mycard-detail-holder-label cwhite ">Member:</div>
                <div class="mycard-detail-holder-data  cwhite" id="confirm-segment"></div>

            </div>
            <br>
        </li>
        <li>
            <pre class="fulljustify" style="color:#fff">
Thank you for becoming an isme by Jumeirah member. Welcome to a world of dining and leisure priviledges. A welcome pack with your login credentials and benefits manual is being sent to your registered email. Please check your email and login to your membership.
            </pre>
        </li>
        <li>

            <div class="button-frame-login">
                <a  data-role="button" href="views/login.html"  data-transition="slide:up">Login</a>
            </div>
        </li>
      <div><li></li></div>
    </ul>
</div>