<div data-role="view" data-title="Customer Service" data-layout="back-layout" id="customerservice-theme" data-model="preLogin">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
              <a  data-role="button" data-align="left" style="color:#fff" href="views/home.html" data-transition="slide:left" data-icon="back"></a>
        </div>
    </div>
    
    <div class="outer-frame" style="margin-top: 50%">

        <div class="button-frame-inline-round" >
            <a data-role="button" data-click="supportEmailA" style="border: 2px solid #966806;height:100px;width:100px;line-height:100px" >
                <i class="fa fa-envelope fa-3x" style="color: #966806"></i>
            </a>
        </div>
        <div class="button-frame-inline-round">
            <a data-role="button" data-click="customerCare" style="border: 2px solid #1c6b06;height:100px;width:100px;line-height:100px" >
                <i class="fa fa-phone fa-3x"  style="color:#1c6b06"></i>
            </a>
        </div>

    </div>
</div>



