<!--Explore View-->
<div data-role="view" data-title="Discover" data-layout="main-layout" id="discoverlist-view" data-show="preLogin.varInit" data-model="preLogin" data-stretch="true">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="button" href="views/home.html" data-align="left">
                <i class="fa fa-home fa-lg" style="color:#fff"></i>
            </a>
            <span data-role="view-title" id="item-title"></span>
        </div>
          </div>

        <div class="discover-back discover-back-height">
            <div class="discover-back-part discover-back-height-2">isme</div>
                 
        </div>

      
  
</div>



