<!--Explore View-->
<div data-role="view" data-title="Discover" data-layout="back-layout" id="discoverlist-view"  data-model="preLogin" data-hide="preLogin.destroydiscoverlist">
    
    <div data-role="header">
        <div data-role="navbar">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>

            <span data-role="view-title" id="item-title"></span>
        </div>
          </div>
    <div>
        <div class="logo-top">
           
        </div>

        <div class="button-frame">
            <a id="btnDiscover" data-role="button" data-click="loadExplore" class="class-discover">Explore</a>
            <div class="filler"></div>
            <a  id="btnLogin" data-role="button" data-click="loadBenefits" class="class-discover">Benefits</a>
            <div class="filler"></div>
            <a  id="btnEnrol" data-role="button" data-click="loadRewards" class="class-discover">Rewards</a>

        </div>

</div>      
  
</div>



<style scoped>
    
    #discoverlist-view .class-discover
    {
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        font-size:125%;
    }
        
     
</style>
    