<!--Explore View-->
<div data-role="view" data-title="Discover" data-layout="main-layout" id="discoverlist-view" data-show="preLogin.varInit" data-model="preLogin"  data-hide="preLogin.destroyDiscoverListView" data-stretch="true">
    <div data-role="header">
        <div data-role="navbar">
             <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>

            <span data-role="view-title" id="item-title"></span>
        </div>
          </div>

        <div >
            <div class="discover-back-part discover-back-height-2">isme</div>
              <a href="views/brandlist.html" data-transition="slide:left"><div class="discover-back-part discover-back-height-2">Explore our Brands</div></a>
                    <div class="discover-back-part discover-back-height-2">Program Benefits</div> 
               <a href="views/offerlist.html"  data-transition="slide:left"><div class="discover-back-part discover-back-height-2">On-going Offers</div> </a>
        </div>

      
  
</div>



