<div data-role="view" data-layout="pre-layout" data-title="Sign Up" id="enrol-theme" data-model="preLogin" data-show="preLogin.showEnrol" data-hide="preLogin.destroyenrol" data-after-show="disableBackButton" data-before-hide="enableBackButton">
        <div data-role="navbar" style="background-color:transparent !important">
            <div class="brand-icon"></div>
            <span data-role="view-title" style="color:#000"></span>
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#000"></a>
        </div>
<div class="filler"></div>
    <div class="filler"></div>
    <ul data-role="listview">

        <li>
            <div class="input-frame-enrol-1 ">
                <input type="text" id="firstname" data-bind="value: firstname" placeholder="First Name *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="text" id="lastname" data-bind="value: lastname" placeholder="Last Name *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="email" id="emailid" data-bind="value: emailid" placeholder="Email *" />
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="number" id="mobile" data-bind="value: mobile" placeholder="Mobile (Eg:9715XXXXXXXX) *" />
            </div>
        </li>
      
          <li>
            <div class="switch-frame-1" >
                <label  class="whitecolor" style="color:#fff">
                    Agree to
                    <a data-role="button" data-click="onClick" style="color:#000;border:0px !important;background-color:transparent !important">
                        Terms & Conditions
                    </a>
                    <input data-role="switch" id="enrol-tandc-accept" type="checkbox"/>
                </label>
            </div>
        </li>
          <li>
            <div class="switch-frame-1" >
                <label  class="whitecolor" style="color:#fff">
                    Agree to
                    <a data-role="button" data-click="onClick1" style="color:#000;border:0px !important;background-color:transparent !important">
                        Data Protection Policy
                    </a>
                    <input data-role="switch" id="enrol-tandc-accept-c" type="checkbox"/>
                </label>
            </div>
        </li>


        <li>
            <div class="button-frame">
                <a  id="mobile-button1" data-role="button" data-bind="click:confirmEnrol" style="background-color:#eb046d">Continue</a>
            </div>
        </li>
     
           </ul>
</div>

<style scoped>
   
    
   
    
    #enrol-theme .km-button
    {
        border: 0px;
        color: #fff;
        font-size: 125%;
    }
    
    #enrol-theme .switch-frame a
    {
        background-color: transparent !important;
    }
</style>