<div data-role="view" data-layout="back-layout" data-title="Enrol" id="enrol-theme" data-model="preLogin" data-after-show="preLogin.showEnrol">
    <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <span data-role="view-title"></span>
            <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>
        </div>
    </div>
    <ul data-role="listview">

        <li>
            <div class="input-frame-enrol-1 ">
                <input type="text" id="firstname" data-bind="value: firstname" placeholder="First Name *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="text" id="lastname" data-bind="value: lastname" placeholder="Last Name *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="email" id="emailid" data-bind="value: emailid" placeholder="Email *"/>
            </div>
        </li>
          <li>
            <div class="input-frame-enrol-1 ">
                <input type="email" id="emailida" data-bind="value: emailida" placeholder="Re-enter Email *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="number" id="mobile" data-bind="value: mobile" placeholder="Mobile (Eg:9715XXXXXXXX) *"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <select id="selEmirate">
                    <option value="" selected="true" >Select Emirate *</option>
                </select>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="number" id="siriusnumber" data-bind="value: siriusnumber" placeholder="Sirius Member ID (if any)"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <select id="selGender">
                    <option value="" selected="true" data-bind="click: getCity">Select Gender *</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                     <option value="U">Unspecified</option>
                </select>
            </div>
        </li>
        <li>
            <div class="switch-frame-1" >
                <label  class="whitecolor" style="color:#fff">
                    Agree to
                    <a data-role="button" data-click="onClick" style="color:#fff;border:0px !important;background-color:transparent !important">
                        Terms & Conditions
                    </a>
                    <input data-role="switch" id="enrol-tandc-accept" type="checkbox" />
                </label>
            </div>
        </li>

        <li>
            <div class="button-frame-login">
                <a  id="mobile-button1" data-role="button" data-bind="click:confirmEnrol">Continue</a>
            </div>
        </li>
        <li>
            <div class="button-frame-login">
                <a id="mobile-button1" data-role="button" class="button-loginwithfacebook" data-click="faceBookErr">Enrol on Facebook</a>
            </div>
        </li>

        <li>
            <div class="switch-frame-i one-line">Already have an Account?</div>
        </li>
        <li>
            <div class="button-frame-login">
                <a data-transition="slide:up" id="mobile-button1" href="views/login.html" data-role="button">Log In</a>
            </div>
        </li>
        <div>
            <li></li>
        </div>
    </ul>
</div>

<style scoped>
   
    
   
    
    #enrol-theme .switch-frame .km-button
    {
        border: 0px;
        color: #fff000;
        font-size: 1em;
    }
    
    #enrol-theme .switch-frame a
    {
        background-color: transparent !important;
    }
</style>