<!--Explore View-->
<div data-role="view" data-title="Explore" data-layout="pre-layout" id="explorelist-view"  data-model="preLogin" data-show="preLogin.propertyList" data-hide="preLogin.destroyexplorelist" data-reload="true">

    <div data-role="header">
        <div data-role="navbar">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>

            <span data-role="view-title" id="item-title"></span>
              <a  data-role="button" data-click="loadFilterView" data-align="right"  style="display:none">
                        <i class="fa fa-search fa-lg" style="color:#fff"></i>
                    </a>
        </div>
    </div>
    <div>
        <div class="logo-top-list">

        </div>
        <ul data-role="listview" id="property-list" >   
         

        </ul>

    </div>

</div>

 