<!--Explore View-->
<div data-role="view" data-title="Explore" data-layout="pre-layout" id="explorelist-view"  data-model="preLogin" data-show="preLogin.propertyList" data-hide="preLogin.destroyexplorelist" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">

    <div data-role="header">
        <div data-role="navbar">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>

            <span data-role="view-title" ></span>
                  <a  data-role="button" data-click="getLocation6" data-align="right" style="margin-right:10px">
                        <i class="fa fa-location-arrow fa-lg" style="color:#fff"></i>
                    </a>
              <a  data-role="button" data-click="loadFilterView" data-align="right" style="margin-right:10px">
                        <i class="fa fa-filter fa-lg" style="color:#fff"></i>
                    </a>
        </div>
    </div>
    <div>
        <ul data-role="listview" id="property-list" >   
         

        </ul>

    </div>

</div>

 