<!--Explore View-->
<div data-role="view" data-title="Explore" data-layout="back-layout" id="explorelist-view"  data-model="preLogin" data-after-show="preLogin.showDiscoveryList">
    
    <div data-role="header">
        <div data-role="navbar">
             <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>

            <span data-role="view-title" id="item-title"></span>
        </div>
          </div>
    <div>
        <div class="logo-top-list">
           
        </div>
         <ul data-role="listview"  >
 <a href="views/outletdetail.html" data-transition="slide:left">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Burj Al Arab Jumeirah</a>
            </div>
        </a>
             
             
<a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Jumeirah Beach Hotel</a>
            </div>
        </a>
             
             <a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Jumeirah Creekside Hotel</a>
            </div>
        </a>
             
             <a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Jumeirah Emirates Towers</a>
            </div>
        </a>
             
             <a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Jumeirah Etihad Towers</a>
            </div>
        </a>
             
             <a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Jumeirah Al Qasr</a>
            </div>
        </a>
             
             <a href="views/outletdetail.html" data-transition="slide:up">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-login"  >Madinat Jumeirah</a>
            </div>
        </a>
 
 
 
 
 
      

</div>      
  
</div>



