<div data-role="view" data-title="FAQ" data-layout="pre-layout" id="faq-theme" data-model="preLogin" data-init="preLogin.getfaq" data-hide="preLogin.destroyfaq" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
            <a  data-role="button" data-click="loadFAQView" data-align="right" >
                <i class="fa fa-search fa-lg" style="color:#fff;display:none"></i>
            </a>
        </div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">About isme by Jumeirah</h3>
        <ul data-role="listview" id="faqlist1">
        </ul>
        <div style="height:75px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">About the isme by Jumeirah Mobile App</h3>
        <ul data-role="listview" id="faqlist2" >
        </ul>
        <div style="height:75px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">Enrolment</h3>
        <ul data-role="listview" id="faqlist3" >

        </ul>
        <div style="height:75px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">Membership</h3>
        <ul data-role="listview" id="faqlist4" >

        </ul>
        <div style="height:75px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">Jumeirah Sirius and isme by Jumeirah</h3>
        <ul data-role="listview" id="faqlist5" >

        </ul>
        <div style="height:125px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">
            Programme tiers & benefits
        </h3>
        <ul data-role="listview" id="faqlist6" >

        </ul>
        <div style="height:75px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">Rewards</h3>
        <ul data-role="listview" id="faqlist7" >

        </ul>
        <div style="height:px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa" style="width:100%">
        <h3 class="collapse-format">Customer service support</h3>
        <ul data-role="listview" id="faqlist8" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>
</div>

<script type="text/x-kendo-template" id="faqTemplate1">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>
        <pre class="fulljustify font-small">
            ${answer}
        </pre>
    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate2">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate3">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate4">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate5">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate6">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate7">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>
        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="faqTemplate8">
    <div data-role="collapsible" data-collapse-icon="arrow-up" data-expand-icon="arrow-down" style="width:100%" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>