<div data-role="view" data-title="FAQ" data-layout="pre-layout" id="faq-theme" data-model="preLogin" data-init="preLogin.getfaq" data-hide="preLogin.destroyfaq" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
            <a  data-role="button" data-click="loadFAQView" data-align="right" >
                <i class="fa fa-search fa-lg" style="color:#fff;display:none"></i>
            </a>
        </div>
    </div>
        <div class="input-frame-1">
                    <select id="selCountry" style="display:block;width:100%;height: 2.3em;line-height: 1.5em;border: 1px solid #ccc;background-color: #f7f3f1" data-bind="events: {change: getfaq}">
                        <option value="" selected="true">&nbsp;All FAQ's</option>
                        <option value="1">&nbsp;About isme by Jumeirah</option>
                        <option value="2">&nbsp;About the isme by Jumeirah Mobile App</option>
                        <option value="3">&nbsp;Enrolment</option>
                        <option value="4">&nbsp;Tier Privilege</option>
                        <option value="5">&nbsp;Membership</option>
                        <option value="6">&nbsp;Jumeirah Sirius and isme by Jumeirah</option>
                        <option value="7">&nbsp;Programme tiers & benefits</option>
                        <option value="8">&nbsp;Customer Service Support</option>

                    </select>
            </div>
    <ul data-role="listview" id="faqlist1">
  
    
    </ul>
</div>

<script type="text/x-kendo-template" id="faqTemplate1">
    <div style="width:100%;height:auto" >
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa "    data-collapsed="true"  style="width:100%;height:auto" >
        <h3 class="collapse-format-1">${question}</h3>
        <div    class="fulljustify font-small"  >
            ${answer}
        </div>
    </div>
    </div>
</script>



