<!--Explore View-->
<div data-role="view" data-title="" data-layout="main-layout" id="home-view" data-model="preLogin" data-show="preLogin.varInit" data-hide="preLogin.destroyhome" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div>
        <div data-role="navbar" style="background-color:transparent !important">
            <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawerN">
                <i class="fa fa-reorder fa-lg" style="color:#fff"></i>
            </a>
            <span data-role="view-title"></span>
        </div>
        <div class="logo-top">
            <div class="logo-image-holder"></div>
            <div class="home-page-holder home-page-logo-text-holder" style="color:#302d2d">SAY HELLO TO</div>
             <div class="home-page-holder home-page-logo-text-holder" style="color:#302d2d;font-style:italic">isme by Jumeirah</div>
        </div>
                    <div class="filler10">&nbsp;</div>

        <div class="button-frame">
         
            <a  id="btnEnrol" data-role="button" data-click="loadDiscover" class="button-discover">Sneak Peak</a>

        </div>
    </div>
    
        <footer data-role="footer">
                   <div class="button-frame-inline-home">
                     <a data-transition="slide:up"   data-role="button"   data-click="loadLogin">Login</a>
                     <a data-transition="slide:up"   data-role="button"    data-click="loadEnrol">Sign Up</a>   
                </div>
            </footer>
</div>

<style scoped>
    
    #home-view .button-discover
    {
        background-color: #000;
        color: #fff;
        font-size:125%;
    }
        
         
   
</style>
    