<div data-role="view" data-title="SPA & Theme Park" data-layout="back-layout" id="liesurelist-theme"  data-model="preLogin">
    <div data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
            <span data-role="view-title"></span>
            <a  data-role="button" data-click="loadFilterView" data-align="right" >
                <i class="fa fa-filter fa-lg" style="color:#fff"></i>
            </a>
            <a data-role="button" data-click="getLocation5" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>
  <div class="logo-top-list">
           
        </div>
    <ul data-role="listview"  >
         <a>
            <div class="button-frame-inline height-80">
                 <a  href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Talise Ottmon Spa</a>
            </div>
        </a>
        <a href="views/outletdetail.html" data-transition="slide:left">
            <div class="button-frame-inline height-80">
                 <a data-transition="slide"   id="mobile-button1" data-role="button"  >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Wild Wadi</a>
            </div>
        </a>
        
          <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Talise Ottmon Spa</a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"   >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"   >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Wild Wadi</a>
            </div>
        </a>
         <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"  id="mobile-button1" data-role="button"   >Talise Ottmon Spa</a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"  >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a href="views/outletdetail.html" data-transition="slide:up"   id="mobile-button1" data-role="button"   >Wild Wadi</a>
            </div>
        </a>
        

    </ul>

</div>

