<div data-role="view" data-title="Leisure" data-layout="back-layout" id="liesurelist-theme"  data-model="preLogin" data-show="preLogin.showAllLeisure">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
            <a  data-role="button" data-click="loadFilterView" data-align="right" >
                <i class="fa fa-search fa-lg" style="color:#fff"></i>
            </a>
        
        </div>
    </div>
    <div class="logo-top-list">

    </div>
    <ul data-role="listview" id="leisure-list">

    </ul>

</div>

