<div data-role="view" data-title="Leisure" data-layout="back-layout" id="liesurelistb-theme"  data-model="preLogin" data-show="preLogin.showAllLeisure1" data-reload="true">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
          
        
        </div>
    </div>
    <div class="logo-top-list">

    </div>
    <ul data-role="listview" id="leisure-list-b">

    </ul>

</div>
