<div data-role="view" data-layout="back-layout" data-title="Sign In" id="login-theme" data-model="preLogin" data-show="preLogin.loginInit" data-init="preLogin.varInit">

    <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <span data-role="view-title"></span>
            <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>
        </div>
    </div>

    <ul data-role="listview">

        <li>
            <div class="input-frame-enrol">
                <input type="number" id="username" data-bind="value: username" placeholder="Member ID"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol">
                <input type="password" id="password" data-bind="value: password" placeholder="Password"/>
            </div>
        </li>
        <li>
            <div class="switch-frame">
                <label  class="white-color">
                    Remember Me
                    <input data-role="switch" name="rememberme" id="profile-rememberme" type="checkbox" data-bind="events: {change: updateRememberMe}"/>
                </label>
            </div>
        </li>

        <li>
            <div class="button-frame-inline">
                <a id="mobile-button1" data-role="button" data-bind="click: validateUser">Login</a>
            </div>
        </li>

        <li>
            <a  data-transition="slide:up"   id="mobile-button1" href="views/resetpassword.html" style="background-color:transparent !important">
                <div class="switch-frame one-line">RESET PASSWORD</div>
            </a>
        </li>

        <li>
            <div class="button-frame-inline">
                <a  id="mobile-button1" data-role="button" data-bind="click: validateUser" class="button-loginwithfacebook">Login with Facebook</a>
            </div>
        </li>

        <div>
            <li></li>
        </div>
    </ul>

</div>

