<div data-role="view" data-layout="pre-layout" data-title="Login" id="login-theme" data-model="preLogin" data-show="preLogin.loginInit" data-hide="preLogin.destroylogin" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">

        <div data-role="navbar" style="background-color:transparent !important">
            <div class="brand-icon"></div>
            <span data-role="view-title"></span>
            <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>
        </div>

    <ul data-role="listview">

        <li>
            <div class="input-frame-enrol-1">
                <input type="number" id="username" data-bind="value: username" placeholder="Member ID"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <input type="password" id="password" data-bind="value: password" placeholder="Password"/>
            </div>
        </li>
        <div class="filler10"></div>
           <li>
            <div class="button-frame-login">
                <a  data-role="button" data-bind="click: validateUser">Login</a>
            </div>
        </li>
             <li>
            <a  data-transition="slide:up"   id="mobile-button1" href="views/resetpassword.html" style="background-color:transparent !important">
                <div class="switch-frame one-line">RESET PASSWORD</div>  
            </a>
        </li>
        
        <li>
            <div class="switch-frame-1" >
                <label  class="white-color" style="color:#fff">
                    Remember Me
                    <input data-role="switch" name="rememberme" id="profile-rememberme" type="checkbox" data-bind="events: {change: updateRememberMe}" checked="false"/>
                </label>
            </div>
        </li>

       <li>
            <div class="switch-frame-1" >
                <label  class="whitecolor" style="color:#fff">
                    Agree to
                    <a data-role="button" data-click="onClick" style="color:#fff;border:0px !important;background-color:transparent !important">
                        Terms & Conditions
                    </a>
                    <input data-role="switch" id="enrol-tandc-accept-a" type="checkbox" checked="true" />
                </label>
            </div>
        </li>

         <li>
            <div class="switch-frame-1" >
                <label  class="whitecolor" style="color:#fff">
                    Agree to
                    <a data-role="button" data-click="onClick1" style="color:#fff;border:0px !important;background-color:transparent !important">
                        Data Protection Policy
                    </a>
                    <input data-role="switch" id="enrol-tandc-accept-b" type="checkbox" checked="true"/>
                </label>
            </div>
        </li>

        <li>
            <div class="button-frame-login">
                <a data-role="button" data-bind="click: fbLoginD" class="button-loginwithfacebook">Login Using Facebook</a>
            </div>
        </li>
    

        <div>
            <li></li>
        </div>
    </ul>

</div>

