<div data-role="view" data-title="Data Protection Policy" data-layout="back-layout" id="device-theme" data-model="preLogin" data-hide="preLogin.mobilepolicy" >
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left" style="height:32px;width:32px;color:#c2d2e2">
            </a>
            <span data-role="view-title"></span>
        </div>
    </header>
      <ul data-role="listview" style="background-color:#fff" >
      <div class="fulljustify">
<span style="font-weight:bold;text-align:center">isme by Jumeirah Data Protection Policy</span>

By providing my personal data (which may include sensitive personal data, e.g. details of my race, physical or mental health or condition), I acknowledge that I am agreeing to its collection, transfer and other processing by Jumeirah International LLC in Dubai and its affiliated businesses and third party processors which are involved in the operation of its facilities and services throughout the world in countries where data protection laws may differ or not exist.  Details of such affiliated businesses, facilities and services can be provided on request.  Details of third party processors, what data may be collected and how the data will be used can be found in Jumeirah International LLC’s Privacy and Cookies Policy, which can be accessed online at http://www.jumeirah.com/privacypolicy or can be provided on request.

If I am providing data about a third party, I confirm that I have obtained the consent of that third party to such use of their data.

I agree to the terms set out above relating to the use of data and accept the isme by Jumeirah Terms and Conditions. I confirm that I am at least 21 years of age.

Jumeirah International LLC and its affiliated businesses would like to use your details for marketing purposes to send you news of other special offers and promotions which are offered by them and / or by their key partners (the identities of which are available on request or are available online at http://www.jumeirah.com/strategic-global-partnerships).


You may opt out of receiving any marketing material from us at any time by informing us at the following email address: info@isme.jumeirah.com


        </div>
          </ul>
   
</div>