<!--Offer List View-->
<div id="offerlist-view"
     data-role="view"
     data-title="Offers" data-layout="back-layout"  data-model="preLogin">
    <div data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
            <span data-role="view-title"></span>
           <a  data-role="button" data-click="offerFilterView" data-align="right" >
                <i class="fa fa-filter fa-lg" style="color:#fff"></i>
            </a>
            <a data-transition="slide"   data-role="button" data-click="loadMapView" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>

    <ul data-role="listview"  >
        <a href="views/offerdetail.html" data-transition="slide:left">
            <div class="offer-frame-1  outer-frame image-enhancer">
                <div class="box-text">Emirates Airline Offer</div>
            </div>
        </a>
        <a href="views/offerdetail.html" data-transition="slide:left">
            <div class="offer-frame-2  outer-frame image-enhancer" >
                <div class="box-text">Couple Dinner</div>
            </div>
        </a>
        <a href="views/offerdetail.html" data-transition="slide:left">

            <div class="offer-frame-3  outer-frame image-enhancer ">
                <div class="box-text">Niught Out at Rays Grill</div>
            </div>
        </a>

        <div class="offer-frame-4  outer-frame image-enhancer ">
            <div class="box-text">Family Day at Al Maraa</div>
        </div>

        <div class="offer-frame-5 outer-frame image-enhancer ">
            <div class="box-text">UAE National Day Celebration</div>
        </div>

        <div class="offer-frame-6 image-enhancer outer-frame">
            <div class="box-text">Dinner at Alfies Interior</div>
        </div>

        <div class="offer-frame-7 image-enhancer outer-frame">
            <div class="box-text">Tea Time Offer at Lobby Lounge</div>
        </div>
        <div class="offer-frame-8 image-enhancer outer-frame">
            <div class="box-text">Lunch at Arboretum</div>
        </div>
        <div class="offer-frame-9 image-enhancer outer-frame">
            <div class="box-text">Weekend Brunch Offer</div>
        </div>
        <div class="offer-frame-10 image-enhancer outer-frame">
            <div class="box-text">Morrocon Night at Al Iwan</div>
        </div>

    </ul>
</div>

<div data-role="modalview" id="modalviewmap" data-title="Map"  style="height:100%;width:100%" data-model="preLogin">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-click="closeModalMap" data-role="button" data-align="right">
                <i class="fa fa-times-circle fa-2x" style="color:#fff"></i>
            </a>
        </div>

    </div>
 
      <div id="map_canvas1" class="home-pos">

            </div> <div data-bind="value: getLocationO" style="display:none"></div>
</div>

<div data-role="modalview" id="modalviewofferfilter" style="height:90%;width:90%" data-model="preLogin">
    <div data-role="header" style="background-color:#4f5053">
        <div data-role="navbar">
            <span >Filters</span>
            <a data-click="closeOfferFilterView" data-role="button" data-align="right" data-animated="true">
                Go
            </a>
        </div>
    </div>
    <div class="list-group">&nbsp;Location</div>
    <div class="list-group-data-header">
        <a data-click="loadLocationView" data-role="button">
            <div class="list-group-data-item">Select Location...</div>
            <div class="list-group-data-item" id="restaurantLocation">All</div>
        </a>
    </div>
    <div class="list-group">&nbsp;Celebration Type</div>
    <div class="list-group-data-header">
        <a data-click="loadCeleberationTypeView" data-role="button">
            <div class="list-group-data-item">Select Celebration Type...</div>
            <div class="list-group-data-item" id="restaurantType">All</div>
        </a>
    </div>

   
    <div class="list-group" data-bind="value:getOfferTypeData">&nbsp;Additional Filters</div>

    <ul id="Offer-Filter">

    </ul>
    

</div>

<div data-role="modalview" id="modalviewcountry" data-title=""  style="height:70%;width:90%" data-model="preLogin">
    <div data-role="header" style="background-color:#4f5053">
        <div data-role="navbar">
            <span >Select Location</span>
            <a data-click="closeLocationView" data-role="button" data-align="right" data-animated="true">
                Go
            </a>
        </div>
    </div>
    <ul id="Location-Filter"  data-bind="value:getLocationFilter" >
   </ul>
</div>

<div data-role="modalview" id="modalviewceleberationtype" data-title=""  style="height:70%;width:90%" data-model="preLogin">
    <div data-role="header" style="background-color:#4f5053">
        <div data-role="navbar">
            <span >Celebration Type</span>
            <a data-click="closeCeleberationTypeView" data-role="button" data-align="right" data-animated="true">
                Go
            </a>
        </div>
    </div>
    <ul id="Celebration-Filter"  data-bind="value:getCelebrationFilter" >
    </ul>
</div>

<script type="text/x-kendo-template" id="Celebration-Filter-Template">
    <div class="list-group-data-header">
        <div class="list-group-data-item" style="margin-left:10px;;width:65%">${celebitem}</div>
        <div class="list-group-data-item" id=${celebkey} style="text-align:center;width:15%">
            <i class="fa fa-minus-square-o fa-lg"></i>
        </div>
        <div class="list-group-data-item" id=${celebkey} style="text-align:center;width:15%">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </div>
    </div>
</script>


<script type="text/x-kendo-template" id="LocationFilter-Template">
    <div class="list-group-data-header">
        <div class="list-group-data-item" style="margin-left:10px;;width:65%">${locationitem}</div>
        <div class="list-group-data-item" id=${locationkey} style="text-align:center;width:15%">
            <i class="fa fa-minus-square-o fa-lg"></i>
        </div>
        <div class="list-group-data-item" id=${locationkey} style="text-align:center;width:15%">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </div>
    </div>
</script>
    
<script type="text/x-kendo-template" id="Offer-Filter-Template">
    <div class="list-group-data-header">
        <div class="list-group-data-item" style="margin-left:10px;width:65%">
            ${offeritem}
        </div>
        <div class="list-group-data-item" id=${offerkey} style="text-align:center;width:15%">
            <i class="fa fa-minus-square-o fa-lg"></i>
        </div>
        <div class="list-group-data-item" id=${offerkey} style="text-align:center;width:15%">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </div>
    </div>
</script>

<style scoped>
    #offerlist-view .list-group-data-header a
    {
        background-color: transparent !important;
    }

    #modalviewceleberationtype .km-content, #modalviewcountry .km-content, #modalviewofferfilter .km-content, #modalviewmap .km-content
    {
        background-color: #fff;
    }
    
    #modalviewcountry .button-select, #modalviewceleberationtype .button-select, #modalviewofferfilter .button-select
    
    {
        background-color: rgba(62, 65, 66, 0.7);
        color: #fff;
        font-size:1em;
        height:30px;
        line-height:10px;
        display:block;
    }
</style>

