<!--Offer List View-->
<div id="offerlist-view"
     data-role="view"
     data-title="Offers" data-layout="back-layout"  data-model="preLogin" data-hide="preLogin.destroyOfferListView" >
      <div data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-search fa-lg" style="color:#fff"></i>
            </a>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>

        <ul data-role="listview"  >

            <div class="offer-frame-1  outer-frame image-enhancer">
                <div class="box-text">Emirates Airline Offer</div>
            </div>

            <div class="offer-frame-2  outer-frame image-enhancer" >
                <div class="box-text">Couple Dinner</div>
            </div>

            <div class="offer-frame-3  outer-frame image-enhancer ">
                <div class="box-text">Niught Out at Rays Grill</div>
            </div>

            <div class="offer-frame-4  outer-frame image-enhancer ">
                <div class="box-text">Family Day at Al Maraa</div>
            </div>

            <div class="offer-frame-5 outer-frame image-enhancer ">
                <div class="box-text">UAE National Day Celebration</div>
            </div>

            <div class="offer-frame-6 image-enhancer outer-frame">
                <div class="box-text">Dinner at Alfies Interior</div>
            </div>

            <div class="offer-frame-7 image-enhancer outer-frame">
                <div class="box-text">Tea Time Offer at Lobby Lounge</div>
            </div>
            <div class="offer-frame-8 image-enhancer outer-frame">
                <div class="box-text">Lunch at Arboretum</div>
            </div>
            <div class="offer-frame-9 image-enhancer outer-frame">
                <div class="box-text">Weekend Brunch Offer</div>
            </div>
            <div class="offer-frame-10 image-enhancer outer-frame">
                <div class="box-text">Morrocon Night at Al Iwan</div>
            </div>

        </ul>


    <style scoped>

     
        #offerlist-list-view a
        {
            background-color: transparent !important;
            color: #fff;
        }    
        #offerlist-view ul li
        {
            width: 100%;
            margin-left: -5%;
            margin-right: -5%;
            margin-bottom: 5px;
        }
    </style>
