<!--Offer List View-->
<div id="offerlist-view" data-reload="true"
     data-role="view"
     data-title="Offers" data-layout="pre-layout"  data-model="preLogin" data-show="preLogin.rewardList" data-hide="preLogin.destroyofferlist" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
                        <span data-role="view-title"></span>
            <a  data-role="button" data-click="offerFilterView" data-align="right">
                <i class="fa fa-filter fa-lg" style="color:#fff"></i>
            </a>
        
        </div>
    </div>

 <ul data-role="listview"  id="offer-list-view" >
       
   
    </ul>
</div>

