<div data-role="view"   data-title="Burj Al Arab" data-layout="back2-layout" id="offerdetail-theme"  data-model="preLogin">
    <ul data-role="buttongroup" data-index="0" id="offertab" class="button-group a-group">
        <li>
            Details
        </li>
        <li>
            Locations
        </li>

    </ul>
    <ul data-role="listview"    style="margin-top:0px" id="offer-detail-div" >
    <div class="hero-image" id="outlet-image-large">
        <img id="outletimage" src="images/rest3.png" class="img-hero"/>

    </div>
   
        <div class="fulljustifyblue-bold">
            Triple Krisflyer and bonus miles.
            -Singapore Airlines
        </div>

        <div id="ooutlet-long" class="fulljustifyblack">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

            Doloremque laudantium, totam rem aperiam. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.

        </div>

        <li>
            <div class="swith-frame-voucher">
                Agree to
                <a href="#modalviewterms" data-role="button" data-click="onClick" style="border:0px">
                    Terms & Conditions
                </a>
                <input data-role="switch" name="rememberme" id="profile-rememberme" type="checkbox"/>
            </div>
        </li>
        <li>
            <div class="button-frame-inline">
                <a data-role="button"  data-click="showConfirm" style="background-color:#ccc;color:#000">Add to my Wallet</a>
            </div>
        </li>

        <li>
            <div class="button-frame-inline">
                <a data-role="button"  data-click="showConfirm" style="background-color:#ccc;color:#000">Redeem</a>
            </div>
        </li>
        <div>
            <li></li>
        </div>

    </ul>

    <ul data-role="listview" style="margin-top:0px;display:none" id="offer-location-div" >
        <a>
            <div class="button-frame-inline height-80">
                <a id="mobile-button1" data-role="button"   >
                    360<sup>o</sup>
                </a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                <a data-transition="slide"   id="mobile-button1" data-role="button"   >AL Iwan</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a     id="mobile-button1" data-role="button"   >Al Mahaara</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Al Muntaha</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Bab Al Yaam</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Talise</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >
                    360<sup>o</sup>
                </a>
            </div>
        </a>
        <a >
            <div class="button-frame-inline height-80">
                <a data-transition="slide"   id="mobile-button1" data-role="button"   >AL Iwan</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a     id="mobile-button1" data-role="button"   >Al Mahaara</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Al Muntaha</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Bab Al Yaam</a>
            </div>
        </a>

        <a>
            <div class="button-frame-inline height-80">
                <a    id="mobile-button1" data-role="button"   >Talise</a>
            </div>
        </a>

    </ul>

</div>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#offertab").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>
