<div data-role="view"   data-title="" data-layout="back2-layout" id="offerdetail-theme"  data-model="preLogin" data-init="initOfferGroup" data-hide="preLogin.destroyofferdetail" data-show="preLogin.showOfferItem" style="background-color:#fff">
    <ul data-role="buttongroup" data-index="0" id="offertab" class="button-group a-group">
        <li>
            Details
        </li>
        <li data-bind="click: showOfferOutlet">
            Locations
        </li>

    </ul>
    <ul data-role="listview"    style="margin-top:0px;background-color:#fff !important;display:none" id="offer-detail-div" >
   <div class="hero-image">
            <img id="offerimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>         

        <li>
            <div id="offer-short-1"></div>
        </li>
        <li>
        
        <li>
            <div id="offer-long-1">
            </div>
        </li>
            
             <li>
            <div id="offer-expiry" class="detail-subhead cblack">
            </div>
        </li>  
            
          

            
        <li>
            <div class="swith-frame-voucher">
                Agree to
                <a href="#modalviewterms" data-role="button" data-click="onClick" style="border:0px">
                    Terms & Conditions
                </a>
                <input data-role="switch" name="rememberme" id="profile-rememberme" type="checkbox"/>
            </div>
        </li>
        <li>
            <div class="button-frame-login">
                <a data-role="button"  data-click="showConfirm" style="background-color:#000" >Add to my Reward</a>
            </div>
        </li>

        <li>
            <div class="button-frame-login">
                <a data-role="button"  data-click="showConfirm" style="background-color:#000" >Redeem</a>
            </div>
        </li>
                           <li>
            <div id="offer-remark">
            </div>
        </li>
        <div>
            <li></li>
        </div>
    </ul>

    <ul data-role="listview" style="margin-top:0px;display:none" id="offer-location-div" >
      
    </ul>

</div>

<script>
    function initOfferGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#offertab").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>
