<div data-role="view"   data-layout="back-layout" id="offerdetail-theme"  data-hide="preLogin.offerDetaildestroyView" data-model="preLogin">
   <header data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/offerlist.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title">Airline Offer</span>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" >
                <i class="fa fa-share-alt fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>

    <div class="hero-image" id="outlet-image-large">
        <img id="outletimage" src="images/rest3.png" class="img-hero"/>

    </div>

    <ul data-role="listview"    style="margin-top:0px" id="outlet-detail-div" >
         <div class="fulljustifyblue-bold">
             Triple Krisflyer and bonus miles.
             -Singapore Airlines
         </div>
        
        
        <div id="ooutlet-long" class="fulljustifyblack">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

            Doloremque laudantium, totam rem aperiam. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
         
        </div>
        
        <div class="fulljustifyblue-bold">
             This offer is valid for isme members only
         </div>


    </ul>
    <footer data-role="footer">
                <div data-role="tabstrip" style="background-color:#000" data-selected-index="5">
                    <a id="outlet1" href="#" class="fa" data-icon="customstar" ></a>
                    <a id="outlet2" href="#" class="fa" data-icon="customlocation"></a>
                    <a id="outlet3" href="#" class="fa" data-icon="customenvelope"></a>
                    <a id="outlet4" href="#" class="fa" data-icon="customcall"></a>
                </div>
            </footer>
</div>

