<div data-role="view" data-reload="true" data-title="Bars & Dining" data-layout="pre-layout" id="outletlistb-theme"  data-model="preLogin" data-show="preLogin.showAllOutlet1" data-hide="preLogin.destroyoutletlistb" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
      <a  data-role="button" data-click="getLocation6" data-align="right" style="margin-right:10px">
                        <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
                    </a>
              <a  data-role="button" data-click="loadFilterView" data-align="right" style="margin-right:10px">
                        <i class="fa fa-filter fa-lg" style="color:#fff"></i>
                    </a>
        </div>
    </div>
 
     <ul data-role="listview" id="outlet-list-b">

    </ul>
    
      
</div>
