<div data-role="view" data-reload="true" data-title="Bars & Dining" data-layout="pre-layout" id="outletlist-theme"  data-model="preLogin" data-show="preLogin.showAllOutlet" data-hide="preLogin.destroyoutletlist" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
            <a  data-role="button" data-click="loadFilterView" data-align="right"  style="display:none">
                <i class="fa fa-search fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>
  
     <ul data-role="listview" id="outlet-list">

    </ul>
    
      
</div>

