<div data-role="view" id="outletdetail-theme"   data-title="" data-layout="back2-layout" data-model="preLogin" data-show="preLogin.showOutletItem" style="background-color:#fff" data-hide="hideOutletDetail">

    <ul data-role="listview"    style="margin-top:5px;display:none;background-color:#fff" id="outlet-detail-div" >
        <div class="hero-image">
            <img id="outletimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>

        <li>
            <div id="outlet-short-1"></div>
        </li>
        <li>
        
        <li>
            <div id="outlet-long-1">
            </div>
        </li>
        <div></div>
    </ul>

</div>

