<div data-role="view" data-title="Bars & Dining" data-layout="back-layout" id="outletlistb-theme"  data-model="preLogin" data-show="preLogin.showAllOutlet1">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span data-role="view-title"></span>
   
        </div>
    </div>
  <div class="logo-top-list">
           
        </div>
     <ul data-role="listview" id="outlet-list-b">

    </ul>
    
      
</div>
