<div data-role="view" data-title="About isme by Jumeirah" data-layout="pl-back-layout" id="pl-aboutisme-theme" data-model="postLogin" data-show="postLogin.showCard">
 <ul data-role="listview">
       
        <div id="urldata-terms" class="fulljustify">
Explore and indulge, dip in and dip out of Jumeirah’s unrivalled destinations in the United Arab Emirates and enjoy personalised lifestyle experiences. isme by Jumeirah is all about having more fun, food and fitness at your fingertips. It’s the rewards and recognition programme that brings together the best of the Jumeirah venues in one mobile app.

Wherever you go in the UAE and whatever lifestyle activity suits your mood, isme by Jumeirah is about extending and elevating the experience. From globally recognised dining to sumptuous spa moments. From working out in the health club to wining and dining. From summers on pristine beaches to the thrills of water sports. The moment you arrive at one of our destinations, it’s up to you to soak up more and more of life’s beautiful benefits.

Be more than a guest. Be different. Become an isme by Jumeirah member today.

isme by Jumeirah Mobile App: Version 1.0
            
        </div>
    </ul>
</div> 