<div data-role="view"  data-title=""  data-layout="pl-back2-layout" id="pl-branddetail-theme"  data-model="postLogin" data-show="postLogin.showPropertyItem" style="background-color:#fff" data-reload="true" data-hide="postLogin.destroyplbranddetail">
  
  
    <ul data-role="listview"    style="margin-top:5px;display:none;background-color:#fff" id="pl-property-detail-div" >   
        <div class="hero-image">
            <img id="pl-brandimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>

        <div style="width:100%">
            <a href="views/pl-outletlistb.html"  data-transition="slide:up" >
                <div class="discover-back-part-a discover-back-part-a1" style="margin-left:0px">
                    View<br>Bars & Dining
                </div>
            </a>

            <a href="views/pl-leisurelistb.html" data-transition="slide:up">
                <div class="discover-back-part-a discover-back-part-a2" style="margin-left:4%">
                    View<br>Leisure
                </div>
            </a>
        </div>

           <div id="pl-property-short-1"></div>

            <div id="pl-property-short-2"></div>   
           <div id="pl-property-long-1"> 
            </div>
        <div></div>
    </ul>
</div>



