<div data-role="view" data-title="Our Brands" data-layout="pl-back-layout" id="pl-brandpage-theme" data-model="postLogin"  data-transition="slide:up" data-stretch="true">

    <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div> 
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
        </div>
    </header>
    <div class="brand-holder"></div>
    <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
                      <div class="footer-logo" data-bind="click:plshowBrandPage">&nbsp;</div>


        </div>
    </footer>
</div>