<div data-role="view"   data-layout="pl-back2-layout" id="pl-branddetail-theme"  data-model="preLogin" data-hide="pcloseShareBrand">
  
    <div id="plpanelBrand" class="class-share-div">
        <div class="share-menu-line-1">
            <div class="share-menu-line-1" style="height:10px">&nbsp;</div>
            <div class="button-frame-inline-round">
                <a id="btn-facebook" data-role="button" data-bind="click: socialsharingFacebook" >
                    <i class="fa fa-facebook fa-2x  share-class"></i>
                </a>
            </div>
            <div class="button-frame-inline-round">
                <a id="btn-twitter" data-role="button" data-bind="click: socialsharingTwitter" >
                    <i class="fa fa-twitter fa-2x   share-class"></i>
                </a>
            </div>
        </div>
        <div class="share-menu-line-1" style="height:10px">&nbsp;</div>
        <div class="share-menu-line-1">
            <div class="button-frame-inline-round">
                <a id="btn-whatsapp" data-role="button" data-bind="click: socialsharingWhatsApp" >
                    <i class="fa fa-whatsapp fa-2x   share-class"></i>
                </a>
            </div>
            <div class="button-frame-inline-round">
                <a id="btn-email" data-role="button" data-bind="click: socialsharingEmail" >
                    <i class="fa fa-envelope fa-2x   share-class"></i>
                </a>
            </div>
        </div>
        <div class="share-menu-line-2">
            <a data-click="plcloseShareBrand" data-role="button">
                <i class="fa fa-chevron-up fa-2x" style="color:#fff"></i>
            </a>
        </div>
    </div>

    <div class="hero-image" id="outlet-image-large">
        <img id="outletimage" src="images/Brand1.png" class="img-hero"/>

    </div>

    <ul data-role="listview"    style="margin-top:0px" id="outlet-detail-div" >
        <div style="width:100%">
            <a href="views/outletlist.html"  data-transition="slide:up" >
                <div class="discover-back-part-a discover-back-part-a1">
                    View<br>Restaurants
                </div>
            </a>
            <a href="views/outletlist.html" data-transition="slide:up">
                <div class="discover-back-part-a discover-back-part-a2">
                    View<br>Spa
                </div>
            </a>
        </div>
        <div id="ooutlet-long" class="fulljustifyblack">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

            Doloremque laudantium, totam rem aperiam. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.

        </div>

    </ul>
    
</div>




<style scoped>
    
    #btn-email, #btn-facebook, #btn-twitter, #btn-whatsapp 
    {
        -webkit-border: #fff solid 2px;
        -moz-border: #fff solid 2px;
        border: #fff solid 2px; 
    }     
    
  
</style>