<div data-role="view"  data-title="Program Benefits" data-layout="pl-main-layout" id="pl-benefit-theme" data-model="preLogin" >
    
    <div class="button-group-single-isme">isme</div>
     

  
    <ul data-role="listview">

    
        <li>
            <div class="class-benefit gutter-space">Membership Duration</div>
            <div class="class-benefit">No Expiry</div>
        </li>
        <hr/>
        <li>
             <div class="class-benefit gutter-space">Rooms</div>
            <div class="class-benefit">10% off best available rates (UAE Hotels only)</div>
        </li>
        <hr/>
        <li>
             <div class="class-benefit gutter-space">Food & Beverage</div>
            <div class="class-benefit">10% off on food & beverage </div>
        </li>
<hr/>
        <li>
            <div class="class-benefit gutter-space">Talise Spa</div>
            <div class="class-benefit">10% off on treatments</div>
        </li>
<hr/>
        <li>
            <div class="class-benefit gutter-space">Wild Wadi</div>
            <div class="class-benefit">15% off on entry</div>
              </li>
        <hr/>
        <li>
            <div class="class-benefit gutter-space">Spouse Card</div>
            <div class="class-benefit">No</div>
        </li>
        <hr/>

        <li>
            <div class="class-benefit gutter-space">e-Vouchers (Valid for (3) months from subscription</div>
            <div class="class-benefit">-Instant Welcome Pack<br>-BOGOF on Talise Spa 60 minutes massage<br>-BOGOF on dinner at any JRG Rstaurant (food only)<br>-BOGOF on dinner at any JRG Rstaurant (food only)</div>
        </li>
<hr/>
        </ul>

       
</div>






