<!--Offer List View-->
<div id="pl-brandlist-view"
     data-role="view"
     data-title="Our Brands" data-layout="pl-back-layout"   data-model="preLogin" >
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="views/pl-home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>
            <a data-transition="slide" data-role="button" data-click="getLocation5" data-align="right" >
                <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </div>
    <ul data-role="listview"  >
        <a href="views/pl-branddetail.html" data-transition="slide:left">
            <div class="outer-frame-1  outer-frame image-enhancer">
                <div class="box-text">BURJ AL ARAB</div>
            </div>
        </a>
        <a href="views/pl-branddetail.html" data-transition="slide:left">
            <div class="outer-frame-2  outer-frame image-enhancer" >
                <div class="box-text">JUMEIRAH ETIHAD TOWERS</div>
            </div>
        </a>
        <a href="views/pl-branddetail.html" data-transition="slide:left">

            <div class="outer-frame-3  outer-frame image-enhancer ">
                <div class="box-text">JUMEIRAH ISLAND HOTEL</div>
            </div>
        </a>

        <div class="outer-frame-4  outer-frame image-enhancer ">
            <div class="box-text">JUMEIRAH BEACH HOTEL</div>
        </div>

        <div class="outer-frame-5 outer-frame image-enhancer ">
            <div class="box-text">JUMEIRAH CREEKSIDE HOTEL</div>
        </div>

        <div class="outer-frame-6 image-enhancer outer-frame">
            <div class="box-text">JUMEIRAH EMIRATES TOWERS</div>
        </div>

        <div class="outer-frame-7 image-enhancer outer-frame">
            <div class="box-text">JUMEIRAH ROYAL HOTEL</div>
        </div>
        <div class="outer-frame-8 image-enhancer outer-frame">
            <div class="box-text">MADINAT JUMEIRAH</div>
        </div>
        <div class="outer-frame-9 image-enhancer outer-frame">
            <div class="box-text">ZABEEL SARAYA</div>
        </div>
        <div class="outer-frame-10 image-enhancer outer-frame">
            <div class="box-text">TALISE SPA</div>
        </div>

    </ul>

</div>

<style scoped>

     
    #pl-brandlist-list-view a
    {
        background-color: transparent !important;
        color: #fff;
    }    
    #pl-brandlist-view ul li
    {
        width: 100%;
        margin-left: -5%;
        margin-right: -5%;
        margin-bottom: 5px;
    }
</style>
