<div data-role="view"  data-title="Program Benefits" data-layout="pl-main-layout" id="pl-benefit-theme" data-model="preLogin" >
      <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"  style="margin-top:.3em;color:#fff" data-click="postLoginBack">
            </a>
            <span data-role="view-title" id="item-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" >
                <i class="fa fa-credit-card fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>
    <div class="button-group-single-isme">isme</div>
     

  
    <ul data-role="listview">

    
        <li>
            <div class="class-benefit gutter-space">Membership Duration</div>
            <div class="class-benefit">No Expiry</div>
        </li>
        <li>
             <div class="class-benefit gutter-space">Rooms</div>
            <div class="class-benefit">10% off best available rates (UAE Hotels only)</div>
        </li>
        <li>
             <div class="class-benefit gutter-space">Food & Beverage</div>
            <div class="class-benefit">10% off on food & beverage </div>
        </li>

        <li>
            <div class="class-benefit gutter-space">Talise Spa</div>
            <div class="class-benefit">10% off on treatments</div>
        </li>

        <li>
            <div class="class-benefit gutter-space">Wild Wadi</div>
            <div class="class-benefit">15% off on entry</div>
              </li>
        <li>
            <div class="class-benefit gutter-space">Spouse Card</div>
            <div class="class-benefit">No</div>
        </li>
        <div style="margin-left:5%;margin-right:3%">
        <li>
            <div class="class-benefit gutter-space">e-Vouchers (Valid for (3) months from subscription</div>
            <div class="class-benefit">-Instant Welcome Pack<br>-BOGOF on Talise Spa 60 minutes massage<br>-BOGOF on dinner at any JRG Rstaurant (food only)<br>-BOGOF on dinner at any JRG Rstaurant (food only)</div>
        </li>
</div>
    </ul>

    <ul data-role="listview"   style="background-color:#fff;margin-top:0px;display:none" id="isme-elite">

    
        <li>
            <div class="class-benefit gutter-space">Membership Duration</div>
            <div class="class-benefit">One Year</div>
        </li>
        <li>
             <div class="class-benefit gutter-space">Rooms</div>
            <div class="class-benefit">25% off best available rates (UAE Hotels only)</div>
        </li>
        <li>
             <div class="class-benefit gutter-space">Food & Beverage</div>
            <div class="class-benefit">25% off on food & beverage </div>
        </li>

        <li>
            <div class="class-benefit gutter-space">Talise Spa</div>
            <div class="class-benefit">25% off on treatments</div>
        </li>

        <li>
            <div class="class-benefit gutter-space">Wild Wadi</div>
            <div class="class-benefit">25% off on entry</div>
              </li>
        <li>
            <div class="class-benefit gutter-space">Spouse Card</div>
            <div class="class-benefit">No</div>
        </li>
        <li>
            <div class="class-benefit gutter-space">e-Vouhers (Valid for 1 year from subscription</div>
            <div class="class-benefit">-Instant Welcome Pack<br>-BOGOF on Talise Spa 60 minutes massage<br>-BOGOF on dinner at any JRG Rstaurant (food only)<br>-BOGOF on dinner at any JRG Rstaurant (food only)</div>
        </li>
   </ul>
    
</div>





