<div data-role="view" data-title="Discount Successful" data-layout="pl-back3-layout" id="pl-confirmredemption-view" data-model="postLogin" data-show="postLogin.discountRedeemConfirm">
 <div data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/pl-home.html" data-align="left" style="color:#fff"  data-icon="back" data-click="postLoginBackOne"></a>
            <span data-role="view-title"></span>
           
        </div>
    </div>
    <ul data-role="listview"   style="background-color:#fff">
        <div class="hero-image">
            <img id="offerimage" src="images/large_logo_placeholder.png" class="img-hero"/>
        </div>
     <li>
            <div style="width:100%;position:relative;float:left">
           
                <div class="mycard-detail-holder-label  whitecolor">Discount Ref.:</div>
                <div class="mycard-detail-holder-data  whitecolor" id="discount-1" style="height:3em;line-height:1.5em"></div>
                
                <div class="mycard-detail-holder-label  whitecolor">Restaurant:</div>
                <div class="mycard-detail-holder-data  whitecolor" id="discount-2" style="height:3em;line-height:1.5em"></div>

                <div class="mycard-detail-holder-label  whitecolor">Segment:</div>
                <div class="mycard-detail-holder-data  whitecolor" id="discount-3" style="height:3em;line-height:1.5em"></div>

                </div>
            <br>
        </li>
        <DIV>
            <LI></LI>
        </DIV>
    </ul>
 
    <div class="button-frame-inline">
        <a  data-role="button" href="views/pl-home.html"  data-transition="slide:up"  >Home</a>
    </div>

</div>