<div data-role="view" data-title="Customer Service" data-layout="pl-back-layout" id="pl-customerservice-theme"   data-model="postLogin" data-show="postLogin.showCard">
   
    <div class="outer-frame" style="margin-top: 50%">

        <div class="button-frame-inline-round" >
            <a data-role="button" data-click="supportEmailA" style="border: 2px solid #966806;" >
                <i class="fa fa-envelope fa-3x" style="color: #966806"></i>
            </a>
        </div>
        <div class="button-frame-inline-round">
            <a data-role="button" data-click="customerCare" style="border: 2px solid #1c6b06;" >
                <i class="fa fa-phone fa-3x"  style="color:#1c6b06"></i>
            </a>
        </div>

    </div>
</div>



