<div data-role="view" data-title="Confirmation" data-layout="pl-back3-layout" id="pl-voucheredeem-view" data-model="postLogin" data-show="postLogin.selfRedeemConfirm" data-hide="postLogin.destroyplconfirmvoucher">
 <div style="height:25%">&nbsp;</div>
    <ul data-role="listview"   style="background-color:#fff">
      
        <div class="filler"></div>
        
   <div class="mycard-detail-holder-label" style="width:100%;position:relative;float:none;text-align:center">Authorization Code</div>

<div class="filler"></div>
                <div class="filler"></div>
                <div class="mycard-detail-holder-data " id="authcode" style="font-size:125%;width:100%;position:relative;float:none;text-align:center"></div>                         
          
        <li>
            <div class="fulljustify">
               Thank you for redeeming your isme By Jumeirah reward
            </div>
        </li>
         
        <div><li></li></div>
    </ul>
 
    

</div>