<div data-role="view" data-title="Confirmation" data-layout="pl-back3-layout" id="pl-confirmredemption-view" data-model="postLogin" data-show="postLogin.discountRedeemConfirm" data-hide="postLogin.destroyplconfirmdiscount">

    <ul data-role="listview"   style="background-color:#fff">
      <div style="height:25%">&nbsp;</div>
     <li>
            <div style="width:100%;position:relative;float:left">
           
                <div class="mycard-detail-holder-label" style="width:100%;position:relative;float:none;text-align:center">Authorization Code</div>

<div class="filler"></div>
                <div class="filler"></div>
                <div class="mycard-detail-holder-data " id="discount-1" style="font-size:125%;width:100%;position:relative;float:none;text-align:center"></div>

       

                </div>
            <br>
        </li>
          <li>
            <div class="fulljustify">
              Thank you for redeeming your isme By Jumeirah reward
            </div>
        </li>
        <div><li></li></div>
    </ul>
 
    

</div>