<div data-role="view" data-title="Customer Service" data-layout="pl-back-layout" id="pl-customerservice-theme" data-model="preLogin">
    <div data-role="header">
        <div data-role="navbar">
                        <a data-role="button" data-click="postLoginBack"  data-align="left" style="color:#fff" data-icon="back"></a>
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="outer-frame" style="margin-top: 50%">

        <div class="button-frame-inline-round">
            <a id="btn-email" data-role="button" data-bind="click: supportEmailA" >
                <i class="fa fa-envelope fa-3x" style="color:#1c6b06"></i>
            </a>
        </div>
        <div class="button-frame-inline-round">
            <a id="btn-call" data-role="button" data-bind="click: customerCare" >
                <i class="fa fa-phone fa-3x" style="color: #966806"></i>
            </a>
        </div>

    </div>
</div>



