<div data-role="view" data-title="Discount Successful" data-layout="pl-back3-layout" id="pl-confirmredemption-view" data-model="postLogin" data-show="postLogin.discountRedeemConfirm" data-hide="postLogin.destroyplconfirmdiscount">

    <ul data-role="listview"   style="background-color:#fff">
        <div class="hero-image">
            <img id="offerimage" src="images/large_logo_placeholder.png" class="img-hero"/>
        </div>
     <li>
            <div style="width:100%;position:relative;float:left">
           
                <div class="mycard-detail-holder-label ">Authorization Code:</div>
                <div class="mycard-detail-holder-data " id="discount-1" style="height:3.6em;line-height:1.2em"></div>
                
                <div class="mycard-detail-holder-label ">Restaurant:</div>
                <div class="mycard-detail-holder-data " id="discount-2" style="height:3.6em;line-height:1.2em"></div>

                <div class="mycard-detail-holder-label ">Membership:</div>
                <div class="mycard-detail-holder-data " id="discount-3" style="height:3.6em;line-height:1.2em"></div>

                </div>
            <br>
        </li>
          <li>
            <div class="fulljustify">
               Discount Approved
            </div>
        </li>
        <div><li></li></div>
    </ul>
 
    <div class="button-frame-inline">
        <a  data-role="button" href="views/pl-home.html"  data-transition="slide:up"  >Home</a>
    </div>

</div>