<div data-role="view" data-title="Confirmation" data-layout="pl-main-layout" id="pl-voucheredeemblack-view" data-model="postLogin" data-show="postLogin.selfRedeemConfirmblack" data-reload="true" data-hide="postLogin.destroyplconfirmvoucherblack" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="button" data-align="left" style="color:#fff" data-icon="back" data-click="postLoginBack">
            </a>
            <span data-role="view-title"></span>

        </div>

        <div class="cardhead" style="background-color:#fff">
            <div class="class-card-div">
                <div class="filler10">&nbsp;</div>
                <div class="qr-image-sep">
                    <div class="qr-image" id="mycard-qrx"></div>
                </div>
              
                <div class="home-page-holder">
                    <div class="button-frame-login">
                        <a href="views/pl-discountpinmember.html" data-role="button" style="background-color:#283880;COLOR:#FFF" data-transition="slide:up">Apply Discount</a>
                    </div>

                </div>
                <div class="filler10"></div>
                <div class="general-text-line-1 cblack" id="expiry-backx" ></div>
            </div>
            <div class="share-menu-line-2-c">
                <a  data-click="cardClick" data-role="button" class="mymenu2">
                    <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                </a>
            </div>
        </div>
        <div class="share-menu-line-3">
            <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                <div class="share-menu-line-3-a" style="text-align:left" id="name-backx"></div>
                <div class="share-menu-line-3-a" style="text-align:center" id="number-backx">&nbsp;</div>
                <div class="share-menu-line-3-a" style="text-align:right" id="segment-backx"></div>

            </a>
        </div>
    </div>

    <ul data-role="listview" >
        <div style="height:100px">&nbsp;</div>
        <li>
            <div style="width:100%;position:relative;float:left">

                <div style="width:100%;position:relative;float:none;text-align:center;color:#fff">Authorisation Code</div>

                <div class="filler"></div>
                <div class="filler"></div>
                <div  id="authcodex" style="font-size:125%;width:100%;position:relative;float:none;text-align:center;color:#fff"></div>

            </div>
            <br>
        </li>
        <div style="height:50px">&nbsp;</div>
        <div style="width:100%;position:relative;float:none;text-align:center;color:#fff;font-weight:bold">Apply SNTTA Elite discount</div>
        <div style="height:50px">&nbsp;</div>
        <li>
            <div class="fulljustify cwhite">
                Thank you for redeeming your SNTTA Elite reward
            </div>
        </li>
        <div>
            <li></li>
        </div>
    </ul>

   
</div>