<div data-role="view" data-title="Customer Service" data-layout="pl-main-layout" id="pl-customerservice-theme"   data-model="postLogin" data-show="postLogin.showCard2" data-reload="true" data-hide="postLogin.destroyplcustomerservice" data-after-show="disableBackButton" data-before-hide="enableBackButton">
   <div data-role="header">
                <div data-role="navbar">
                        <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="postLoginBack" data-icon="back">  
                    </a>
                    <span data-role="view-title"></span>

                </div>
     
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qre"></div>
                        </div>
                    
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a href="views/pl-discountpinmember.html" data-role="button" style="background-color:#283880;COLOR:#FFF" data-transition="slide:up">Apply Discount</a>
                            </div>

                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backe" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                   <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backe"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backe">&nbsp;</div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backe"></div>

                    </a>
                </div>
       </div>
  
    <div class="outer-frame" style="margin-top: 50%">

        <div class="button-frame-inline-round" >
            <a data-role="button" data-click="supportEmailA" style="border: 2px solid #966806;height:100px;width:100px;line-height:60px" >
                <i class="fa fa-envelope fa-3x" style="color: #966806"></i>
            </a>
        </div>
        <div class="button-frame-inline-round">
            <a data-role="button" data-click="customerCare" style="border: 2px solid #1c6b06;height:100px;width:100px;line-height:60x" >
                <i class="fa fa-phone fa-3x"  style="color:#1c6b06"></i>
            </a>
        </div>

    </div>
    
  </div>



