<div data-role="view" data-title="Voucher Redemption" data-layout="pl-back3-layout" id="pl-voucheredeem-view" data-model="postLogin" data-show="postLogin.selfRedeemConfirm">

    <ul data-role="listview"   style="background-color:#fff">
          <div class="hero-image">
            <img id="offerimage" src="images/large_logo_placeholder.png" class="img-hero"/>
        </div>
        <div class="filler"></div>
           <li>
                        <div style="width:100%;position:relative;float:left">
   <div class="mycard-detail-holder-label1 whitecolor">Authorization:</div>
            <div class="mycard-detail-holder-data1" id="authcode"></div>                            
            <div class="mycard-detail-holder-label1">Voucher #:</div>
            <div class="mycard-detail-holder-data1" id="vouchernumber"></div>
            <div class="mycard-detail-holder-label">Voucher Name:</div>
            <div class="mycard-detail-holder-data" id="vouchername" ></div>
            <div class="mycard-detail-holder-label1">Restaurant:</div>
            <div class="mycard-detail-holder-data" id="outletname" style="height:3em;line-height:1.5em"></div>
         
               </div>
        </li>
        <li>
            <div class="fulljustify">
               Voucher Redeemed Successfully
            </div>
        </li>
         
        <div><li></li></div>
    </ul>
 
    <div class="button-frame-inline">
        <a  data-role="button" href="views/pl-home.html"  data-transition="slide:up"  id="redeem-button">Home</a>
    </div>

</div>