 <div data-role="view" id="modalviewstaffpin" data-model="postLogin" data-title="Outlet Identifier" data-layout="pl-main-layout" data-hide="postLogin.destroydiscountpinstaff" data-after-show="disableBackButton" data-before-hide="enableBackButton">
            <div data-role="header">
                <div data-role="navbar" style="background-color:#000">
                    <span data-role="view-title"></span>

                     <a  data-role="button" data-align="left" style="color:#fff" data-icon="back" href="views/pl-explore.html">
                    </a>
                </div>
            </div>
            <div class="home-page-holder"></div>
            <div class="input-frame-modal"  >
                <input type="password" id="depin1" data-bind="value: depin1" placeholder="Enter Outlet ID"/>
            </div>
            <div class="home-page-holder"></div>
            <div class="button-frame-inline-modal">
                <a data-role="button" data-bind="click:completeRedemptionDiscount">Confirm</a>
            </div>
            <div class="home-page-holder"></div>
            <div class="fulljustify whitecolor">
                Jumeirah colleague to enter outlet identifier in order to process this transaction
            </div>
            <div style="height:10px">&nbsp;</div>
        </div>