<!--Explore View-->
<div data-role="view" data-title="Explore" data-layout="pl-main-layout" id="pl-explore-view" data-model="postLogin" data-hide="postLogin.homeViewDestroy">
    <header data-role="header">
        <div data-role="navbar">
        <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer">
            <i class="fa fa-reorder fa-lg cwhite"></i>
        </a>
        <span class="cwhite"></span>
    </div>

    </header>

    <ul data-role="listview" class="homeexp-pos" id="list2">

        <div class="localcls" style="background-color:#fff">
            <a data-role="button" href="views/pl-explorelist.html" data-transition="slide:up">
            <div class="picthalf pic1">&nbsp;</div>
            <div class="picthalf">
                <div class="toptext">Explore</div>
                <div class="bottomtext">Dine, relax, entertain… Find what you love!</div>
            </div>
                
            </a>
        </div>
        <div class="localcls" style="background-color:#cfcfcf">
            <a data-role="button" href="views/pl-offerlist.html"  data-transition="slide:up">
                  <div class="picthalf pic2">&nbsp;</div>
            <div class="picthalf">
                <div class="toptext">Offers</div>
                <div class="bottomtext">Choose from seasonal promotions and add them to your Rewards!</div>
            </div>
            </a>

        </div>
        <div class="localcls" style="background-color:#fff">

            <a  data-role="button" href="views/pl-homeplus.html" data-transition="slide:up">

                  <div class="picthalf pic3">&nbsp;</div>
            <div class="picthalf">
                <div class="toptext">My Rewards</div>
                <div class="bottomtext">Redeem your ready-to-use welcome vouchers and saved offers</div>
            </div>

            </a>
        </div>
        <div class="localcls" style="background-color:#cfcfcf">

            <a  data-role="button" data-click="enterPinForRedemption">

                  <div class="picthalf pic4">&nbsp;</div>
            <div class="picthalf">
                <div class="toptext">Apply Discount</div>
                <div class="bottomtext">Make the most of your exclusive member benefits</div>
            </div>

            </a>
        </div>

    </ul>
</div>


<style scoped>
    
    #list2 .km-listview-link::after
    {
        display: none;
    }
    
    #home-view a:active
    {
        background-color:transparent;
    }
       
     #list2 a:active{
     background-color: #0e549a !important;
    color:#fff;
}
    
     #list2 .localcls{
         margin-top:0px;
        height:25%;
        padding-top:0px;
        margin-top:-5px;  
        border-top:3px solid #3f3d3d;
         border-bottom:3px solid #3f3d3d;
    }
</style>