<!--Explore View-->
<div data-role="view" data-title="" data-layout="pl-main-layout" id="pl-explore-view" data-model="postLogin" data-hide="postLogin.homeViewDestroy">
      <div data-role="navbar" style="background-color:transparent !important">
                    <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer">
            <i class="fa fa-reorder fa-lg cwhite"></i>
        </a>
        <span class="cwhite"></span>
    </div>

    
          <div data-role="footer">
                   <div class="button-frame-inline-home">
                   <a data-role="button"   data-click="loadFlight" style="background-color:#283880;width:100%">Search Flight</a>
                </div>
            </div>
</div>

