<!--Explore View-->
<div data-role="view" data-title="Explore" data-layout="pl-back-layout" id="pl-explorelist-view"  data-model="preLogin" data-after-show="preLogin.propertyList">
    <div>
        <div class="logo-top-list">

        </div>
        <ul data-role="listview" id="property-list" ></ul>
    </div>

</div>

 <script type="text/x-kendo-template" id="explorelisttemplate">
            
               <a>
                <div class="button-frame-inline height-80">
                    <a  href="views/branddetail.html${brandcode}" data-transition="slide:up" id="mobile-button1" data-role="button" >${messagetitle}</a>
                </div>
            </a>
  
</script>