<!--Explore View-->
<div data-role="view" data-title="" data-layout="pl-main-layout" id="pl-explore-view" data-model="postLogin" data-hide="postLogin.homeViewDestroy">
    <header data-role="header">
        <div data-role="navbar">
            <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer">
                <i class="fa fa-reorder fa-lg cwhite"></i>
            </a>
            <span class="cwhite"></span>
        </div>

    </header>
    <div class="homeexp-pos" id="explist">  

           <div class="localcls" style="background-color:#fff">
            <a data-role="button" href="views/pl-explorelist.html" data-transition="slide:up">
                <div class="picthalf1" style="width:100%;background-color:#ccc">
                    <div class="toptext">Explore</div>
                    <div class="bottomtext">Dine, relax, entertain… <br>Find what you love!</div>
                </div>
                
            </a>
        </div>
      
    </div>
</div>

