<div data-role="view" data-title="FAQ" data-layout="pl-main-layout" id="pl-faq-theme" data-model="preLogin" data-show="preLogin.plgetfaq" data-hide="preLogin.destroyplfaq" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">
  <div data-role="header">
                <div data-role="navbar">
                        <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;margin-top:3px;" data-click="postLoginBack" data-icon="back">
                    </a>
                    <span data-role="view-title"></span>

                </div>
     
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrg"></div>
                        </div>
              
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a href="views/pl-discountpinmember.html" data-role="button" style="background-color:#000" data-transition="slide:up">Apply Discount</a>
                            </div>

                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backg" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                   <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backg"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backg">&nbsp;</div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backg"></div>

                    </a>
                </div>
       </div>
    
      <div class="input-frame-1">
                    <select id="selCountry1" style="display:block;width:100%;height: 2.3em;line-height: 1.5em;border: 1px solid #ccc;background-color: #f7f3f1" data-bind="events: {change: plgetfaq}">
                        <option value="" selected="true">&nbsp;All FAQ's</option>
                        <option value="1">&nbsp;About SNTTA Membership</option>
                        <option value="2">&nbsp;Enrolling to SNTTA Membership</option>
                        <option value="3">&nbsp;Membership Benefits</option>
                        <option value="4">&nbsp;Customer Service</option>
                        <option value="5">&nbsp;Airmiles</option>
                    </select>
            </div>
    <ul data-role="listview" id="pfaqlist1">
  
    
    </ul>
</div>

  
<script type="text/x-kendo-template" id="pfaqTemplate1">
    <div style="width:100%;height:auto" >
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa "    data-collapsed="true"  style="width:100%;height:auto" >
        <h3 class="collapse-format-1">${question}</h3>
        <div    class="fulljustify font-small"  >
            ${answer}
        </div>
    </div>
    </div>
</script>