<div data-role="view"  data-title="My Favorites" data-layout="pl-back1-layout" id="myfavorite-view" data-model="postLogin" >

    <div data-role="navbar" style="background-color:#434446">

        <a data-role="button"  data-align="right" style="margin-right:10px">
            Save
        </a>
    </div>
       <div class="list-group">&nbsp;My Lifestyle Interests</div>

    <ul id="lifestyle-filter"  data-bind="value:getLifeStylePref">

    </ul>
    <div class="list-group">&nbsp;My Favourite Restaurants</div>

    <ul id="restaurantdetail-filter"  data-bind="value:getRestaurantDetailPref">

    </ul>
 
    <div class="list-group" >&nbsp;My Celebration Type</div>

    <ul id="celebrationtype-filter" data-bind="value:getCelebrationTypePref">
    </ul>

</div>

<script type="text/x-kendo-template" id="lifestylefilter-template">
    <label class="km-checkbox-label" >
        ${desc}
        <input type="checkbox" class="km-checkbox" id="${code}"/>

    </label>
</script>

<script type="text/x-kendo-template" id="restaurantdetailfilter-template">
    <label class="km-checkbox-label" >
        ${desc}
        <input type="checkbox" class="km-checkbox" id="${code}"/>

    </label>
</script>

<script type="text/x-kendo-template" id="cuisinetypefilter-template">
    <label class="km-checkbox-label" >
        ${desc}
        <input type="checkbox" class="km-checkbox" id="${code}"/>

    </label>
    </script>
    <script type="text/x-kendo-template" id="celebrationtype-template">
    <label class="km-checkbox-label" >
        ${desc}
        <input type="checkbox" class="km-checkbox" id="${code}"/>

    </label>
</script>

