<div data-role="view"  data-title="My Favorites" data-layout="pl-main-layout" id="myfavorite-view" data-model="preLogin">
   
        <div data-role="navbar" style="background-color:#7e6b6d">

            <a data-transition="slide"   data-role="button"  data-align="right" style="margin-right:10px">
                Save
            </a>
        </div>
    <div class="list-group">&nbsp;My Favorite Restaurants</div>
    <div data-role="scrollview" data-content-height="100%" data-enable-pager="false">
        <a href="views/pl-outletdetail.html" data-transition="slide:left"><div class="photo photo1">Restaurant 1
        </div></a>
        <a href="views/pl-outletdetail.html" data-transition="slide:left"><div class="photo photo2">Restaurant 2
        </div></a>
        <a href="views/pl-outletdetail.html" data-transition="slide:left"><div class="photo photo3">Restaurant 3
        </div></a>
        <a href="views/pl-outletdetail.html" data-transition="slide:left"><div class="photo photo4">Restaurant 4
        </div></a>
        <a href="views/pl-outletdetail.html" data-transition="slide:left"><div class="photo photo5">Restaurant 5
        </div></a>
        <a href="views/pl-outletlist.html" data-transition="slide:left"><div class="photo photo6">&nbsp;
        </div></a>
    </div>

    <div class="list-group">&nbsp;My Lifestyle Interests</div>

    <ul id="Offer-Filter1"  data-bind="value:getOfferTypeData1">

    </ul>
    <div class="list-group" >&nbsp;My Cuisine Type</div>

    <ul id="Cuisine-Filter1" data-bind="value:getRestCuisineFilter1">
    </ul>

</div>

<script type="text/x-kendo-template" id="Offer-Filter-Template1">
    <div class="list-group-data-header">
        <div class="list-group-data-item" style="margin-left:10px;width:65%">
            ${offeritem}
        </div>
        <div class="list-group-data-item" id=${offerkey} style="text-align:center;width:15%">
            <i class="fa fa-minus-square-o fa-lg"></i>
        </div>
        <div class="list-group-data-item" id=${offerkey} style="text-align:center;width:15%">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="CuisineFilter-Template1">
    <div class="list-group-data-header">
        <div class="list-group-data-item" style="margin-left:10px;;width:65%">${cuisineitem}</div>
        <div class="list-group-data-item" id=${cuisinekey} style="text-align:center;width:15%">
            <i class="fa fa-minus-square-o fa-lg"></i>
        </div>
        <div class="list-group-data-item" id=${cuisinekey} style="text-align:center;width:15%">
            <i class="fa fa-plus-square-o fa-lg"></i>
        </div>
    </div>
</script>

<style scoped>
    #myfavorite-view .photo
    {
        margin-top:0px;
        position:relative;
        float:none;
        height: 100px;
        width: 30%;
        display: inline-block;
        background-size: auto;
        font-size: .8em;
        color: #fff;
        line-height:100px;
        text-align:center;
    }
    </style>