<div data-role="view" data-title="FAQ" data-layout="pl-main-layout" id="pl-faq-theme" data-model="preLogin" data-show="preLogin.plgetfaq" data-hide="preLogin.destroyplfaq" data-reload="true" data-after-show="disableBackButton" data-before-hide="enableBackButton">
  <div data-role="header">
                <div data-role="navbar">
                        <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="postLoginBack" data-icon="back">
                    </a>
                    <span data-role="view-title"></span>

                </div>
     
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrg"></div>
                        </div>
              
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a data-click="enterPinForRedemption" data-role="button" style="background-color:#000">Apply Discount</a>
                            </div>

                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backg" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                   <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backg"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backg"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backg">isme</div>

                    </a>
                </div>
       </div>

   <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h3 class="collapse-format font-med">About isme by Jumeirah</h3>
        <ul data-role="listview" id="pfaqlist1">
        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h3 class="collapse-format font-med">About the isme by Jumeirah Mobile App</h3>
        <ul data-role="listview" id="pfaqlist2" >
        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true"  >
        <h3 class="collapse-format font-med">Enrolment</h3>
        <ul data-role="listview" id="pfaqlist3" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h3 class="collapse-format font-med">Tier Privilege</h3>
        <ul data-role="listview" id="pfaqlist4" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h3 class="collapse-format font-med">Membership</h3>
        <ul data-role="listview" id="pfaqlist5" >

        </ul>
        <div style="height:125px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h3 class="collapse-format font-med">
            Jumeirah Sirius and isme by Jumeirah
        </h3>
        <ul data-role="listview" id="pfaqlist6" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h3 class="collapse-format font-med">Programme tiers & benefits</h3>
        <ul data-role="listview" id="pfaqlist7" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h3 class="collapse-format font-med">Customer service support</h3>
        <ul data-role="listview" id="pfaqlist8" >

        </ul>
        <div style="height:100px">&nbsp;</div>
    </div>

</div>
  
<script type="text/x-kendo-template" id="pfaqTemplate1">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>
        <pre class="fulljustify font-small">
            ${answer}
        </pre>
    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate2">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true" >
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate3">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate4">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate5">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate6">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate7">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>
        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>

<script type="text/x-kendo-template" id="pfaqTemplate8">
    <div data-role="collapsible" data-collapse-icon="customplus" data-expand-icon="customminus" class="fa " style="width:100%" data-collapsed="true">
        <h6 class="collapse-format-1">${question}</h6>

        <pre class="fulljustify  font-small">
            ${answer}
        </pre>

    </div>
</script>
