<div data-role="view" data-title="FAQ" data-layout="pl-pre-layout" id="pl-faq-theme" data-model="preLogin" data-show="preLogin.plgetfaq" data-hide="preLogin.destroyplfaq" data-reload="true">
  <div data-role="header">
                <div data-role="navbar">
                        <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="postLoginBack" data-icon="back">
                    </a>
                    <span data-role="view-title"></span>

                </div>
     
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrg"></div>
                        </div>
              
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a data-click="enterPinForRedemption" data-role="button" style="background-color:#000">Apply Discount</a>
                            </div>

                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backg" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" style="background-color:transparent !important">
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                   <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" style="background-color:transparent !important">
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backg"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backg"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backg">isme</div>

                    </a>
                </div>
       </div>

     <ul id="pl-faqlist-all">

    </ul>
  
  <footer data-role="footer">
                <div class="mymenu-style">
                    <a  data-click="plHomeClick" data-role="button"  class="mymenu1" style="background:transparent !important">
                        <i class="fa fa-chevron-up fa-2x" style="color:#fff !important" ></i>
                    </a>
                </div>
                <div class="foot" >

                    <div class="share-menu-line-1-pl">
                        <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>
                        <div class="button-frame-inline-round-menu">
                            <a data-role="button" data-click="loadMyReward" style="background:transparent !important">
                                <i class="fa fa-mobile fa-2x"></i>
                            </a><br>My Rewards
                        </div>
                        <div class="button-frame-inline-round-menu">
                            <a  data-role="button" data-click="loadMyBenefit" style="background:transparent !important">
                                <i class="fa fa-check-square-o fa-2x"></i>
                            </a><br>My Benefits
                        </div>
                        <div class="button-frame-inline-round-menu">
                            <a data-role="button" data-click="loadMyMessages" style="background:transparent !important">
                                <i class="fa fa-envelope fa-2x"></i>
                            </a><br>My Messages
                        </div>
                    </div>
                    <div class="share-menu-line-1-pl" style="height:40px">&nbsp;</div>
                    <div class="share-menu-line-1-pl">
                        <div class="button-frame-inline-round-menu">
                            <a data-role="button" data-click="loadHistory"style="background:transparent !important">
                                <i class="fa fa-history fa-2x"></i>
                            </a><br>My History
                        </div>
                        <div class="button-frame-inline-round-menu">
                            <a  data-role="button" data-click="loadSetting" style="background:transparent !important">
                                <i class="fa fa-gear fa-2x"></i>
                            </a><br>My Preferences
                        </div>
                        <div class="button-frame-inline-round-menu">
                            <a data-role="button" data-click="loadFavorites" style="background:transparent !important">
                                <i class="fa fa-star fa-2x "></i>
                            </a><br>My Favourites
                        </div>
                    </div>

                </div>
            </footer>

</div>
  

