<div data-role="view" data-title="My Timeline" data-layout="pl-back1-layout" id="history-theme" data-model="postLogin">

    <div class="hanging-icon">
        <a  data-role="button" data-click="historyFilterView" style="border:0px !important">
            <i class="fa fa-filter fa-lg"></i>
        </a>
    </div>

    <ul data-role="listview" id="message-list" class="ul-class">
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Change Profile - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Spend - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Transaction Billing - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..
                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Spend - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..
                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Activate Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..
                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-historyitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    You redeem voucher for BOGOF for Emirates Airlines on 21/10/2015. Thank you for being an isme member..
                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>

        <hr/>
    </ul>

</div>

<style scope>
     
     
    #history-theme  .ul-class   a
    {
        border: 0px  !important;
        background-color: transparent !important;
    }  
</style>
