<!--Explore View-->
<div data-role="view" data-layout="pl-main-layout" id="pl-home-view-plus" data-model="postLogin" data-show="postLogin.getSummaryplus" data-stretch="true" data-hide="postLogin.destroyplhomeplus" >
    <div>
        <div data-role="navbar" style="background-color:transparent !important">
            <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer" data-click="doOneBack">
                <i class="fa fa-reorder fa-lg cwhite"></i>
            </a>
            <span style="color:#fff" id="main-title-p"></span>
        </div>
        <div class="pl-logo-top">
            <div class="pl-logo-image-holder-w"></div>

            <div class="progress-bar-amount-holder whitecolor" id="spend-amount-p"></div>
            <div class="progress-bar-holder white-back" style="margin-top:10px" id="full-bar-p">
                <div class="progress-bar-data-holder" id="spend-bar-p"></div>
            </div>
            <div class="home-page-holder" style="height:30px"></div>
            <div class="home-page-holder">
                <div class="general-text-line cwhite" id="profile-name-p"></div>
                <div class="general-text-line cwhite" id="profile-number-p"></div>
                <div class="general-text-line cwhite" id="profile-type-p"></div>
                <div class="general-text-line cwhite" id="profile-init-p"></div>
            </div>
        </div>
        <div class="button-frame-login">
            <a data-click="enterPinForRedemption" data-role="button">Apply Discount</a>
        </div>
        <div class="filler"></div>
        <div class="button-frame-login" id="fblink-show-p">
            <a data-role="button" class="button-loginwithfacebook" data-bind="click:fbLoginDA">Link Facebook</a>
        </div>
    </div>
    <footer data-role="footer">
        <div  class="mymenu-style">
            <a  data-click="plHomeClick" data-role="button" class="mymenu1" style="background:transparent !important">
                <i class="fa fa-chevron-up fa-2x" style="color:#fff" ></i>
            </a>
        </div>
        <div class="foot" >

            <div class="share-menu-line-1-pl">
                <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>
                <div class="button-frame-inline-round-menu">
                    <a data-role="button" data-click="loadMyReward" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-mobile fa-2x"></i>
                    </a><br>My Rewards
                </div>
                <div class="button-frame-inline-round-menu">
                    <a  data-role="button" data-click="loadMyBenefit" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-check-square-o fa-2x"></i>
                    </a><br>My Benefits
                </div>
                <div class="button-frame-inline-round-menu">
                    <a data-role="button" data-click="loadMyMessages" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-envelope fa-2x"></i>
                    </a><br>My Messages
                </div>
            </div>
            <div class="share-menu-line-1-pl" style="height:40px">&nbsp;</div>
            <div class="share-menu-line-1-pl">
                <div class="button-frame-inline-round-menu">
                    <a data-role="button" data-click="loadHistory" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-history fa-2x"></i>
                    </a><br>My History
                </div>
                <div class="button-frame-inline-round-menu">
                    <a  data-role="button" data-click="loadSetting" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-gear fa-2x"></i>
                    </a><br>My Preferences
                </div>
                <div class="button-frame-inline-round-menu">
                    <a data-role="button" data-click="loadFavorites" style="background:transparent !important;border:1px solid #fff">
                        <i class="fa fa-star fa-2x "></i>
                    </a><br>My Favourites
                </div>
            </div>

        </div>
    </footer>

</div>

