<div data-role="view" data-title="My History" data-layout="pl-main-layout" id="history-theme" data-reload="true" data-model="postLogin" data-show="postLogin.myhistorylist" data-hide="postLogin.destroyplhistorylist" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <header data-role="header">
                <div data-role="navbar">
                    <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="postLoginBack" data-icon="back">
                    </a>
                    <span data-role="view-title"></span>
                    <a  data-role="button" data-click="offerFilterView" data-align="right"  style="display:none">
                        <i class="fa fa-search fa-lg" style="color:#fff"></i>
                    </a>
             
                </div>
                <div class="cardhead">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrh"></div>
                        </div>
                 
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a data-click="enterPinForRedemption" data-role="button" style="background-color:#000" >Apply Discount</a>
                            </div>
                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1" id="expiry-backh" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu">
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backh"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backh"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backh"></div>

                    </a>
                </div>
            </header>
 <div class="strip-item">
            <div class="strip-item-a" style="text-align:center;width:100%" id="ytd-spend"></div>
        </div>
   
   <ul data-role="listview" id="pl-history-list">
        

    </ul>
    

</div>

