<div data-role="view" data-layout="pl-main-layout" id="pl-home-view-plus" data-model="postLogin" data-show="postLogin.getSummaryplus"  data-hide="postLogin.destroyplhomeplus" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="navbar" style="background-color:transparent !important">
        <span class="cwhite">My Wallet</span>
        <a  data-role="button" data-align="left" style="color:#000" data-icon="back;margin-top:3px;" data-click="postLoginBack"></a>
    </div>
    <div style="height:35px">
     <form action="javascript:SearchPage();">
            <input id="input_search_word" type="search" class="searchbox" data-mini="true" placeholder="Search My Rewards">

          <div class="button-search">
        <a data-role="button" id="post-search" data-click="SearchPage"><i class="fa fa-search fa-2x cwhite"></i></a>
    </div>
        </form>     
    </div>
    <div class="strip-item">
        <div class="strip-item-a" style="text-align:left;margin-left:5px;width:48%" id="profile-number-p">&nbsp;</div>
        <div class="strip-item-a" style="text-align:right;margin-right:5px;width:48%" id="profile-type-p">&nbsp;</div>
    </div>
    <div class="pl-logo-top" id="home-plus-box">
        <div class="pl-logo-image-holder-w" id="post-image"></div>
        <div class="strip-item">
            <div class="strip-item-a" style="text-align:center;width:100%" id="main-title-p"></div>
        </div>
        <div class="share-menu-line-1-pl">
            <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>
            <div class="button-frame-inline-round-menu">
                <a data-role="button"  style="background:transparent !important" href="views/pl-myreward.html?mcategory=1&mname=" data-transition="slide:up">
                    <i class="fa fa-glass fa-2x cwhite"></i>
                </a><br>Travel
            </div>
            <div class="button-frame-inline-round-menu">
                <a  data-role="button"  style="background:transparent !important" href="views/pl-myreward.html?mcategory=2&mname=" data-transition="slide:up">
                    <i class="fa fa-cutlery fa-2x cwhite"></i>
                </a><br>Dining
            </div>
            <div class="button-frame-inline-round-menu">
                <a data-role="button"  style="background:transparent !important" href="views/pl-myreward.html?mcategory=3&mname=" data-transition="slide:up">
                    <i class="fa fa-leaf fa-2x cwhite"></i>
                </a><br>Spa & Wellness
            </div>
        </div>
        <div class="share-menu-line-1-pl" style="height:15px">&nbsp;</div>
        <div class="share-menu-line-1-pl">
            <div class="button-frame-inline-round-menu" style="width:15%">
                &nbsp;
            </div>
            <div class="button-frame-inline-round-menu" style="width:35%">
                <a data-role="button" style="background:transparent !important" href="views/pl-myreward.html?mcategory=4&mname=" data-transition="slide:up">
                    <i class="fa fa-support fa-2x cwhite"></i>
                </a><br>Leisure
            </div>
            <div class="button-frame-inline-round-menu" style="width:35%">
                <a data-role="button" style="background:transparent !important" href="views/pl-myreward.html?mcategory=5&mname=" data-transition="slide:up">
                    <i class="fa fa-hotel fa-2x cwhite"></i>
                </a><br>Hotel Stay
            </div>
            <div class="button-frame-inline-round-menu" style="width:15%">
                &nbsp;
            </div>
        </div>
        <div class="share-menu-line-1-pl" style="height:15px">&nbsp;</div>
  
        <div class="strip-item">
            <div class="strip-item-a" style="text-align:center;width:100%" id="my-voucher-count">I have N Rewards in my Wallet</div>
            <div class="strip-item-a" style="text-align:center;width:100%" id="my-voucher-expiry">My next Reward expires in N days</div>
        </div>
    </div>
   
</div>

