<!--Explore View-->
<div data-role="view" data-title="" data-layout="pl-main-layout" id="pl-home-view" data-show="varInit" data-model="postLogin" data-stretch="true">
    <div>
        <div data-role="navbar">
            <a  data-role="button" href="#appdrawer" data-align="left" data-transition="none" data-rel="drawer" data-click="cloakerClickClose">
                <i class="fa fa-reorder fa-lg" style="color:#fff"></i>
            </a>
            <span data-role="view-title" id="item-title">Hello, Ricardo!</span>
        </div>
        <div class="logo-top">
            <div class="logo-image-holder"></div>
            <div class="home-page-holder"></div>
            <div class="home-page-holder">
                <div class="general-text-line">RICARDO MANRIQUEZ</div>
                <div class="general-text-line">9704213568</div>
                <div class="general-text-line">isme Member</div>
                <div class="general-text-line">Member Since 01/01/2015</div>

            </div>

        </div>
        <div class="home-page-holder"></div>
        <div class="button-frame">
            <a data-transition="slide:up" id="btnLogin" data-role="button" class="button-discount">Apply Discount</a>
        </div>

        <div class="foot" id="foot">
            <a data-click="cloakerClick" data-role="button" id="mymenu">
                <i class="fa fa-chevron-up fa-2x" style="color:#fff"></i>
            </a>
            <div class="foot1" id="foot1">

                <div class="share-menu-line-1-pl">
                    <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>
                    <div class="button-frame-inline-round-menu">
                        <a data-role="button" >
                            <i class="fa fa-life-bouy fa-3x  share-class"></i>
                        </a><br>My Wallet
                    </div>
                    <div class="button-frame-inline-round-menu">
                        <a  data-role="button" >
                            <i class="fa fa-check-square-o fa-3x   share-class"></i>
                        </a><br>My Benefits
                    </div>
                    <div class="button-frame-inline-round-menu">
                        <a data-role="button" >
                            <i class="fa fa-envelope fa-3x   share-class"></i>
                        </a><br>My Messages
                    </div>
                </div>
                <div class="share-menu-line-1-pl" style="height:40px">&nbsp;</div>
                <div class="share-menu-line-1-pl">
                    <div class="button-frame-inline-round-menu">
                        <a data-role="button" >
                            <i class="fa fa-history fa-3x  share-class"></i>
                        </a><br>My History
                    </div>
                    <div class="button-frame-inline-round-menu">
                        <a  data-role="button" >
                            <i class="fa fa-gear fa-3x   share-class"></i>
                        </a><br>My Settings
                    </div>
                    <div class="button-frame-inline-round-menu">
                        <a data-role="button" >
                            <i class="fa fa-star fa-3x   share-class"></i>
                        </a><br>My Favorites
                    </div>
                </div>
                <div class="share-menu-line-1-pl" style="height:20px">&nbsp;</div>
                <div class="button-frame">
                    <a data-transition="slide:up"  data-role="button" class="button-profile">My Profile</a>
                </div>
            </div>
        </div>

    </div>

</div>

<style scoped>
    
       
    #pl-home-view .button-discount, #pl-home-view .button-profile
    {
        background-color: rgba(62, 65, 66, 0.7);
        color: #fff;
    }
    
    #mymenu
    {
        border: 0px;
        width: 100%;
        bottom: 0px;
        background-color: rgba(0, 0, 0,0);
        color: #fff;
        margin-bottom:2px;
    }
</style>

