<!--Explore View-->
<div data-role="view" data-layout="pl-main-layout" id="pl-home-view-plus" data-model="postLogin" data-show="postLogin.getSummaryplus"  data-hide="postLogin.destroyplhomeplus" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="navbar" style="background-color:transparent !important">
        <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer">
            <i class="fa fa-reorder fa-lg cwhite"></i>
        </a>
        <span class="cwhite">My Wallet</span>
    </div>
    <div style="height:35px">
     <form action="javascript:SearchPage();">
            <input id="input_search_word" type="search" class="searchbox"
                placeholder="Search My Rewards">

          <div class="button-search">
        <a  data-role="button" style="border:none"><i class="fa fa-search fa-2x cwhite"></i></a>
    </div>
        </form>
    </div>
    <div class="strip-item">
        <div class="strip-item-a" style="text-align:left;margin-left:5px;width:48%" id="profile-number-p"></div>
        <div class="strip-item-a" style="text-align:right;margin-right:5px;width:48%" id="profile-type-p"></div>
    </div>
    <div class="pl-logo-top" id="home-plus-box">
        <div class="pl-logo-image-holder-w"></div>
        <div class="strip-item">
            <div class="strip-item-a" style="text-align:center;width:100%" id="main-title-p"></div>
        </div>
        <div class="share-menu-line-1-pl">
            <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>
            <div class="button-frame-inline-round-menu">
                <a data-role="button"  style="background:transparent !important">
                    <i class="fa fa-glass fa-2x cwhite"></i>
                </a><br>Bars & Nightlife
            </div>
            <div class="button-frame-inline-round-menu">
                <a  data-role="button"  style="background:transparent !important">
                    <i class="fa fa-cutlery fa-2x cwhite"></i>
                </a><br>Dining
            </div>
            <div class="button-frame-inline-round-menu">
                <a data-role="button"  style="background:transparent !important">
                    <i class="fa fa-leaf fa-2x cwhite"></i>
                </a><br>Spa & Wellness
            </div>
        </div>
        <div class="share-menu-line-1-pl" style="height:15px">&nbsp;</div>
        <div class="share-menu-line-1-pl">
            <div class="button-frame-inline-round-menu" style="width:15%">
                &nbsp;
            </div>
            <div class="button-frame-inline-round-menu" style="width:35%">
                <a data-role="button" style="background:transparent !important">
                    <i class="fa fa-support fa-2x cwhite"></i>
                </a><br>Leisure
            </div>
            <div class="button-frame-inline-round-menu" style="width:35%">
                <a data-role="button" style="background:transparent !important">
                    <i class="fa fa-hotel fa-2x cwhite"></i>
                </a><br>Hotel Stay
            </div>
            <div class="button-frame-inline-round-menu" style="width:15%">
                &nbsp;
            </div>
        </div>
        <div class="share-menu-line-1-pl" style="height:5px">&nbsp;</div>
 <div class="button-frame-login">
        <a data-click="enterPinForRedemption" data-role="button">Apply Discount</a>
    </div>
             <div class="share-menu-line-1-pl" style="height:10px">&nbsp;</div>   
        <div class="strip-item">
            <div class="strip-item-a" style="text-align:center;width:100%">I have 15 Rewards in my Wallet</div>
            <div class="strip-item-a" style="text-align:center;width:100%">My next Reward expires in 10 days</div>
        </div>
    </div>
   
</div>

