<!--Explore View-->
<div data-role="view" data-title="" data-layout="pl-main-layout" id="pl-home-view" data-model="postLogin">
    <div data-role="touch" data-tap="plHomeClickClose">
        <div data-role="navbar">
            <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer">
                <i class="fa fa-reorder fa-lg" style="color:#fff"></i>
            </a>
            <span data-role="view-title" id="item-title">Hello, Ricardo!</span>
        </div> 
        <div class="logo-top">
            <div class="logo-image-holder"></div>
            <div class="home-page-holder"></div>
            <div class="home-page-holder">
                <div class="general-text-line">RICARDO MANRIQUEZ</div>
                <div class="general-text-line">9704213568</div>
                <div class="general-text-line">isme Member</div>
                <div class="general-text-line">Member Since 01/01/2015</div>

            </div>

        </div>
        <div class="home-page-holder"></div>
        <div class="button-frame">
            <a data-transition="slide:up" id="discount-button" data-role="button" class="button-discount">Apply Discount</a>
        </div>
        
        



      
    </div>

</div>


