<!--Explore View-->
<div data-role="view" data-layout="pl-main-layout" id="pl-home-view" data-model="postLogin" data-show="postLogin.loadPLDetails" data-stretch="true">
        <div>
        <div data-role="navbar" style="background-color:transparent !important">
            <a  data-role="button" data-align="left" data-rel="drawer"  data-click-on="down" href="#appdrawer" data-click="doOneBack">
                <i class="fa fa-reorder fa-lg cblack"></i>
            </a>
            <span style="color:#000" id="main-title"></span>
        </div>
        <div class="pl-logo-top">
            <div class="pl-logo-image-holder"></div>

            <div class="progress-bar-amount-holder black a0-percent">AED 0</div>
            <div class="progress-bar-holder cblack" style="margin-top:10px">
                <div class="progress-bar-data-holder"></div>
            </div>
            <div class="home-page-holder" style="height:30px"></div>
            <div class="home-page-holder">
                <div class="general-text-line cblack" id="profile-name"></div>
                <div class="general-text-line cblack" id="profile-number"></div>
                <div class="general-text-line cblack" id="profile-type"></div>
                <div class="general-text-line cblack" id="profile-init"></div>
            </div>
        </div>
        <div class="button-frame-inline">
            <a data-click="enterPinForRedemption" data-role="button"  >Apply Discount</a>
        </div>
            </div>
</div>

