<div data-role="view" data-title="How it Works" data-layout="pl-main-layout" id="pl-howitworks" data-model="postLogin" data-hide="postLogin.destroyhowitworks" data-show="postLogin.showCard9" data-after-show="disableBackButton" data-before-hide="enableBackButton">     
  <div data-role="header">
                <div data-role="navbar">
                           <a  data-role="button" data-align="left" style="color:#fff" data-icon="back" data-click="postLoginBack">
            </a>
                    <span data-role="view-title"></span>

                </div>
     
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qr9"></div>
                        </div>
        
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a href="views/pl-discountpinmember.html" data-role="button" style="background-color:#000" data-transition="slide:up">Apply Discount</a>
                            </div>

                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-back9" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                   <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-back9"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-back9">&nbsp;</div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-back9"></div>

                    </a>
                </div>
       </div>

<pre class="fulljustify" style="padding-left:5px;padding-right:5px">
<strong><em>isme by Jumeirah</em>&trade;  Programme Rules</strong><br/>
These Programme Rules are further  terms and conditions relating to the programme benefits, rewards and usage.<br/>
<strong><em>isme by Jumeirah</em> Mobile App usage</strong>
<ol><li>The <em>isme by Jumeirah</em> Mobile Application is an innovative and  user-centric mobile platform through which Members can activate and manage  their membership, receive and redeem their rewards and discover more about  Jumeirah in the United Arab Emirates </li>
<li>In order to enjoy the benefits of the  programme, it is absolutely essential for Members to download and use the <em>isme by Jumeirah</em> Mobile App. Without the  app, they will not be able to use any benefits (including availing themselves  of discounts) of the <em>isme by Jumeirah</em> Programme.</li>
<li>The app is available for free  download on the Apple App store and the Google Play store and is compatible  with any iOS device (from version 7.0) and Android device (from version 4.2).</li>
<li>If Members lose their phone or change  their phone number, they can recover their account by calling <em>isme by Jumeirah</em> Customer Care on  800-ISME (800-4763) who will assist in resetting the account.</li>
<li>Members cannot log in to their  account on more than one device at a time, so they cannot share their account  with anyone. The Membership is strictly valid for one person only. In the event  that a Member is using more than one device e.g. if he/she has a tablet and  smartphone and installs the <em>isme by  Jumeirah</em> Mobile App on both, he/she must be logged out of the app on one  device before being able to log in from another device. </li>
<li>To use any benefits or redeem Rewards  from the <em>isme by Jumeirah</em> Mobile App,  Members need either a Wi-Fi or 3G connection. Members must ensure their  smartphones are connected to the internet in order for them to use the benefits  of the programme.</li>
<li>Members can manage their <em>isme by Jumeirah</em> Mobile App settings  within the Settings / My Preferences section, which can be found on the  dashboard of the <em>isme by Jumeirah</em> Mobile App. Members can set their app preferences by choosing which features of  the app they want to activate or deactivate, such as voucher expiry reminders,  notifications and location services. </li>
<li>If Members forget their redemption  PIN, the <em>isme by Jumeirah</em> Mobile App  PIN reset process is as follows:</li>
<ol><li>Members must log in to the app and go  to My Profile > Edit > My Preferences</li>
<li>Members must select the Change PIN  option and simply follow the instructions that will appear on the screen to  reset the PIN.</li>
<li>Alternatively, Members can call isme  by Jumeirah Customer Care on 800-ISME (4763) and they will be guided through  the PIN reset process.</li></ol>
<li>Alternatively, Members can call <em>isme by Jumeirah</em> Customer Care on  800-ISME (4763) and they will be guided through the PIN reset process.</li></ol>
<strong>Accumulation of <em>isme by Jumeirah</em> Spend</strong>
<ol><li><em>isme by Jumeirah</em> rewards Members based on their lifestyle and dining spend at Jumeirah  Hotels and Resorts in the United Arab Emirates. Members will be rewarded with  exclusive lifestyle and dining rewards every time they reach certain spend  thresholds, based on eligible spend within one membership year. </li>
<li><em>isme by Jumeirah</em> Spend Rewards can only be earned based on eligible spend. The spend  thresholds which trigger Spend Rewards are as follows, and are subject to  change in accordance with the Programme Terms and Conditions:  </li>
AED  3,000 Registered Spend<br />
AED  5,000 Registered Spend<br />
AED  10,000 Registered Spend<br />
AED  15,000 Registered Spend<br />
AED  20,000 Registered Spend<br />
AED  30,000 Registered Spend<br />
AED  40,000 Registered Spend<br />
AED  50,000 Registered Spend<br/>
<li><em>isme by Jumeirah</em> Spend is registered as eligible spend in participating Jumeirah Hotels  and Resorts in the UAE, only for spend on:</li>
<ol><li>food and beverage in participating  restaurants; </li>
<li>select spa charges at Jumeirah Talise  Spas and Akaru Spa;</li>
<li>selected spend at Talise Fitness and  at Wild Wadi Waterpark, when the bill is paid and settled for by an <em>isme by Jumeirah</em> Member at the time of  usage. </li></ol>
<li><em>isme by Jumeirah</em> Spend will not be registered for any of the above charges signed to a  hotel room, corporate or city ledger accounts.</li>
<li>The following charges are not  considered eligible spend: Room charges, Health club spend at selected Talise  Fitness, Conference and banqueting functions, Corporate and company dining  events, Service charges, municipality fees paid, retail, tourism fee, Tobacco,  Business centers, Gift vouchers which are used as payment, Theatre, Third party  charges, Paid out charges, Other miscellaneous items.</li>
<li><em>isme by Jumeirah</em> Spend will not be registered in restaurants not managed by Jumeirah,  franchise restaurants nor at any of the properties managed by Jumeirah Living.</li>
<li><em>isme by Jumeirah</em> Spend will not be registered on Happy hours, Set menus or other  promotional items not listed as a Reward in the App.</li>
<li>The bill must be paid for and settled  by a Member at the outlet at the time of usage. </li>
<li><em>isme by Jumeirah</em> Spend is registered on the net billed amount excluding government  charges and municipality fees and applicable service charges, and after any  discount has been applied to the bill.</li>
<li>Members visiting Jumeirah  Restaurants, Spas or Wild Wadi Waterpark must present a valid <em>isme by Jumeirah</em> Membership before  payment and complete the Apply Discount PIN process, to ensure their <em>isme by Jumeirah</em> Spend is registered. </li>
<li>Members must allow one week for <em>isme by Jumeirah</em> Spend to be registered  to their account.</li>
<li>Bills should be retained as proof of  spend until <em>isme by Jumeirah</em> Spend  appears on the Member&rsquo;s statement. Bills must be presented prior to a  retroactive claim being actioned. Failure to present a bill will result in the  retroactive claim being rejected.</li>
<li>Jumeirah reserves the right to  correct any <em>isme by Jumeirah</em> Spend  values or statements at any time or when any error is realised, without notice  to the Member.</li>
<li>If Jumeirah improperly denies a Spend  Reward, liability is only limited to the accurate posting of <em>isme by Jumeirah</em> Spend to such Member&rsquo;s  account as per the <em>isme by Jumeirah</em> Programme's policy.</li>
<li>Members can access their statements  and account activity on the <em>isme by  Jumeirah</em> mobile App under My History at any time.</li>
<li>If the Member wishes to claim any  adjustment to the amount of <em>isme by  Jumeirah</em> Spend credited or to claim retrospectively for <em>isme by Jumeirah</em> Spend, the Member must  do so within two (2) months from date of the transaction by sending written  details to <em>isme by Jumeirah</em> Customer  Care at info@isme.jumeirah.com, together with the copy of the bill for which  the Member did not receive the correct amount of <em>isme by Jumeirah</em> Spend. Failure to supply the adequate  documentation may result in the denial of such <em>isme by Jumeirah</em> Spend. Jumeirah reserves the right to decline any  retrospective <em>isme by Jumeirah</em> Spend  requests.</li>
<li>From the date on which a hotel,  resort, outlet or any other type of partner ceases to be a part of the Jumeirah  group of companies, all visits subsequent to such date will not be eligible to  earn <em>isme by Jumeirah</em> Spend or use  any <em>isme by Jumeirah</em> Rewards and no  retroactive claims will be accepted relating to such visits.</li>
<li><em>isme by Jumeirah</em> Spend cannot be transferred to any other Member&rsquo;s account.</li>
<li><em>isme by Jumeirah</em> Spend cannot be registered for spend that occurred before a Member&rsquo;s  enrolment into the programme. </li></ol>
<strong><em>isme by Jumeirah</em></strong><strong> and Jumeirah Sirius</strong>
<ol><li>Existing Jumeirah Sirius members can  join <em>isme by Jumeirah</em> at any time, by  registering their Jumeirah Sirius membership number into the <em>isme by Jumeirah</em> App.</li>
<li>Jumeirah Sirius and <em>isme by Jumeirah</em> are two separate  programmes with clearly different purposes. Jumeirah Sirius members can collect  and exchange Sirius Points redeemable across the range of Jumeirah properties  globally. <em>isme by Jumeirah</em> distinguishes itself from Jumeirah Sirius by solely focusing on dining and  lifestyle loyalty rewards in the United Arab Emirates. </li>
<li><em>isme by Jumeirah</em> Rewards and Jumeirah Sirius Rewards cannot be used simultaneously. </li>
<li>It is more advantageous for Members  to be a part of both programmes, since they are complementary. It is very  beneficial for Jumeirah Sirius members to use their <em>isme by Jumeirah</em> App as they will still be able to collect their  Jumeirah Sirius Points, but also increase their <em>isme by Jumeirah</em> spend, thereby getting closer to their next Spend  Rewards in each programme.</li>
<li><em>isme by Jumeirah</em> Members can collect Jumeirah Sirius points in any of the participating  venues by presenting their <em>isme by  Jumeirah</em> App where their Jumeirah Sirius membership number must be saved.  Points may take up to 48 hours to appear on their Jumeirah Sirius account statement. </li>
<li>Members may not accumulate their <em>isme by Jumeirah</em> Spend on hotel stays.  Only eligible spend at participating Jumeirah restaurants, Talise Spas and Wild  Wadi will be registered towards a Member&rsquo;s <em>isme  by Jumeirah</em> spend. </li>
<li>In order for Jumeirah Sirius members  to collect Points on stays, a valid Jumeirah Sirius membership has to be  presented at time of check-in and Points will be awarded in accordance with the  Jumeirah Sirius programme Terms and Conditions. </li></ol>
<strong>All Rewards - Generic Rules of Use</strong>
<ol><li>These Rules apply to all types of  Rewards issued as a part of <em>isme by  Jumeirah</em>&rsquo;s offering.</li>
<li>Upon enrolment, a set of <em>isme by Jumeirah</em> complimentary Welcome  Rewards are automatically credited into Members&rsquo; accounts. </li>
<li>Welcome Rewards must be used within  three (3) months for isme Members, from their date of enrolment into the  Programme. </li>
<li>Welcome Rewards must be used within  twelve (12) months for <em>isme by Jumeirah</em> Elite members, from their date of enrolment into the Programme. </li>
<li>isme Elite Welcome Rewards will only  be available to <em>isme by Jumeirah</em> Elite members who have paid for their <em>isme  by Jumeirah</em> Elite membership tier status.</li>
<li>Members must select their chosen  Reward for use and present this Reward on their mobile App prior to the bill  being presented by the Jumeirah colleague before paying for any service. </li>
<li>Members must follow the PIN process  in their mobile phone in order to redeem any Reward. If not, members will be  denied the Reward usage.</li>
<li>To use any benefits or Rewards,  Members will be required to enter their four-digit PIN number. Once the  member&rsquo;s PIN is entered, the Jumeirah colleague is required to enter their  Outlet PIN.</li>
<li>Once the Jumeirah colleague has  entered their Outlet PIN, an authorisation code will automatically be generated  on the App and will serve as the confirmation that the reward has been redeemed  successfully. Should no authorisation code be generated, Members will not be  able to redeem any Rewards.</li>
<li>A completed redemption cannot be  reversed and used Rewards cannot be reinstated.</li>
<li>Rewards are not transferable and are  void if purchased, sold or bartered for cash.</li>
<li>Rewards are valid solely for the  items specified in the Rewards&rsquo; details.</li>
<li>Members must inform the Jumeirah  colleague when they enter the restaurant/spa that they will be using an <em>isme by Jumeirah</em> Reward.</li>
<li>Rewards are exclusive and not valid  in conjunction with any other discount offers, promotions, special menu items,  vouchers, dining or loyalty programmes.</li>
<li>Members must make advanced  reservations prior to arriving at the venue where they wish to redeem a reward,  stating that the reservation is for redemption of an <em>isme by Jumeirah</em> Reward where required. </li>
<li>All <em>isme by Jumeirah</em> Rewards are subject to availability and specific  usage Terms and Conditions. Rewards must be redeemed in strict accordance with  these individual usage Terms and Conditions, which are written on the Reward  itself and must be accepted before the Reward is redeemed.</li>
<li>For all &lsquo;Buy One Get One  Complimentary&rsquo; Rewards (including Welcome Rewards), the least expensive item  will be deducted from the final bill. The two items must be from the same  category and one must be of equal or lesser value, e.g. buy one get one  complimentary drink; or buy one get one complimentary main course at lunch. One  full priced item must be purchased in order to be eligible for the  complimentary item. Members cannot apply their discount benefit (10% or 20%) to  the full priced item. However, items purchased over and above the 2 for 1  Reward (such as a la carte items or additional beverages)&nbsp;are eligible for  the discount.</li>
<li><em>isme by Jumeirah</em> Rewards may only be used and redeemed by authorised <em>isme by Jumeirah</em> Members.</li>
<li>In order to qualify for a Spend  Reward, the Member must have sufficient <em>isme  by Jumeirah</em> Spend registered in his/her account to earn the Reward.</li>
<li>Once Rewards are redeemed or expired,  they cannot be cancelled, re-credited, changed or reinstated.</li>
<li>Jumeirah reserves the right to decline,  restrict, suspend, withdraw, modify or substitute any Reward at any time for  any reason and without notice.</li>
<li>Rewards are not exchangeable for cash  and cannot be redeemed in conjunction with any other offers or promotions.</li>
<li>Member will be required to provide  proof of his/her valid <em>isme by Jumeirah</em> membership by presenting their <em>isme by  Jumeirah</em> mobile App when redeeming any Reward.</li>
<li>If Members do not have their App with  them, then they will not be able to redeem their Rewards.</li>
<li>Members can only redeem Rewards for  personal use. </li>
<li>Redemption of Rewards may be limited  during certain times of the year or for certain events and occasions, such as:  Christmas Eve, Christmas Day, New Year's Eve, New Year's Day, Eid Al Fitr, Eid  Al Adha, Valentine's Day, UAE National Day, other Special Events or any other  public holidays as announced by the UAE government. </li>
<li>It is the full responsibility of the  Member to check the Reward Terms and Conditions and participating outlets  before using any Reward. </li>
<li><em>isme by Jumeirah</em> Rewards can only be used in participating Jumeirah venues including  dining outlets, spas, Wild Wadi Waterpark, beach and pool facilities, which are  specified on each of the Rewards&rsquo; terms and conditions. It is the foll  responsibility of the Member to check the participating outlets before using  any Reward.</li>
<li>Certain outlets may be closed over  summer, Ramadan and other selected religious holidays or for renovation or  other reasons. Jumeirah cannot be held responsible if an outlet is temporarily  or permanently closed during a Reward&rsquo;s validity period. </li></ol>
<strong>Membership Term and Renewal</strong>
<ol><li>An <em>isme by Jumeirah</em> Elite Membership term is one year and an <em>isme by Jumeirah</em> Membership term is  indefinite, i.e. it does not expire and does not require renewal.</li>
<li><em>isme by Jumeirah</em> Elite Membership will be reviewed one year after the date of qualifying  for that Tier category for the purposes of assessing Membership Renewal.</li>
<li>Non-Elite <em>isme by Jumeirah</em> memberships remain valid as long as Members are  active in the programme, and as long as memberships can be validated via the  mobile App.</li>
<li><em>isme by Jumeirah</em> Elite Memberships are not automatically renewed, unless AED 50,000  accumulated Spend is reached within one Membership year. </li></ol>
<strong>Tier Upgrades, Renewals and  Downgrades</strong>
<ol><li>There are two ways in which Members  can qualify for the <em>isme by Jumeirah</em> Elite Tier: </li><ol>
<li>by reaching a minimum of AED 50,000  registered spend within one membership year at <em>isme by Jumeirah</em> entry tier level, or </li>
<li>by paying the annual <em>isme by Jumeirah</em> Elite membership fee of  AED 4,900.</li></ol>
<li><em>isme by Jumeirah</em> Elite memberships that are upgraded through Spend will include the <em>isme by Jumeirah</em> Elite benefits but not  the <em>isme by Jumeirah</em> Elite Welcome  Rewards. Paid <em>isme by Jumeirah</em> Elite  memberships will include all of the benefits and the complimentary Elite  Welcome Rewards.</li>
<li>Once Members are upgraded to <em>isme by Jumeirah</em> Elite, their registered <em>isme by Jumeirah</em> spend will go back  down to &lsquo;0&rsquo; and start again for the new membership year.</li>
<li>For <em>isme by Jumeirah</em> Members, even if their membership does not expire,  registered spend will also be reset after a year from the date of enrolment. </li>
<li>For <em>isme by Jumeirah</em> Elite Renewal, a Member&rsquo;s account will be assessed  depending on the amount of registered annual Spend accumulated: </li>
<ol><li>If the required spend is not reached  within the isme Elite membership term, Members will be downgraded to isme. In  case of a downgrade, Members will still be able to retain isme Elite status by  paying AED 4,900.</li>
<li>If Members have reached the required  amount of registered spend within the isme Elite membership term, Members will  retain their Elite status and benefits for one further membership year but will  not receive the Elite Welcome Rewards. However, they will be given the option  to purchase the AED 4,900 isme Elite membership for another year to obtain the  isme Elite Welcome Rewards.</li></ol>
<li>Accrued Eligible Spend will reset to  zero after one year.</li></ol>
<strong>Tier Discount Benefits</strong>
<ol><li><em>isme by Jumeirah</em> Members are eligible to receive discount benefits at participating  venues in the UAE, based upon the Tier of their Membership.</li>
<li>Members may be required to show  identification when using any Tier Benefits. </li>
<li>Valid <em>isme by Jumeirah</em> membership must be presented on the Mobile App in  order to avail of any Tier Benefits. </li>
<li>Members must follow the PIN process  in their mobile phone in order to redeem any Benefits. If not, members will be  denied their Benefits:</li>
<ol><li>Members will be required to enter  their four-digit PIN number.</li>
<li>Once the member&rsquo;s PIN is entered, the  Jumeirah colleague will be required to enter their Outlet PIN.</li>
<li>Once the Jumeirah colleague has  entered their Outlet PIN, an authorisation code will automatically be generated  on the App and will serve as the confirmation that the benefit has been applied  successfully.</li></ol>
<li>The benefits are only applicable to  the <em>isme by Jumeirah</em> Member unless  otherwise specified. </li>
<li>Jumeirah reserves the right to add,  modify or delete Tier Benefits and/or eligibility at its sole discretion at any  time and without notice. </li>
<li>All Terms and Conditions shall apply. <strong></strong></li></ol></ol>
<strong>Food &amp; Beverage Discount at Jumeirah Bars and Restaurants</strong>
<ol><li>Member discount benefits are as  follows:</li><ol>
<li><em>isme by Jumeirah</em> - 10%</li>
<li><em>isme by Jumeirah</em> Elite - 20%</li></ol>
<li>Discount is valid for all meal  periods and applicable to the total bill (food and beverage only) paid by the  Member.</li>
<li>Discount is valid for Members on food  and beverage only and may not be used in conjunction with any other discount,  reward, voucher or promotion, including Jumeirah Sirius e-certificates.</li>
<li>Discount is only valid if the bill is  paid and settled for by an <em>isme by  Jumeirah</em> member present at the restaurant at the time of usage. </li>
<li>Discount is not valid on special  dining or banqueting packages and Festive Gala Dinners, nor is it valid on  Christmas Eve, Christmas Day, New Year's Eve, New Year's Day, Eid Al Fitr, Eid  Al Adha, Valentine's Day, UAE National Day, Special Events or any other public  holidays as announced by the UAE government.</li>
<li>Discount is not applicable on Happy  hours, Set menus or other promotional items not listed as a Reward in the App.</li>
<li>Discount is not applicable on: Room  charges, Conference and banqueting functions, Corporate and company dining  events, Tobacco, Business centers, Gift vouchers which are used as payment,  Theatre, Third party charges, Paid out charges, Other miscellaneous items.</li>
<li>Discount is not applicable in  restaurants not managed by Jumeirah, franchise restaurants nor at any of the  properties managed by Jumeirah Living.</li>
<li>The bill must be paid for and settled  by a Member at the outlet at the time of usage. </li>
<li><em>isme by Jumeirah</em> Spend is registered on the net billed amount excluding government  charges and municipality fees and applicable service charges, and after any  discount has been applied to the bill.</li>
<li>Members visiting the participating  restaurants must state upon entering the restaurant and/or upon making a  reservation that they are <em>isme by  Jumeirah</em> Members. Members are required to present a valid <em>isme by Jumeirah</em> membership when dining  at the restaurant to avail of their discount benefit.</li>
<li>Discount on dining will be given only  at participating restaurants and deducted before the final payment is made, and  may only be availed of when the bill is settled by a single payment method.  Where multiple checks are requested, the food and beverage discount will only  be applied to the Member&rsquo;s portion of the bill.</li>
<ol><li>When two or more people are dining  together, the following will apply:<br />
If there is only one bill per table: a maximum of one (1) Reward and one (1)  Member Discount can be redeemed per group/table, however this may depend on the  terms and the conditions of the chosen Reward. </li></ol>
<li>The discount will be applied after  any deduction for Reward usage and never before.</li>
<li>Discount is not applicable in conjunction with selected Rewards where the Reward is already a discount (e.g.  50% off lunch for up to four people).</li></ol>
<strong>Spa, Leisure and Fitness Facilities  Discount</strong>
<ol><li>Member discount benefits are as  follow:</li>
<ol><li><em>isme by Jumeirah</em> - 10%</li>
<li><em>isme by Jumeirah</em> Elite - 20%</li></ol>
<li>Discount is valid only on selected  products and services at participating Talise Spas; Akaru Spa, Talise Fitness  Health Clubs and any other participating leisure venues, including the  following: Beach Retail products; Beach tent hire; Dive Centre service; Talise  Fitness Products; Access to High Altitude Suite; Private Squash lessons; Rock  climbing; Massages; Facials; Body Treatments; Water Sports; Boat trips. </li>
<li>For spa treatments, the name of the  reservation and of the <em>isme by Jumeirah</em> Member should be the same. </li>
<li>Discount may not be used in  conjunction with any other offer or promotion or loyalty programme. </li>
<li>Discount is not applicable in  conjunction with selected Rewards where the Reward is already a discount (e.g.  50% off a treatment).</li>
<li>In accordance with the laws of the  UAE, male guests will be attended to by male therapists and female guests by  female therapists.</li>
<li>Discount is valid only for Members'  personal use.</li>
<li>A valid <em>isme by Jumeirah</em> membership on the Mobile App has to be presented  at the venue.</li>
<li>Members must state upon entering the  participating venue, or when making a reservation, that they are members of <em>isme by Jumeirah</em>.</li>
<li>Discounts will be given only at the  relevant participating venue when the bill is settled at the time of use and  not upon check-out or when the bill is signed to city ledger.</li>
<li>Discounts will not be applied on  bills charged to a room.</li>
<li>Discount is not valid on Christmas  Eve, Christmas Day, New Year's Eve, New Year's Day, Eid Al Fitr, Eid Al Adha,  Valentine's Day, UAE National Day, other Special Events or any other public  holidays as announced by the UAE government</li>
<li>Advance reservations are essential.  Cancellation policy of the reserved venue applies.</li></ol>
<strong>Preferential Entry Fees for Wild Wadi  Waterpark</strong>
<ol><li>Member discount benefits are as  follows: 
<ol><li><em>isme by Jumeirah</em> - 15% - Member plus four (4) guests</li>
<li><em>isme by Jumeirah</em> Elite - 35% - Member plus four (4) guests</li></ol>
</li>
<li>Discount is available for <em>isme by Jumeirah</em> members and their  guests only.</li>
<li>Members must present their valid <em>isme by Jumeirah</em> membership in the  Mobile App upon entry to the Waterpark.</li>
<li>Guests must accompany the Member to  qualify for the discount.</li>
<li>Discount cannot be used in  conjunction with any other offer or promotion or loyalty programme.</li>
<li>Discount can only be availed of if  the tickets are purchased at the entrance to the Wild Wadi Waterpark.</li></ol></ol>
<strong>Preferential Hotel Room Rates</strong>
<ol><li>Member Room Discount benefits are as  follows:</li>
<ol><li><em>isme by Jumeirah</em> - 10% off best available room rate in all participating UAE Hotels</li>
<li><em>isme by Jumeirah</em> Elite - 25% off best available room rate in all participating UAE Hotels </li>
</ol><li>Discount is available for active <em>isme by Jumeirah</em> members only.</li>
<li>A valid <em>isme by Jumeirah</em> membership in the Mobile App has to be presented  upon check-in to avail the discount, otherwise the best available room rate at  the hotel at time of check-in applies.</li>
<li>The Apply Discount PIN process must  be successfully completed at the time of check-in in order to redeem a room  discount.</li>
<li>Member must stay in the hotel room  themselves in order to be eligible for this discount.</li>
<li>Discount is applicable on additional  rooms bookings if: </li>
<ol><li>the Member is staying at the relevant  Jumeirah hotel, at the same time;</li>
<li>all rooms are reserved and registered  in the Member&rsquo;s name; and</li>
<li>the Member pays for all rooms.</li></ol>
<li>This discount rate is subject to  availability at time of reservation. </li>
  <li>Discount is not valid in conjunction  with any other discount or promotion or loyalty programme.</li>
  <li>Hotel's standard terms and conditions  apply.</li>
  <li>Advance reservations are recommended.  Walk-ins will be accommodated subject to availability on the day.</li>
  <li>Reservation must be guaranteed by a  credit card at the time of booking.</li>
  <li>Rates are payable in local currency  and are subject to local charges:</li>
  <ol><li>Dubai: 10% Service Charge, 10%  Municipality Fee and a Tourism Fee of AED20 per room per night. </li>
    <li>Abu Dhabi: 10% Service Charge, 6%  Tourism Fee, 4% Municipality Fee and a Municipality Room Fee of AED15 per room  per night.</li></ol>
  <li>All bookings are subject to the  hotel&rsquo;s standard cancellation terms and may vary by hotel. </li>
  <li>For <em>isme by Jumeirah</em> complimentary  room nights (which are given as a part of the Elite Welcome package),  cancellations must be made at least 7 days prior to the stay. </li>
  <li>Reservations are subject to the  booking requirements of the individual hotel, such as length of stay, hotel  restrictions, number of guests per room including children, and black-out  dates. </li>
  <li>Jumeirah Sirius members can earn  Jumeirah Sirius Points for the eligible amount paid for their room only upon  check-out and by presenting their Jumeirah Sirius membership.</li>
  <li>While <em>isme by Jumeirah</em> member discounts are applicable on Rooms, the  spend from the stay will not be accumulated towards the <em>isme by Jumeirah</em> spend thresholds.</li></ol>
</pre>
</div> 