<div data-role="view" data-title="SPA & Theme Park" data-layout="pl-back-layout" id="liesurelist-theme"  data-model="preLogin">

  <div class="logo-top-list">
           
        </div>
    <ul data-role="listview"  >
         <a>
            <div class="button-frame-inline height-80">
                 <a  data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"  >Talise Ottmon Spa</a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"   id="mobile-button1" data-role="button"  >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"   id="mobile-button1" data-role="button"  >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"  >Wild Wadi</a>
            </div>
        </a>
        
          <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"   id="mobile-button1" data-role="button"  >Talise Ottmon Spa</a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"   >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"   id="mobile-button1" data-role="button"   >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"  >Wild Wadi</a>
            </div>
        </a>
         <a>
            <div class="button-frame-inline height-80">
                 <a href="views/pl-outletdetail.html" data-transition="slide:up"  id="mobile-button1" data-role="button"   >Talise Ottmon Spa</a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"  >Talise Spa - Burj Al Arab</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail" id="mobile-button1" data-role="button"  >Talise Spa - Jumeirah Beach</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadLeisureDetail"  id="mobile-button1" data-role="button"   >Wild Wadi</a>
            </div>
        </a>
        

    </ul>

</div>

