<div data-role="view"  data-title="My Profile" data-layout="pl-main-layout" id="pl-myprofile-view" data-model="postLogin">

    <div data-role="touch" data-tap="plHomeClick">
        <div class="profile-image-holder">
            <div class="profile-image"></div>
            <div class="profile-image-change-button">
                <a class="btn btn-default btn-sm" href="#">
                    <i class="fa fa-camera"></i> Edit
                </a>
            </div>
        </div>
        <div class="profile-data-holder" id="read-profile" style="display:block">
            <div class="general-text-line" style="color:#000">Name :RICARDO MANRIQUEZ</div>
            <div class="general-text-line" style="color:#000">Birthdate :01/01/65</div>
            <div class="general-text-line" style="color:#000">Nationality :Unspecified</div>
            <div class="general-text-line" style="color:#000">Emirates :Dubai</div>
            <div class="general-text-line" style="color:#000">isme Member :9704213568</div>
            <div class="general-text-line" style="color:#000">Member Since :01/01/2016 </div>
            <div class="general-text-line" style="color:#000">Expiry Since :31/12/2016</div>
            <div class="general-text-line" style="color:#000">Sirius Member:999999999</div>
            <div class="general-text-line" style="color:#000">
                <a data-role="km-button" style="color:#000">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
            </div>
        </div>

    </div>

   
    
</div>

<style scoped>
    
    #pl-myprofile-view a
    {
        background-color: transparent !important;
    }
</style>

