<div data-role="view" data-title="My Messages" data-layout="pl-back1-layout" id="mymessagelist-theme" data-model="postLogin">


    <ul data-role="listview" id="message-list">
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1" style="display:block">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
            <div class="msg-outer-frame" >
                <div class="msg-date-frame-line">10 DEC</div>
                <div class="msg-narration-frame" style="margin-top:.2em">
                    Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

                </div>
                <div class="msg-action-frame-outer">
                    <div class="msg-action-frame-inner-1">
                        <i class="fa fa-circle fa-lg dotcolor"></i>
                    </div>
                </div>
            </div>
        </a>

        <hr/>
    </ul>

</div>

<style scope>
     
     
    #mymessagelist-theme     a
    {
        border: 1px solid #fff !important;
        background-color: transparent !important;
    }  
    

</style>
