<div data-role="view"  data-title="My Profile" data-layout="pl-main-layout" id="myprofile-view" data-model="postLogin">
   <header data-role="header">
        <div data-role="navbar">
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
             <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" ><i class="fa fa-credit-card fa-lg" style="color:#fff"></i></a>    
        </div>
    </header>
       <div class="logo-top">
            <div class="logo-image-holder"></div>
            <div class="home-page-holder"></div>
            <div class="home-page-holder">
                <div class="general-text-line">RICARDO MANRIQUEZ</div>
                <div class="general-text-line">9704213568</div>
                <div class="general-text-line">isme Member</div>
                <div class="general-text-line">Member Since 01/01/2015</div>

            </div>

        </div>
        <div class="home-page-holder"></div>
        <div class="button-frame">
            <a data-transition="slide:up" id="btnLogin" data-role="button" class="button-discount">Apply Discount</a>
        </div>

     

</div>

<style scoped>
    
    #myprofile-view a
    {
        background-color: transparent !important;
    }
</style>