<div data-role="view" data-title="Message Detail" data-layout="pl-back-layout" id="messageitem-theme" data-show="postLogin.mymessageitem" data-hide="postLogin.destroyplmessageitem" data-model="postLogin">

        <div data-role="navbar">
          
             <a  data-role="button"  data-bind="click: deleteMessage" data-align="right" >
                <i class="fa fa-trash fa-lg" style="color:#fff"></i></a>
        </div>


       <ul data-role="listview" style="margin-top:10px;display:none" id="pl-messageitem-list">
           
              <div class="msg-outer-frame-a padder" >
                <div class="msg-date-frame-line" id="msgday"></div>
                <div class="msg-narration-frame" id="msgnarration">
                    ${narration}

                </div>
            <div class="border-bot"></div>
            </div>
       
    </ul>
</div>

