<div data-role="view" data-title="My Wallet" data-reload="true" data-layout="pl-main-layout" id="pl-mywallet-theme" data-model="postLogin" data-show="postLogin.mywalletofferlist" data-hide="postLogin.destroyplmyreward" data-after-show="disableBackButton" data-before-hide="enableBackButton">
<header data-role="header">
                <div data-role="navbar">
                        <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="postLoginBack" data-icon="back">
                    </a>
                    <span data-role="view-title" ></span>
                   
             
                </div>
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrm"></div>
                        </div>

                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a data-click="enterPinForRedemption" data-role="button" style="background-color:#000" >Apply Discount</a>
                            </div>
                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backm" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" >
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" >
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backm"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backm"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backm"></div>

                    </a>
                </div>
            </header>
   <ul data-role="listview" id="mywallet-voucher-list" >
     
    </ul>
</div>    

