<div data-role="view" data-title="My Voucher" data-layout="pl-main-layout" id="pl-myvoucherdetail-theme" data-model="postLogin">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"  style="margin-top:.3em;color:#fff" data-click="postLoginBack">
            </a>
            <span data-role="view-title" id="item-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" >
                <i class="fa fa-credit-card fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>
    <div class="hero-image" id="outlet-image-large">
        <img id="outletimage" src="images/Brand1.png" class="img-hero"/>

    </div>

    <ul data-role="listview"    style="margin-top:0px">
        <div class="hero-image" id="myvoucher-load"></div>
        <div class="mycard-holder">
            <div class="mycard-detail-holder-label whitecolor">Voucher #</div>
            <div class="mycard-detail-holder-data  whitecolor" id="voucher-number"></div>
            <div class="mycard-detail-holder-label  whitecolor">Voucher Name</div>
            <div class="mycard-detail-holder-data  whitecolor" id="voucher-name" style="height:3.6em;line-height:1.2em"></div>
            <div class="mycard-detail-holder-label  whitecolor">Expiry</div>
            <div class="mycard-detail-holder-data  whitecolor" id="voucher-expiry"></div>
        </div>
        <div class="home-page-holder"></div>
        <div class="qr-image-sep">
            <div class="qr-image" id="qr-image-3"></div>
        </div>

        <div class="home-page-holder"></div>
        <div class="button-frame">
            <a data-transition="slide:up" id="discount-button" data-role="button" class="button-discount">Redeem</a>
        </div>

    </ul>

</div>

