<div data-role="view" data-title="My Messages" data-layout="pl-back5-layout" id="mymessagelist-theme" data-model="postLogin" data-show="postLogin.mymessagelist">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
              <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
        </div>
    </div>
    <ul data-role="listview" id="pl-history-list" class="ul-class">
       
    </ul>

</div>

<style scope>
     
     
    #mymessagelist-theme    .ul-class  a
    {
        border: 0px  !important;
        background-color: transparent !important;
    }  
    </style>
