    <div data-role="view" data-title="My Voucher" data-layout="pl-back2-layout" id="pl-myvoucherdetail-theme" data-model="postLogin" data-show="postLogin.mywalletofferdetail">

    <ul data-role="listview" id="wallet-voucher-div" style="display:none">
         <div class="hero-image" id="outlet-image-large">
        <img id="myvoucherdetaila" src="images/Brand1.png" class="img-hero"/>

    </div>
        <div class="filler">
        </div>
        <li>
            <div class="switch-frame whitecolor">
                Agree to Terms & Conditions
                <input data-role="switch"  id="wallet-tandc" type="checkbox" />
            </div>
        </li>
        <li>
            <div class="button-frame-inline">
                <a data-role="button"  data-bind="click:walletRedeem">Redeem</a>
            </div>
        </li>
        <li>
            <div class="mycard-holder">
                <div class="mycard-detail-holder-label ">Voucher #</div>
                <div class="mycard-detail-holder-data " id="voucher-number"></div>
                <div class="mycard-detail-holder-label  ">Voucher</div>
                <div class="mycard-detail-holder-data  " id="voucher-name"  style="height:3.6em;line-height:1.2em"></div>
                <div class="mycard-detail-holder-label  ">Expiry</div>
                <div class="mycard-detail-holder-data1  " id="voucher-expiry"></div>
            </div>
        </li>

        <div class="qr-image-sep">
            <div class="qr-image" id="qr-image-3"></div>
        </div>

        <li>
            <div id="myoffer-description" class="whitecolor"></div>
        </li>

        <li>
            <div id="myoffer-remark" class="whitecolor"></div>
        </li>

        <div>
            <li>&nbsp;</li>
        </div>
    </ul>
</div>
   
    
    
    
    
  