<div data-role="view" data-title="My Messages" data-layout="pl-main-layout" id="mymessagelist-theme" data-model="postLogin">

       <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"  style="margin-top:.3em;color:#fff" data-click="postLoginBack">
            </a>
            <span data-role="view-title" id="item-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" >
                <i class="fa fa-credit-card fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>
    <ul data-role="listview">
 <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
        <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
                <hr/>
        <a data-transition="slide"   href="views/pl-messageitem.html?mi=${sequence}" data-role="button" >
        <div class="msg-outer-frame" >
            <div class="msg-date-frame-outer">
                <div class="msg-date-frame-inner-1">
                    <div class="msg-date-text  msgfont">10</div>
                </div>
                <div class="msg-date-frame-inner-2"> <div class="msg-date-text  msgfont">JUN</div></div>
            </div>
            <div class="msg-narration-frame" style="margin-top:.2em">
                Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude...&nbsp;

            </div>
            <div class="msg-action-frame-outer">
                <div class="msg-action-frame-inner-1" style="display:block">
                    <i class="fa fa-circle fa-lg dotcolor"></i>
                </div>
            </div>
        </div>
    </a>
        
        <hr/>        
    </ul>

   
</div>


<style scope>
     
     
  #mymessagelist-theme     a
    {
        border:0px !important;
        background-color: transparent !important;

    }  
    </style>
