<div data-role="view" data-title="Message Detail" data-layout="pl-back-layout" id="messageitem-theme" data-model="postLogin">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"  style="margin-top:.3em;color:#fff;border:0px !important" data-click="postLoginBackOne">
            </a>
            <span data-role="view-title" id="item-title"></span>
        </div>

    </div>
    <div data-role="navbar" style="background-color:#7e6b6d">
        <a data-transition="slide"   data-role="button"  data-align="right" style="border:0px !important">
            <i class="fa fa-trash fa-lg" style="color:#fff"></i>
        </a>
    </div>

</div>

<style scope>
     
     
    #messageitem-theme     a
    {
        border: 1px solid #fff !important;
        background-color: transparent !important;
    }  
    
    #messageitem-theme .li-alignment-div
    {
        width: 90%;
        margin-left: 5%; 
        line-height: 1.5em;
    }
    </style>