<div data-role="view" data-title="Message Detail" data-layout="pl-back1-layout" id="messageitem-theme" data-model="postLogin">

    <div data-role="navbar" style="background-color:#7e6b6d">
        <a data-transition="slide"   data-role="button"  data-bind="click: deleteMessage" data-align="right" style="border:0px !important">
            <i class="fa fa-trash fa-lg" style="color:#fff"></i>
        </a>
    </div>
    <ul data-role="listview" id="pl-messageitem-list">
<div class="li-alignment-div">
        <li>

            <div class="msg-outer-frame" style="height:auto" >
                <div class="msg-date-frame-line">Redeem Voucher - 10 DEC</div>
                <div class="msg-narration-frame" id="msgnarration" style="width:100%">Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. Free BOGF offer from Jumeirah Latitude. </div>
            </div>

        </li>
</div>
        </ul>
</div>

<style scope>
     
     
    #messageitem-theme     a
    {
        border: 1px solid #fff !important;
        background-color: transparent !important;
    }  
    
     #messageitem-theme .li-alignment-div{
         width:90%;
         margin-left:5%;   
         line-height:1.5em;
     }
   
</style>