<div data-role="view" data-title="My Wallet" data-layout="pl-back1-layout" id="pl-mywallet-theme" data-model="postLogin">

    <ul data-role="listview"  >
        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>
        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>
        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free dish of the day at Le Beirut, Jumeirah Etihad Towers</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free dish of the day at Le Beirut, Jumeirah Etihad Towers</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Emirates Skywards 2000 Bonus Miles</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
            <a data-role="button" data-click="loadOfferDetail" style="border:0px;width:100%;font-size:1em">
                <div class="detail-text">View Details</div>
            </a>
        </div>

        <hr/>
    </ul>

</div>

