<div data-role="view" data-title="My Wallet" data-layout="pl-main-layout" id="pl-mywallet-theme" data-model="postLogin">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-align="left"  style="margin-top:.3em;color:#fff" data-click="postLoginBack" data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" >
                <i class="fa fa-credit-card fa-lg" style="color:#fff"></i>
            </a>
        </div>
    </header>
    <ul data-role="listview"  >
        <a href="views/pl-myvoucherdetail.html" data-transition="slide:left">
            <div class="offer-frame-1  outer-frame image-enhancer">
                <div class="voucher-text">Emirates Airline Offer</div>
                <div class="expiry-text">Expiry : 01/01/2017</div>
            </div>
        </a>
        <a href="views/pl-myvoucherdetail.html" data-transition="slide:left">
            <div class="offer-frame-2  outer-frame image-enhancer" >
                <div class="voucher-text">Couple Dinner</div>
                <div class="expiry-text">Expiry : 01/01/2017</div>
            </div>
        </a>
        <a href="views/pl-myvoucherdetail.html" data-transition="slide:left">

            <div class="offer-frame-3  outer-frame image-enhancer ">
                <div class="voucher-text">Night Out at Rays Grill</div>
                <div class="expiry-text">Expiry : 01/01/2017</div>
            </div>
        </a>

        <div class="offer-frame-4  outer-frame image-enhancer ">
            <div class="voucher-text">Family Day at Al Maraa</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>

        <div class="offer-frame-5 outer-frame image-enhancer ">
            <div class="voucher-text">UAE National Day Celebration</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>

        <div class="offer-frame-6 image-enhancer outer-frame">
            <div class="voucher-text">Dinner at Alfies Interior</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>

        <div class="offer-frame-7 image-enhancer outer-frame">
            <div class="voucher-text">Tea Time Offer at Lobby Lounge</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>
        <div class="offer-frame-8 image-enhancer outer-frame">
            <div class="voucher-text">Lunch at Arboretum</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>
        <div class="offer-frame-9 image-enhancer outer-frame">
            <div class="expiry-text">Weekend Brunch Offer</div>
        </div>
        <div class="offer-frame-10 image-enhancer outer-frame">
            <div class="voucher-text">Morrocon Night at Al Iwan</div>
            <div class="expiry-text">Expiry : 01/01/2017</div>
        </div>

    </ul>

</div>

