<div data-role="view" data-title="Restaurants" data-layout="pl-back-layout" id="pl-outletlist-theme"  data-model="preLogin">
   

  <div class="logo-top-list">
           
        </div>
    <ul data-role="listview"  >
         <a>
            <div class="button-frame-inline height-80">
                 <a  data-click="loadOutletDetail" id="mobile-button1" data-role="button"   >360<sup>o</sup></a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"   id="mobile-button1" data-role="button"   >AL Iwan</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >Al Mahaara</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >Al Muntaha</a>
            </div>
        </a>
        
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail" id="mobile-button1" data-role="button"   >Bab Al Yaam</a>
            </div>
        </a>
        
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >Talise</a>
            </div>
        </a>
        
         <a>
            <div class="button-frame-inline height-80">
                 <a  data-click="loadOutletDetail" id="mobile-button1" data-role="button"   >360<sup>o</sup></a>
            </div>
        </a>
        <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >AL Iwan</a>
            </div>
        </a>

           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >Al Mahaara</a>
            </div>
        </a>
    
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail" id="mobile-button1" data-role="button"   >Al Muntaha</a>
            </div>
        </a>
        
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail" id="mobile-button1" data-role="button"   >Bab Al Yaam</a>
            </div>
        </a>
        
           <a>
            <div class="button-frame-inline height-80">
                 <a data-click="loadOutletDetail"  id="mobile-button1" data-role="button"   >Talise</a>
            </div>
        </a>
        

    </ul>

</div>

