<div data-role="view"   data-title="" data-layout="pl-back2-layout" id="pl-offerdetail-theme" data-hide="plhideOfferDetail"  data-model="postLogin" data-init="initPLOfferGroup" data-show="postLogin.showOfferItem" style="background-color:#fff">

    <ul data-role="buttongroup" data-index="0" id="ploffertab" class="button-group a-group">
        <li>
            Details
        </li>
   <li data-bind="click: showOfferOutlet">
            Locations
        </li>

    </ul>
    <ul data-role="listview"    style="margin-top:0px;background-color:#fff !important;display:none" id="pl-offer-detail-div" >
    <div class="hero-image">
            <img id="pl-offerimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>         

        <li>
            <div id="pl-offer-short-1"></div>
        </li>
        <li>
        
        <li>
            <div id="pl-offer-long-1">
            </div>
        </li>
            
             <li>
            <div id="pl-offer-expiry" class="detail-subhead cblack">
            </div>
        </li>  
        <li>
            <div class="switch-frame-voucher cblack">
                Agree to Terms & Conditions
                <input data-role="switch" id="pl-tandc-accept" type="checkbox"/>
            </div>
        </li>
        <li>
            <div class="button-frame-inline">
                <a data-role="button"  data-bind="click:activateoffer">Add to my Wallet</a>
            </div>
        </li>

        <li>
            <div class="button-frame-inline">
                <a data-role="button"  data-bind="click:activateAndRedeem">Redeem</a>
            </div>
        </li>
              <li>
            <div id="pl-offer-remark">
            </div>
        </li>
        <div>
            <li></li>
        </div>
    </ul>

    <ul data-role="listview" style="margin-top:0px;display:none" id="pl-offer-location-div" >
   

    </ul>

</div>

<script>
    function initPLOfferGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#ploffertab").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>
