<div data-role="view" data-layout="pl-back-layout"   id="pl-offerdetailnearme-theme" data-init="initButtonGroup"  data-hide="postLogin.plofferDetaildestroyViewNearMe" data-show="postLogin.plofferitem" data-model="postLogin">
<header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div> 
            <a data-transition="slide"   data-role="button" href="views/pl-offerlistnearme.html?geo=2" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
                        <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" ><i class="fa fa-home fa-lg" style="color:#fff"></i></a>
        </div>
    </header>
    <ul data-role="buttongroup" data-index="0" id="ploffertabnearme" class="button-group" style="margin-top:0px">
        <li>
            Details
        </li>
        <li data-bind="click: oofferOutlet">
            Outlets
        </li>

    </ul>
    <ul data-role="listview"   style="background-color:#fff;margin-top:0px;display:none" id="pl-offerdetail-div">

        <div class="hero-image" id="pl-offer-image-large">                        <img id="plofferimage" src="images/largeihglogoimage.png" class="img-hero"/>
        </div>
        
           <li>
              <div class="switch-frame">
            <label class="whitecolor">
                 Agree To Offer Terms & Conditions**
                    <input data-role="switch" name="tandc-accept" id="tandc-accept" type="checkbox"/>
            </label>
                  </div>
        </li>
        <li>
            <div class="button-frame">
                 <a data-transition="slide"   id="activate-offer-button" data-role="button" data-bind="click: activateoffer">Activate Offer</a>
            </div>
        </li>

        <li>
            <div class="detail-subhead whitecolor" id="pl-ooffer-shortname"></div>
        </li>
        <li>
            <div id="pl-ooffer-description" class="whitecolor"></div>
        </li>
        <li>
            <div class="detail-subhead whitecolor" id="pl-ooffer-expiry" style="text-align:left"></div>
        </li>

        <li>
            <div id="pl-ooffer-remark" class="whitecolor"></div>
        </li>
  
    </ul>
    <ul data-role="listview"   style="display:none;background-color:#fff;margin-top:0px" id="pl-offer-outlet-list-view">

    </ul>
    
      <footer data-role="footer">
                   <div class="button-frame-inline">
                     <a data-transition="slide"   data-role="button"   data-bind="click: callTel">Call Now</a>
                     <a data-transition="slide"   data-role="button"    data-bind="click: shareOutlet">Share</a>   
                </div>
    
                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
                    <div class="footer-logo" data-bind="click:plshowBrandPage">&nbsp;</div>


                </div>
            </footer>
</div>

<script type="text/x-kendo-template" id="plofferOutletTemplate">
        <a data-transition="slide"   data-role="button"   data-click="outletMessage">
    <div class="outer-frame">
           <div class="image-frame-list small-image-height">
            <img src="${imageurl}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${outletname}</div>
        <div class="inner-frame-2">${hotelname}</div>
        <div class="inner-frame-3">Distance ${distance} Km</div>
       
    </div>
    </a>
</script>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#ploffertabnearme").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>

<style scoped>

    .button-group
    {
        margin-top: 0px;
        width: 60%;
        margin-left: 20%;
    }
    
       #pl-offer-outlet-list-view li
    {
        border-top: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
    }  
    
       #pl-offer-outlet-list-view a
    {
        background-color: transparent !important;
        color:#575757;
    }   
    </style>

