<div data-role="view" data-title="Restaurants" data-layout="pl-main-layout" id="pl-outletlistb-theme" data-reload="true"  data-model="postLogin" data-show="postLogin.showAllOutlet1" data-hide="postLogin.destroyploutletlistb" data-after-show="disableBackButton" data-before-hide="enableBackButton">
   
<header data-role="header">
                <div data-role="navbar">
                           <a data-role="button" data-align="left"  style="color:#fff;border:0px solid #000 !important;" data-click="brandDetailBack" data-icon="back">
                    </a>
                    <span data-role="view-title" id="item-title"></span>
                    <a  data-role="button" data-click="getLocation6" data-align="right" style="margin-right:10px">
                        <i class="fa fa-map-marker fa-lg" style="color:#fff"></i>
                    </a>
              <a  data-role="button" data-click="loadFilterView" data-align="right" style="margin-right:10px">
                        <i class="fa fa-filter fa-lg" style="color:#fff"></i>
                    </a>
             
                </div>
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard-qrs"></div>
                        </div>
 
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a href="views/pl-discountpinmember.html" data-role="button" style="background-color:#000" data-transition="slide:up" >Apply Discount</a>
                            </div>
                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry-backs" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2">
                            <i class="fa fa-chevron-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu">
                        <div class="share-menu-line-3-a" style="text-align:left" id="name-backs"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number-backs"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment-backs"></div>

                    </a>
                </div>
            </header>

    <ul data-role="listview" id="pl-outlet-list-b">

    </ul>
    

</div>
