<!--Offer List View-->
<div id="pl-offerlist-view"
     data-role="view"
     data-title="Rewards" data-layout="pl-back-layout"  data-model="preLogin">

    <ul data-role="listview"  >
        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>
        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>
        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free dish of the day at Le Beirut, Jumeirah Etihad Towers</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail" class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free dish of the day at Le Beirut, Jumeirah Etihad Towers</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Emirates Skywards 2000 Bonus Miles</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>

        <hr/>

        <div class="outer-frame">
            <div class="voucher-text">Buy One Get One Free Lunch at Arboretum, Madinat Jumeirah</div>
            <div class=" detail-text">
                <a data-role="button" data-click="loadOfferDetail"  class="detail-text-button">
                    View Details
                </a>
            </div>
            <div class="expiry-text">Expiry: 31/05/2016</div>
        </div>

        <hr/>
    </ul>
</div>

