<div data-role="view" id="pl-outletdetail-theme"    data-title="" data-layout="pl-back2-layout" data-model="postLogin" data-reload="true" data-show="postLogin.showOutletItem" style="background-color:#fff" data-hide="postLogin.destroyploutletdetail">
  

   <ul data-role="listview"    style="margin-top:5px;display:none;background-color:#fff" id="pl-outlet-detail-div" >
        <div class="hero-image">
            <img id="pl-outletimage" src="images\large_logo_placeholder.png" class="img-hero"/>

        </div>

        <li>
            <div id="pl-outlet-short-1"></div>
        </li>
        <li>
        
        <li>
            <div id="pl-outlet-long-1">
            </div>
        </li>
        <div></div>
    </ul>
</div>

    


