<div data-role="view" data-title="My Settings" data-layout="pl-back6-layout" id="pl-setting-theme" data-model="postLogin"  data-show="postLogin.editsettingdata" >
  <header data-role="header">
                <div data-role="navbar" data-model="postLogin" >
                    <a data-role="button" data-bind="click:checkSaveSetting"  data-align="left" style="color:#fff" data-icon="back" >
                    </a>
                    <span data-role="view-title" id="item-title"></span>
                 
                    <a data-bind="click:saveMySetting" data-role="button"  data-align="right" style="margin-right:10px" >
                        Save
                    </a>
                </div>
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard7-qr"></div>
                        </div>
                        <div class="filler"></div>
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a data-click="enterPinForRedemption" data-role="button"  >Apply Discount</a>
                            </div>
                        </div>
                        <div class="general-text-line-1 cblack" id="expiry7-back" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2" style="background-color:transparent !important">
                            <i class="fa fa-angle-up fa-2x" style="color:#000"></i>
                        </a>
                    </div>
                </div>
                <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu" style="background-color:transparent !important">
                        <div class="share-menu-line-3-a" style="text-align:left" id="name7-back"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number7-back"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment7-back"></div>

                    </a>
                </div>
            </header>
    <ul data-role="listview">
        <li>
            <div class="button-frame-login">
                <a data-role="button"   data-click="openEnterModalPassword">Change PIN</a>
            </div>
        </li>
      
        <li>
            <div class="input-frame-enrol-1">
                <input type="email" id="emailid1" placeholder="Email *" data-bind="value:emailid1, click:enableSaveSetting"/>
            </div>
        </li>
         <li>
            <div class="input-frame-enrol-1">
                <input type="email" id="emailid2" placeholder="Re-enter Email *" data-bind="value:emailid2 , click:enableSaveSetting"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <input type="number" id="mobile1" placeholder="Mobile (Eg:9715XXXXXXXX) *" data-bind="value:mobile1 , click:enableSaveSetting"/>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <label>
                    Date of Birth
                    <input type="date" id="date1"  style="text-align:right;color:#000" data-bind="value:date1 , click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1" style="border-bottom: 2px solid #000">
                <select id="selCountry" data-bind="click:enableSaveSetting">
                    <option value="" selected="true" >Nationality *</option>
                </select>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1" style="border-bottom: 2px solid #000">
                <select id="selCity" data-bind="click:enableSaveSetting">
                    <option value="" selected="true" >Select Emirate *</option>
                </select>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="number" id="hotelnumber1" placeholder="Sirius Member ID (if any)" data-bind="value:hotelnumber1, click:enableSaveSetting"/>
            </div>
        </li>

         <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Show Alcohol Offers
                    <input data-role="switch" id="profile-alcohol" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        
        <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Voucher Expiry Reminders
                    <input data-role="switch" id="profile-remindexpiry" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        <li>
            <div class="switch-frame-1">
                <label class="whitecolor" >
                    Allow Notifications
                    <input data-role="switch" id="profile-pushoffer" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>

        <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Allow Location Services
                    <input data-role="switch" id="profile-autolocation" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        <div>

        </div>
    </ul>

</div>

<style scoped>
    #pl-setting-theme .input-frame-enrol 
    {
        border-bottom: 2px solid #000;
    }
    
   
    #pl-setting-theme .switch-frame a
    {
        background-color: transparent !important;
    }
    
    #pl-setting-theme label
    {
        color: #000;
        margin-left: 2%;
    }
</style>

