<div data-role="view" data-title="My Preferences" data-layout="pl-main-layout" id="pl-setting-theme" data-model="postLogin"  data-show="postLogin.editsettingdata" data-hide="postLogin.destroyplsetting" data-after-show="disableBackButton" data-before-hide="enableBackButton">
  <header data-role="header">
                <div data-role="navbar">
                    <a data-role="button" data-bind="click:checkSaveSetting" data-align="left" style="color:#fff" data-icon="back" >
                    </a>
                    <span data-role="view-title"></span>
                 
                    <a data-bind="click:saveMySetting" data-role="button"  data-align="right" style="margin-right:10px" >
                        Save
                    </a>
                </div>
                <div class="cardhead" style="background-color:#fff">
                    <div class="class-card-div">
                        <div class="filler10">&nbsp;</div>
                        <div class="qr-image-sep">
                            <div class="qr-image" id="mycard7-qr"></div>     
                        </div>
                        <div class="home-page-holder">
                            <div class="button-frame-login">
                                <a href="views/pl-discountpinmember.html" data-role="button"  style="background-color:#000 !important" data-transition="slide:up">Apply Discount</a>
                            </div>
                        </div>
                        <div class="filler10"></div>
                        <div class="general-text-line-1 cblack" id="expiry7-back" ></div>
                    </div>
                    <div class="share-menu-line-2-c">
                        <a  data-click="cardClick" data-role="button" class="mymenu2">
                            <i class="fa fa-chevron-up fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="share-menu-line-3">
                    <a  data-click="cardClick" data-role="button"  class="cardmenu">
                        <div class="share-menu-line-3-a" style="text-align:left" id="name7-back"></div>
                        <div class="share-menu-line-3-a" style="text-align:center" id="number7-back"></div>
                        <div class="share-menu-line-3-a" style="text-align:right" id="segment7-back"></div>

                    </a>
                </div>
            </header>
    <ul data-role="listview">

        <li>
            <div class="button-frame-login">
                <a data-role="button"   data-click="openEnterModalPassword" style="background-color:#000 !important">Change PIN</a>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1 ">
                <input type="number" id="hotelnumber1"  style="padding-left:0px" placeholder=" Jumeirah Sirius Member ID (if any)" data-bind="value:hotelnumber1, click:enableSaveSetting"/>
            </div>
        </li>
      
        <li>
            <div class="input-frame-enrol-1">
                <input type="email" id="emailid1" placeholder="Email*" data-bind="value:emailid1, click:enableSaveSetting" style="padding-left:0px"/>
            </div>
        </li>
          <li>
            <div class="input-frame-enrol-1">  
                <label>
                    Date of Birth
                    <input type="date" id="date1"  style="text-align:right;color:#000;padding-left:0px" data-bind="value:date1 , click:enableSaveSetting"  />
                </label>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1">
                <input type="number" id="mobile1" style="padding-left:0px;color:#ccc" placeholder="Mobile(9715XXXXXXXX)*" data-bind="value:mobile1 , click:enableSaveSetting" readonly="true" />
            </div>  
        </li>
       
        <li>
            <div class="input-frame-enrol-1" style="border-bottom: 2px solid #000">
                <select id="selCountry" data-bind="value:noAlcohol">
                    <option value="" selected="true" >Nationality*</option>
                </select>
            </div>
        </li>
        <li>
            <div class="input-frame-enrol-1" style="border-bottom: 2px solid #000">
                <select id="selCity">
                    <option value="0" selected="true">Select Emirate*</option>
                </select>
            </div>
        </li>
        

         <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Show Alcohol Offers
                    <input data-role="switch" id="profile-alcohol" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        
        <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Voucher Expiry Reminders
                    <input data-role="switch" id="profile-remindexpiry" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        <li>
            <div class="switch-frame-1">
                <label class="whitecolor" >
                    Allow Notifications
                    <input data-role="switch" id="profile-pushoffer" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>

        <li>
            <div class="switch-frame-1">
                <label  class="whitecolor">
                    Allow Location Services
                    <input data-role="switch" id="profile-autolocation" type="checkbox" checked="false" data-bind="click:enableSaveSetting"/>
                </label>
            </div>
        </li>
        <div>

        </div>
    </ul>

</div>

<style scoped>
    #pl-setting-theme .input-frame-enrol 
    {
        border-bottom: 2px solid #000;
    }
    
   
    #pl-setting-theme .switch-frame a
    {
        background-color: transparent !important;
    }
    
    #pl-setting-theme label
    {
        color: #000;
        margin-left: 2%;
    }
</style>

