<div data-role="view" data-title="Reset Password" data-layout="pre-layout" id="resetpassword-theme" data-model="preLogin" data-hide="preLogin.destroyresetpassword" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
              <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
        </div>
    </div>
<div class="filler"></div>
    <ul data-role="listview" style="background-color:#fff"> 

     
        <li>
            <div class="input-frame-enrol-1">
                <input type="email" id="emailid1" data-bind="value: emailid1" placeholder="Email Address"/>
            </div>
        </li>
        <div class="filler"></div>

        <li>
            <div class="button-frame-login">
                <a id="mobile-button1" data-role="button"  data-bind="click:requestPasswordChangeURL"  >Change Password</a>
            </div>
        </li>
           <li>
            <div class="button-frame-login">
                <a data-transition="slide:up" id="mobile-button1"  href="views/home.html" data-role="button">Home</a>
            </div>
        </li>
        <div>
            <li></li>
        </div>
    </ul>

</div>