<div data-role="view" data-title="PIN Reset Validation" data-layout="pre-layout" id="resetpassword-theme" data-show="preLogin.initResetPin" data-model="preLogin" data-hide="preLogin.destroyresetpassword" data-after-show="disableBackButton" data-before-hide="enableBackButton">
   
    
         <div data-role="navbar" style="background-color:transparent !important">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#000"></a>
            <span data-role="view-title"></span>
    </div>

    <div class="reward-summary-a">
        <div class="filler"></div>
        <div class="filler"></div>
        
        <div class="reward-summary-1">
            <pre style="color:#000;text-align:center;font-size:125%">>Please enter the SMS Code sent on your mobile and click continue to reset your PIN</pre>
        </div>
    </div>
      <div class="filler"></div>
      <div class="filler"></div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-2">

                 <input type="number" id="emailid1" data-bind="value: emailid1" placeholder="SMS Code"/>
            </div>
        </li>
          <div class="filler"></div>
      <div class="filler"></div>
        <li>
            <div class="button-frame">
                <a data-role="button" data-bind="click: validateResetPin" style="background-color:#eb046d;font-size:125%;color:#fff">Continue</a>
            </div>
             
        </li>
              <div class="filler"></div>
        <li>
            <a  data-bind="click: initSMS" style="background-color:transparent !important">
                <div class="switch-frame one-line" style="color:#000" data-bind="click: initResetPin">Send me a new SMS Code</div>  
            </a>

        </li>
    </ul>

</div>