<!--Search Result Oneway-->
<div id="searchoneway-view" data-reload="true" data-role="view" data-title="" data-layout="pre-layout" data-model="preLogin" data-show="prelogin.searchResultOneWay"
    data-hide="preLogin.destroysearchoneway" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span style=width:70%;color:#fff;padding:0px ">
<div style="width:100%;height:30%;display:block;font-size:14px;color:#fff;text-align:center " id="itheader ">DXB-BLR One Way</div>
<div style="width:100%;height:70%;display:block;font-size:10px;color:#ccc;text-align:center " id="itsubheader
                ">1 <i class='fa fa-user' style="color:#fff "></i> Economy 12-Dec</div>
  
            </span>


            <a  data-role="button " data-align="right ">
                <i class="fa fa-filter fa-lg " style="color:#fff "></i>
            </a>
        
        </div>
    </div>

 <ul data-role="listview "  id="oneway-list-view " >
      
    </ul>
</div>