<div id="searchoneway-view" data-role="view" data-title="" data-layout="pre-layout" data-model="preLogin"
    data-init="preLogin.searchResultOneWay" data-hide="preLogin.destroysearchoneway" data-after-show="disableBackButton" data-before-hide="enableBackButton">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left" style="margin-top:.3em;color:#fff"></a>
            <span style=width:70%;color:#fff;padding:0px ">
<div style="width:100%;height:30%;display:block;font-size:14px;color:#fff;text-align:center " id="itheader ">DXB-BLR One Way</div>
<div style="width:100%;height:70%;display:block;font-size:10px;color:#ccc;text-align:center " id="itsubheader
                ">1 <i class='fa fa-user' style="color:#fff "></i> Economy 12-Dec</div>
  
            </span>

    <a  data-role="button " data-align="right ">
                <i class="fa fa-filter fa-lg " style="color:#fff "></i>
            </a>
          
        
        </div>
    </div>
<div>
 <ul data-role="listview" id="onewaylistview " >
        <div class="single-flight-outer ">
	    <div class="flight-logo " style="text-align:center;display:block "><img src="https://goprivate.wspan.com/sharedservices/images/airlineimages/logoAirEK.gif
	                    " style="height:auto;width:auto "><br/><br/>Emirates</div>
	               <div class="flight-main-holder ">
	                    <div class="flight-lines ">
	                        <div class="flight-sub-lines ">12:00</div>
	                        <div class="flight-sub-lines "><i class="fa fa-arrow-circle-right fa-lg " style="color:#283880 "></i></div>
	                        <div class="flight-sub-lines ">15:00</div>
	                    </div>
	                    <div class="flight-lines ">
	                        <div class="flight-sub-lines ">DXB</div>
	                        <div class="flight-sub-lines ">1 stop 12h25m</div>
	                        <div class="flight-sub-lines ">BLR</div>
	                    </div>
	                    <div class="flight-linel ">
	                        <div class="flight-sub-linel " style="margin-top:25px ">AED1200</div>
	                        <div class="flight-sub-linel ">
	                            <div class="button-frame-login "> <a data-role="button " href="views/searchFlightDetail.html?p=${pricekey}&l=${flightleg}&o={flightoption}
	                    " data-transition="slide " style="background-color:#283880;height:30px;width:100%;display:block;border-radius:35px;display:block;line-height:27px;font-size:14px;margin-top:30px ">Select</a></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
        <hr/>

    </ul>
    </div>
</div>

