<div data-role="view" data-title="Set PIN" data-layout="pre-layout" id="pin-theme" data-model="preLogin" data-show="preLogin.initPin" data-hide="preLogin.destroysetpin" data-after-show="disableBackButton" data-before-hide="enableBackButton">

     <div data-role="navbar" style="background-color:transparent !important">
            <span data-role="view-title" style="color:#000"></span>
                       <a data-role="button" data-align="left" style="color:#000" href="views/home.html" data-icon="back"></a>
    </div>

    <div class="reward-summary-a">
        <div class="reward-summary-1">
            <pre class="fulljustify" style="color:#000;text-align:center;font-size:100%">Enter 4 digit PIN to Login and validating discounts and redeeming Rewards on the mobile</pre>
        </div>
    </div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-2">

                <input type="number" id="pin1" data-bind="value: pin1" placeholder="Enter PIN" maxlength="4" style="text-align:center"/>
            </div>
        </li>
        
         <li>
            <div class="input-frame-enrol-2">

                <input type="number" id="pin2" data-bind="value: pin2" placeholder="Re-enter PIN" maxlength="4" style="text-align:center"/>
            </div>
        </li>
                <div class="filler"></div>
        <li>
            <div class="button-frame">
                <a data-role="button" data-bind="click: savePIN" style="background-color:#eb046d;font-size:125%;color:#fff">Continue</a>
            </div>
        </li> 
    </ul>

</div>