<div data-role="view" data-title="Set PIN" data-layout="pre-layout" id="pin-theme" data-model="preLogin" data-show="preLogin.initPin" data-hide="preLogin.destroysetpin" data-after-show="disableBackButton" data-before-hide="enableBackButton">

    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="reward-summary-a">
        <div class="reward-summary-1">
            <pre class="fulljustify" style="color:#fff">Enter a 4 digit PIN to be used for Login and validating discounts and redeeming Rewards on the mobile</pre>
        </div>
    </div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-2">

                <input type="number" id="pin1" data-bind="value: pin1" placeholder="Enter PIN" maxlength="4"/>
            </div>
        </li>
        
         <li>
            <div class="input-frame-enrol-2">

                <input type="number" id="pin2" data-bind="value: pin2" placeholder="Re-enter PIN" maxlength="4"/>
            </div>
        </li>
                <div class="filler"></div>
        <li>
            <div class="button-frame">
                <a data-role="button" data-bind="click: savePIN">Set PIN</a>
            </div>
        </li>
      
        <div>
            <li></li>
        </div>
    </ul>

</div>