<div data-role="view" data-title="" data-layout="pre-layout" id="sms-theme" data-model="preLogin" data-show="preLogin.initSMS" data-hide="preLogin.destroysmspage" data-after-show="disableBackButton" data-before-hide="enableBackButton">

    <div data-role="header">
        <div data-role="navbar">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#000"></a>
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="reward-summary-a">
        <div class="reward-summary-1">
            <pre class="fulljustify" style="color:#fff">Please enter the SMS Code we just sent you.</pre>
        </div>
    </div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-1">

                <input type="password" id="smsnum" data-bind="value: smsnum" placeholder="SMS Code"/>
            </div>
        </li>
        <li>
            <div class="button-frame">
                <a data-role="button" data-bind="click: validateSMS" style="background-color:#eb046d">Continue</a>
            </div>
             
        </li>
        <li>
            <a  data-bind="click: initSMS" style="background-color:transparent !important">
                <div class="switch-frame one-line" style="color:#000" data-bind="click: initSMS">Send me a new SMS Code</div>  
            </a>

        </li>
    </ul>

</div>