<div data-role="view" data-title="Token Validation" data-layout="back-layout" id="token-theme" data-model="preLogin" data-show="preLogin.initToken">

    <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <span data-role="view-title"></span>
            <a data-role="button" href="views/home.html"  data-align="left" style="color:#fff" data-icon="back" data-transition="slide"></a>
        </div>
    </div>

    <div class="reward-summary-a">
        <div class="reward-summary-1">
            <pre class="fulljustify" style="color:#fff">Please enter the activation token number you have received on your email address. We ensure that your account is secured. You are getting this screen because you are signing in on a different device.</pre>
        </div>
    </div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol">

                <input type="password" id="tokennum" data-bind="value: tokennum" placeholder="Toekn Number"/>
            </div>
        </li>
        <li>
            <div class="button-frame-inline">
                <a data-transition="slide"   data-role="button" data-bind="click: validateToken">Validate</a>
            </div>
        </li>
        <li>
            <div class="button-frame-inline">

                <a data-transition="slide"    href="views/home.html" data-role="button">Cancel</a>
            </div>

        </li>
        <div>
            <li></li>
        </div>
    </ul>

</div>