<div data-role="view" data-title="Token Validation" data-layout="pre-layout" id="token-theme" data-model="preLogin" data-show="preLogin.initToken" data-hide="preLogin.destroytokenpage" data-after-show="disableBackButton" data-before-hide="enableBackButton">

    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="reward-summary-a">
        <div class="reward-summary-1">
            <pre class="fulljustify" style="color:#fff">Please enter the activation token number you have received on your email address. We ensure that your account is secured. You are getting this screen because you are signing in on a different device.</pre>
        </div>
    </div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-1">

                <input type="password" id="tokennum" data-bind="value: tokennum" placeholder="Token Number"/>
            </div>
        </li>
        <li>
            <div class="button-frame-login">
                <a data-role="button" data-bind="click: validateToken">Validate</a>
            </div>
        </li>
        <li>
            <div class="button-frame-login">

                <a data-transition="slide:up"  href="views/home.html" data-role="button">Cancel</a>
            </div>

        </li>
        <div>
            <li></li>
        </div>
    </ul>

</div>