<div data-role="view" data-title="New Device Validation" data-layout="pre-layout" id="token-theme" data-model="preLogin" data-init="preLogin.initToken" data-show="preLogin.initSMS" data-hide="preLogin.destroytokenpage" data-after-show="disableBackButton" data-before-hide="enableBackButton">
       <div data-role="navbar" style="background-color:transparent !important">
             <a  data-role="backbutton" data-align="left" style="margin-top:.3em;color:#000"></a>
            <span data-role="view-title" style="color:#000"></span>
    </div>

    <div class="reward-summary-a">
        <div class="filler"></div>
        <div class="filler"></div>
        
        <div class="reward-summary-1">
            <pre style="color:#000;text-align:center;font-size:110%;margin-left:20px;margin-right:20px">Please enter the Validation Code sent on SMS. We ensure that your account is secured. You are getting this screen because you are signing in on a different device.</pre>
        </div>
    </div>
      <div class="filler"></div>
      <div class="filler"></div>
    <ul data-role="listview" style="background-color:#fff">
        <li>
            <div class="input-frame-enrol-2">

                 <input type="password" id="tokennum" data-bind="value: tokennum" placeholder="Validation Code" style="text-align:center" maxlength="6"/>
            </div>
        </li>
          <div class="filler"></div>
      <div class="filler"></div>
        <li>
            <div class="button-frame">
                <a data-role="button" data-bind="click: validateToken" style="background-color:#eb046d;font-size:125%;color:#fff">Continue</a>
            </div>
             
        </li>
              <div class="filler"></div>
        <li>
            <a  data-bind="click: initSMS" style="background-color:transparent !important">
                <div class="switch-frame one-line" style="color:#000" data-bind="click: initSMS">Send me a new Validation Code</div>  
            </a>

        </li>
    </ul>

</div>