<!--Program Benefits View-->
<div id="pl-benefit-detail"
     data-role="view"
     data-layout="pl-back-layout"  data-model="preLogin" data-show="preLogin.benefitdetail" data-hide="preLogin.pldestroyBenefitDetail">
     <header data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div> 
                     <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left" data-icon="back">
                    </a>
                    <span data-role="view-title" id="item-title"></span>
                </div>
            </header>

    <ul data-role="listview" data-style="inset" style="background-color:#fff" id="benefit-detail-view">
       
        
        <li>
            <div id="benefit-text3"></div>
        </li>

    </ul>
 <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>               <div class="footer-logo">&nbsp;</div>


                </div>
            </footer>
</div>