<div data-role="view" id="pl-outletdetail-theme"    data-init="initButton" data-layout="pl-back2-layout" data-model="postLogin" data-show="postLogin.plshowOutletItem" data-hide="postLogin.ploutletdetailthemedestroyView">
  <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div> 
            <a data-transition="slide"   data-role="button" href="views/pl-outletlist.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" ><i class="fa fa-home fa-lg" style="color:#fff"></i></a>                   
        </div>
    </header>
    <ul data-role="buttongroup" data-index="0" style="margin-top:0px;" id="pl-outletform" class="button-group">
        <li>
            Details
        </li>
        <li data-bind="click: getLocationO">
            Map
        </li>
        <li data-bind="click: showOutletOffer">
            Offers
        </li>

    </ul>

    <ul data-role="listview"  data-style="inset" style="background-color:#fff;margin-top:0px;display:none" id="pl-outletdetail-div"  >

        <div class="hero-image" id="pl-outlet-image-large">

        </div>

        <li>
            <div class="detail-subhead whitecolor" id="pl-ooutlet-short"></div>
        </li>
        <li>
            <div id="pl-ooutlet-long" class="whitecolor textpad">
            </div>
        </li>
    </ul>

    <ul data-role="listview" style="background-color:#fff;margin-top:0px;display:none;" data-style="inset" >
        <li>
            <div id="map_canvas1" class="home-pos">
            </div>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" style="display:none;background-color:#fff;margin-top:0px" id="pl-outlet-offer">

    </ul>
    <footer data-role="footer">
                   <div class="button-frame-inline">
                     <a data-transition="slide"   data-role="button"   data-bind="click: callTel">Call Now</a>
                     <a data-transition="slide"   data-role="button"    data-bind="click: shareOutlet">Share</a>   
                </div>
    
                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
               <div class="footer-logo" data-bind="click:plshowBrandPage">&nbsp;</div>

                </div>
            </footer>

</div>

<script type="text/x-kendo-template" id="pl-outletOfferTemplate">
    <a data-transition="slide"   data-role="button"   data-click="offerMessage">    
    <div class="outer-frame">
        <div class="image-frame-list small-image-height">
            <img src="${imageurls}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${itemname} </div>
        <div class="inner-frame-3">Expiry ${couponexpirydate}</div>
       
    </div>
</a>    
</script>

<script>

    function initButton() {
        var listviews = this.element.find("ul.km-listview");
    
        $("#pl-outletform").kendoMobileButtonGroup({
                                                    select: function (e) {
                                                        listviews.hide()
                                                            .eq(e.index)
                                                            .show();
                                                    },
                                                    index: 0
                                                });
    }    
</script>

<style scoped>
    

      
    #pl-outlet-offer li
    {
        border-top: 1px solid #fff !important;
        border-bottom: 1px solid #fff !important;
    }  
    
          #pl-outlet-offer a
    {
        background-color: transparent !important;
    }     
  
</style>
    