<!--Offer List View-->
<div id="pl-offerlistnearme-view"
     data-role="view"
     data-title="Offers Near Me" data-layout="pl-back-layout"  data-model="postLogin" data-show="postLogin.plofferlist" data-hide="postLogin.pldestroyOfferListViewnearme" >
    
      <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div> 
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left"  data-icon="back">
                
            </a>
            <span data-role="view-title"></span>
             <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="right" ><i class="fa fa-home fa-lg" style="color:#fff"></i></a>
        </div>
    </header>
  
    <ul data-role="listview" style="background-color:#fff" id="pl-offer-list-view">

    </ul>
    
     <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
               <div class="footer-logo" data-bind="click:plshowBrandPage">&nbsp;</div>

        </div>
    </footer>
</div>

<script type="text/x-kendo-template" id="plofferListTemplate">
 <a data-transition="slide"   href="views/pl-offerdetailnearme.html?of=${itemcode}" data-role="button"   class="a-class">    
    <div class="outer-frame">
        <div class="image-frame-list small-image-height">
            <img src="${imageurls}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${itemname} </div>
         <div class="inner-frame-3">Expiry ${couponexpirydate}</div>    
    </div>
</a>    
</script>

<style scoped>

    #pl-offerlistnearme-view li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       #pl-offer-list-view a
    {
        background-color: transparent !important;
        color:#575757;
    }     
  
</style>