<div data-role="view" data-title="Terms of Service" data-layout="pl-back-layout" id="pl-termsofservice-theme" data-model="preLogin" data-show="preLogin.getTermsofService" data-hide="preLogin.destroyplTermsofService">
    <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div> 
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left" style="color:#fff"  data-icon="back"></a>
        </div>
    </div>

    <ul data-role="listview" style="background-color:#fff">
        <div id="urldata-terms"></div>
    </ul>

    <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
          <div class="footer-logo" data-bind="click:plshowBrandPage">&nbsp;</div>


        </div>
    </footer>
</div> 