@font-face { font-family: 'Gotham-Bold'; src: url('../styles/fonts/Gotham-Bold.otf')  format('opentype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Gotham-BoldItalic'; src: url('../styles/fonts/Gotham_Medium.ttf')  format('opentype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Gotham-Book'; src: url('../styles/fonts/Gotham-Book.otf')  format('opentype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Gotham-BookItalic'; src: url('../styles/fonts/Gotham-BookItalic.otf')  format('opentype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Gotham-Light'; src: url('../styles/fonts/Gotham-Light.ttf')  format('truetype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Gotham-LightItalic'; src: url('../styles/fonts/Gotham-Book.otf')  format('opentype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Didot'; src: url('../styles/fonts/Didot.ttc')  format('truetype'); } /* Safari, Android, iOS */
@font-face { font-family: 'Georgia'; src: url('../styles/fonts/Georgia.ttf')  format('truetype'); } /* Safari, Android, iOS */

.km-ios7 .km-list>li:last-child{
  box-shadow:none;
}

.km-ios7 .km-tabstrip .km-state-active{
    color:#fff;
}


hr { background-color: #b6b2b4; height: 1px; border: 0; }
a
{
    text-decoration: none;
    color: #fff;
}

.km-ios7 .km-listview
{
    background-color: transparent !important;
    border-bottom: 0px;
}

.km-ios7 .km-navbar .km-icon
{
    color: #fff;
    border: 0px !important;
    border: none !important;
    line-height: 25px !important;
}

.km-ios7 .km-navbar .km-view-title
{
    color: #fff;
    font-size:98%;
}

.km-ios7 .km-navbar
{
    background-color: #000;
    border: none;
    height: 3em;
    line-height: 3em;
    color: #fff
}

.km-navbar a:active
{
    background-color: transparent !important;
}

.km-navbar span,
.km-navbar .km-view-title span
{
    color: #fff;
}

.km-ios7 .km-navbar .km-button
{
    margin-top: -10px;
    width: 40px;
    border: 0px !important;
    color: #fff;
}

.km-navbar a:active
{
    background-color: transparent !important;
}

.km-navbar span,
.km-navbar .km-view-title span
{
    color: #fff;
    height: 3em;
    line-height: 3em;
    font-family: Gotham-Book;
}

.km-header
{
    box-shadow: 0px 1px 5px #666365;
}
#appdrawer .km-content,#appdrawerN .km-content,#pl-home-view-plus .km-content, #pl-confirmredemptionblack-view .km-content,#pl-voucheredeemblack-view .km-content
{
    background-color:#000;
}

#benefit-theme .km-content, #customerservice-theme .km-content, #offerdetail-theme .km-content,  #pl-branddetail-theme .km-content, #pl-myprofile-view .km-content, #pl-benefit-theme .km-content, #mymessagelist-theme .km-content, #messageitem-theme .km-content, #pl-setting-theme .km-content, #device-theme .km-content, #sms-theme .km-content,
#history-theme .km-content, #historyitem-theme .km-content, #modalviewhistoryfilter .km-content, #myfavorite-view .km-content, #pl-confirmpage-view .km-content, #pl-customerservice-theme .km-content, #pl-confirmredemption-view .km-content, #modalviewfaq .km-content,#branddetail-theme .km-content, #aboutisme-theme .km-content, #pl-aboutisme-theme .km-content, #pl-termsconditions-theme .km-content,#pl-voucheredeem-view .km-content,#pl-home-view .km-content,#tcisme-theme .km-content,
#faq-theme .km-content,#pl-faq-theme .km-content,#modalviewdataprotection .km-content, #enrol-theme .km-content, #login-theme .km-content, #resetpassword-theme .km-content,#token-theme .km-content,#pin-theme .km-content, #enrolmentpage-view .km-content 
{
    background-color: #fff;
}

 #home-view .km-content
{
    background: url(../images/home_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}



#outletlist-theme .km-content,
#outletlistb-theme .km-content,
#offerdetail-theme .km-content,
#pl-outletlist-theme .km-content,
#pl-outletlistb-theme .km-content,
#pl-offerdetail-theme .km-content,
#pl-myvoucherdetail-theme .km-content,
#outletdetail-theme .km-content,
#pl-outletdetail-theme .km-content
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/barsdining_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

#liesurelist-theme .km-content,
#liesurelistb-theme .km-content,
#pl-liesurelist-theme .km-content,
#pl-liesurelistb-theme .km-content

{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/liesure_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

#offerlist-view .km-content,
#pl-offerlist-view .km-content,
#pl-mywallet-theme .km-content
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/rewards_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

#modalviewpin .km-content, #modalviewstaffpin .km-content, #modalviewpassword .km-content,#modalviewenterpin .km-content,#modalviewrepin .km-content
{
    background-color: rgba(0, 0, 0, 1) !important;
    color: #fff;
}

#modalviewterms .km-content
{
     background-color: #fff !important;
    color: #000;
}


#mvwait .km-content
{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #fff;
}

#explorelist-view .km-content,#pl-explorelist-view .km-content
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/discover_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

#discoverlist-view .km-content
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/explore_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.km-ios7 .km-view .km-content
{
    background-color: #000;
}

.fa .km-icon:after,
.fa .km-icon:before
{
    margin-top: .2em;
    margin-left: .2em;
    font: .9em/.9em 'FontAwesome';
}



.km-customfav:before,
.km-customfav:after
{
    content: "\f219";
}

.km-customhistory:before,
.km-customhistory:after
{
    content: "\f1da";
}


.km-customreward:before,
.km-customreward:after
{
    content: "\f06b";
}


.km-customenvelope:before,
.km-customenvelope:after
{
    content: "\f187";
}

.km-customlocation:before,
.km-customlocation:after
{
    content: "\f041";
}

.km-customoenvelope:before,
.km-customoenvelope:after
{
    content: "\f0e0";
        color: #fff;
}

.km-customsetting:before,
.km-customsetting:after
{
    content: "\f0ad";  
}

.km-customcall:before,
.km-customcall:after
{
    content: "\f095";
    color: #fff;
}

.km-customomap:before,
.km-customomap:after
{
    content: "\f041";
        color: #fff;
}

.km-customplus:before,
.km-customplus:after
{
    content: "\f068";
}

.km-customminus:before,
.km-customminus:after
{
    content: "\f067";
}

.km-customrestlist:before,
.km-customrestlist:after
{
    content: "\e077";
    color: #fff;
}

.km-customstar:before,
.km-customstar:after
{
    content: "\f005";
}

*
{
    font-family: "Gotham-Book";
    font-size:98%;
}


  
ul
{
    border-top: 0  !important;
    border-bottom: 0  !important;
    line-height: 1.3em !important;
}
      
li
{
    padding: 0px;
    margin:0px;
    border-top: 0 solid #fff !important;
    border-bottom: 0 solid #fff !important;
}  

h2
{
    font-weight: bold;
    color: #000;
}

.km-ios7 .km-view ul
{
    margin-left: 2%;
    margin-top: 2%; 
    width: 96%; 
    display: inline-block;
    border-radius: 5px; 
}

.km-ios7 p
{
    word-wrap: normal;
    line-height: 1.2em;
    padding-left: .2em;
    padding-right: .2em;
}

img
{
    width: 100%;
    height: 100%;
    border-style:none;
  
}

.image-frame-list  
{
    position: relative;
    float: left;
    width: 35%;
    background: url(../images/smallihglogoimage.png) no-repeat center center;
    border: 0px solid #fff !important;
    background-size: auto;
    -webkit-background-size: auto;
}

.inner-frame-1
{
    padding-left: .4em;
    padding-right: 0em;
    height: 2.4em;
    line-height: 1.2em;
    position: relative;
    float: left;
    width: 64%;
    font-weight: bold;
    text-align: left;
    color: #575757;
}
.inner-frame-2
{
    padding-left: .4em;
    padding-right: 0em;
    height: 2.4em;
    line-height: 1.2em;
    position: relative;
    float: left;
    width: 64%;
    font-style: italic;
    text-align: left;
    color: #575757; 
}

.inner-frame-3
{
    padding-left: .4em;
    padding-right: 0em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 64%; 
    text-align: left;
    color: #575757; 
}

.inner-frame-4
{
    height: 2.5em;
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
}

.inner-frame-4b
{
    position: relative;
    float: right;
    width: 50%;
}
.inner-frame-4b .km-button
{
    position: relative;
    float: right;
    background-color: #003566;
    height: 2.3em;
    display: inline-block;
    margin-top: .2em; 
}

#scrollview-container
{
    margin: 0 0 1em 0;
    padding-bottom: 1em;
    padding-top: 0;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0);
}

.detail-subhead
{
    text-align: left;
    font-weight: bold;
    line-height: 1.3em;
    height: auto; 
    color:#fff;
}

.add-head
{
    margin-left: -15px;
    margin-top: -7px;
    width: 110%;
    background-color: #004a97;
    color: #fff;
    height: 2em;
    line-height: 4em;
    text-align: center;
    font-weight: bold;
    display: block;
}

.detail-outer-star
{
    margin-top: 10px;
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    display: inline-block;
}
.detail-inner-star
{
    width: 23%;
    position: relative;
    float: none;
    height: auto;
    display: inline-block;
}

.detail-inner-star .km-button
{
    display: block;
    color: #003566;
    border: 0px;
}

.detail-outer-star-o
{
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    display: inline-block;
}
.detail-inner-star-o
{
    width: 48%;
    position: relative;
    float: none;
    height: auto;
    display: inline-block;
    text-align: center;
}

.button-group
{
    background-color: #ccc;
    width: 100%;
    border: none;
}

.button-group .km-button
{
    background-color: #ccc;
    border: none;
}

.button-group-single-isme 
{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 1);
    width: 80%;
    margin-left: 10%;
    border: 1px solid #000;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.button-group .km-button .km-text
{
    color: rgb(0, 0, 0);
}
.button-group .km-button.km-state-active .km-text
{
    color: rgb(255, 255, 255);
}
.button-group .km-button.km-state-active
{
    background-color: #000;
}

#modalview-offersocial img
{
    height: auto;
    width: auto;
}

#outlet-review img
{
    height: auto;
    width: auto;
}

.detail-rate
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
}
.detail-rate-tap
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
    background-color: #fff000;
}

.detail-outer-star textarea
{
    width: 100%;
    position: relative;
    display: inline-block;
    height: 8em;
}

.input-frame
{
    height: 2em;
    line-height: 2em;
    width: 100%;
    margin-left: 15%;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.input-frame-modal
{
    height: 2em;
    line-height: 2em;    
    width: 60%;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-left: 20%;
}

.input-frame-enrol 
{
    height: 2em;
    line-height: 1em;
    width: 50%;
    color: #fff;
    border-bottom: 2px solid #fff;
    float:none;
    position:relative;
    margin-left:25%;
}

.input-frame-enrol-1 
{
    height: 2em;
    line-height: 1em;
    width: 90%;
    border-bottom: 2px solid #000;
    float:none;
    position:relative;
    margin-left:5%;
}

#pl-setting-theme .input-frame-enrol-1 input,
#enrol-theme .input-frame-enrol-1 input,
#token-theme .input-frame-enrol-1 input,
#login-theme .input-frame-enrol-1 input,
#resetpassword-theme .input-frame-enrol-1 input,
#pl-myprofile-theme .input-frame-1 input,
#pin-theme .input-frame-enrol-1 input,
#faq-theme .input-frame-1 input,
#pl-faq-theme .input-frame-1 input
{  
    display: block;
    width: 95%;
    height: 2em;
    line-height: 1em;
    background-color: transparent !important;
    z-index: 0;
    text-align:left;
    color: #000;
    padding-left:25px;
 }

.input-frame-enrol-2 
{
    height: 2em;
    line-height: 1em;
    width: 60%;
    border-bottom: 2px solid #000;
    margin-left:20%;
    float:none;
    position:relative;
     text-align:center !important;
}

#sms-theme .input-frame-enrol-2 input,
#pin-theme .input-frame-enrol-2 input

{  
    display:block;
    width: 100%;
    height: 2em;
    line-height: 1em;
    z-index: 0;
    color: #000;
    text-align:center !important;
    float:none;
    position:relative;
 }

.input-frame-enrol label 
{
    height: 2em;
    line-height: 2em;
    width: 50%;
    text-align: left;
    color: #fff;
}

.input-frame label
{
    height: 1.2em;
    line-height: 1.2em;
    width: 100%;
    text-align: left;
    color: #fff;
}


#token-theme .input-frame-enrol-1,
#enrol-theme .input-frame-enrol-1,
#login-theme .input-frame-enrol-1,
#resetpassword-theme .input-frame-enrol-1,
#pin-theme .input-frame-enrol-1
{  
        border-bottom: 2px solid #000;
 }




#faq-theme .input-frame-1 input,
#pl-faq-theme .input-frame-1 input
{  

    width: 100%;
    height:3em;
    line-height:1.5em;
    font-size:125%;
    color:#000;

 }

#pl-setting-theme .input-frame-enrol-1 input
{  
    color:#000;
 }
  

#modalviewpin .input-frame-modal input,
#modalviewrepin .input-frame-modal input,
#modalviewenterpin .input-frame-modal input,
#modalviewstaffpin .input-frame-modal input,
#modalviewpassword .input-frame-modal input
{
    display: block;
    width: 100%;
    height: 2em;
    line-height: 2em;
    border: none !important;
    background-color: transparent !important;
    color: #fff;
    text-align: center;
    font-size:1em;
}

#pl-myvoucherdetail-theme .switch-frame-voucher 

{
    padding-top: 10px;
}

.one-line
{
    color: #fff;
    line-height: 2em;
    text-align: center;
}
.button-frame-inline
{

    line-height: 40px;
    width: 100%;
    position: relative;
    float: none;
}

.button-frame-login
{

    line-height: 40px;
    width: 70%;
    position: relative;
    float: none;
    margin-left:15%;
}

.button-frame-inline-modal
{

    line-height: 30px;
    width: 100%;
    position: relative;
    float: none;
    display: block;
}

.share-class
{
    color: #fff;
}

.button-frame-inline-round
{

    width: 49%;
    position: relative;
    float: left;
}

.button-frame-inline-round-menu
{

    width: 33%;
    position: relative;
    float: left;
    color: #fff;
    text-align:center;
}

.button-frame-inline-round-menu .km-button
{
    padding-top: 10px;
    margin: auto;
    height: 60px;
    line-height: 45px;
    width: 60px;
    display: block;
    text-align: center;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    color: #fff;
    border: 1px solid #fff;
}

.button-frame-inline-round .km-button
{
    margin: auto;
    height: 60px;
    width: 60px;
    line-height:45px;
    display: block;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    
}



    
 #login-theme .button-loginwithfacebook, #pl-home-view  .button-loginwithfacebook,#enrol-theme .button-loginwithfacebook,#pl-setting-theme  .button-loginwithfacebook
    {
        background-color: rgba(13, 104, 197, 1);
        color: #fff;
    }




.button-frame
{
    height: 50px;
    width: 100%;
    position: relative;
    float: none;
    display:block;
}

.button-frame-inline .km-button,
.button-frame-login .km-button
{
    color: #fff;
    line-height: 30px;
    width: 100%;
    display: block;
    text-align: center;
    margin:auto;
    -webkit-border: #fff solid 1px;
    -moz-border: #fff solid 1px;
    border: #fff solid 1px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}



.button-frame-login-w .km-button
{
    background-color: #fff;
    color: #000;
    line-height: 30px;
    width: 80%;
    display: block;
    text-align: center;
    margin-left: 10%;
    -webkit-border: #fff solid 0px;
    -moz-border: #fff solid 0px;
    border: #fff solid 0px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.button-frame-inline-long .km-button
{
    width: 96%;
    margin-left: 2%;
}

.button-frame-inline-modal .km-button
{
    background-color: #000;
    color: #fff;
    line-height: 30px;
    width: 60%;
    margin: auto;
    display: block;
    text-align: center;
    -webkit-border: #fff solid 1px;
    -moz-border: #fff solid 1px;
    border: #fff solid 1px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.invert .km-button
{
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.button-frame .km-button
{
    line-height: 30px;
    width: 70%;
    margin:auto;
    display: block;
    text-align: center;
    -webkit-border: #fff solid 1px;
    -moz-border: #fff solid 1px;
    border: #fff solid 1px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.button-frame-y .km-button
{
    line-height: 30px;
    width: 40%;
    margin-top: .5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #003566;
    margin-left: 5%;
}

.button-frame-z .km-button
{
    line-height: 30px;
    width: 25%;
    margin-top: .5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #003566;
    margin-left: 5%;
}

#scrollview-container-b
{
      
    background: none;
    width: 100%;
    height: 100%;
}

#scrollview-container
{
      
    background: rgba(255, 255, 255, 1);
}

.data-holder
{
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    background-color: #005baa; 
}

.profile-picture-frame
{
    height: 75px;
    width: 75px;
    position: relative;
    float: left;
    width: 100%;
}
.profile-picture-frame-1
{
    background-size: cover; 
    -webkit-background-size: cover;
    height: 60px;
    width: 75px;
    position: relative;
    float: left;
    border-radius: 5px;
}
.profile-picture-frame-2
{
    height: 75px;
    width: 60%;
    position: relative;
    float: right;
    padding-right: 1em;
}

.input-frame
{
    height: 4em;
    line-height: 4em;
    width: 100%;
    padding-left: 5%;
}
.input-frame label
{
    height: 1.2em;
    line-height: 1.2em;
    width: 80%;
    text-align: left;
    display: block;
}

.switch-frame
{
    display:block;
    height:4em;
    line-height: 4em;
    width: 60%;
    position:relative;
    float: none;
    color:#fff;
    margin-left:20%;
}

.switch-frame-1
{
    display:block;
    line-height: 4em;
    width: 95%;
    position:relative;
    float: none;
    color:#fff;
    font-size:95%;
    
}

.switch-frame-1 label
{

    font-size:95%;
    margin-left:0px;
}

.switch-frame-voucher
{
    height: 4em;
    line-height: 2em;
    float: none;
    background-color: #ccc;
    margin-left: 10%;
    width:80%;
}

.switch-frame label
{
    height: 4em;
    line-height: 4em;
    color: #fff;
}
.switch-frame-i
{
    position: relative;
    width: 70%;
    height: 3em;
    line-height: 3em;
    float: none;
    left: 15%;
}

.switch-frame-it
{
    position: relative;
    width: 100%;
    height: auto;
    float: none;
    left: 0%;
}

.detail-subhead
{
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    height: auto;
}

#enrol-theme .input-frame-enrol-1 select,
#pl-setting-theme .input-frame-enrol-1 select
{
    height: 2.5em;
    display: block;
    width: 95%;
    line-height: 1.5em;
    color: #fff;
}

#pl-setting-theme .input-frame-enrol-1 select
{
    color: #000;
}

.image-position
{
    margin: auto;
    width: 100%;
    height: auto;
}

.gen-para
{
    width: 100%;
    padding: 5px 5px 5px 5px;
    height: auto;
    white-space: pre-wrap; /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap; /* Opera 7 */    
    text-align: justify !important;
    text-justify: inter-word;
    color: #000;
}

.gen-text
{
    color: #575757;
    line-height: 1.4em;
}

.detail-image1
{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    width: 80px;
    position: relative;
    float: none;
    height: 80px;
    display: block;
    text-align: center;
}

.detail-image2
{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    position: relative;
    float: none;
    height: 75px;
    display: block;
    text-align: center;
}

.nonetwork-pos
{
    background: url(../images/nonetwork.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.deviceblock-pos
{
    background: url(../images/blocked.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
    background-color: white;
}

.network-button
{
    width: 100%;
    height: 3em;
    margin-top: 30em; 
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: center;
}
 
.network-button .km-button
{
    line-height: 2em;
    width: 90%;
    margin-top: .5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #003566;
}

pre
{
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.bold
{
    font-weight: bold;
}
    
.underline
{
    text-decoration: underline;
}

li
{
    border-top: 0 solid #fff !important;
    border-bottom: 0 solid #fff !important;
}

.textpad
{
    padding: 2px;
    text-align: justify;
    background-color: #fff;
    color: #000;
    line-height: 1.2em;
}

.reward-summary-1
{
    height: 7em;
    width: 96%;
    float: none;
    line-height: 1.5em;
    color: #fff;
    background-color: transparent !important;
    margin-top: 2%; 
    margin-left: 2%; 
    margin-right: 2%; 
    border-radius: 5px;
}

.reward-summary-a
{
    height: 7em;
    width: 100%;
    position: relative;
    float: none;
}

.marginbreather
{
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}


#pl-home-view .name-plate
{
    width: 100%;
    height: 2em; 
    float: right;
    margin-top: 0px; 
    background-color: #fff; 
    line-height: 2em;
}
    

.top-shade1
{
    width: 100%;
    height: .7em; 
    background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)); /* Standard syntax */ 
}

.card-number
{
    text-align: center;
    color: #fff;
    position: relative;
    float: none;
    padding-top: 25%;
    text-decoration: none; 
}

.card-name
{
    padding-top: 5%;
    margin-left: 7%;
    color: #fff;
    position: relative;
    float: none;
    text-decoration: none; 
}

.card-segment
{
    margin-left: 7%;
    color: #fff;
    position: relative;
    float: left;
    text-decoration: none; 
    width: 55%;
}

.card-expiry
{
    color: #fff;
    position: relative;
    float: left;
    text-decoration: none; 
    width: 35%;
    padding-left: 10%;
}   
  

.faq1
{
    width: 100%;
    height: auto;
    position: relative;
    float: none;
}

.faqq
{
    color: #000;
    width: 100%;
    height: auto;
    padding: .1em; 
    position: relative;
    float: none; 
    line-height: 1.3em;
    text-align: justify; 
    font-size:90%
}

.faqa
{
    width: 100%;
    height: auto;
    position: relative;
    float: none; 
    color: #fff;
    text-align: justify; 
    font-size:90%
}

.faqa1
{
    padding: .2em; 
    line-height: 1.3em; 
    text-align: justify;
}

.fulljustify
{
    line-height: 1.3em; /* vert-center */
    margin-left: 8px;
    margin-right: 8px;
    white-space: pre-line;
    text-align: justify;
    color: #000;
    font-size:95%;
    height:auto;
}

.fulljustifyblack
{
    line-height: 1.3em; /* vert-center */
    margin-left: 8px;
    margin-right: 8px;
    white-space: pre-line;
    text-align: justify;
    color: #000;
    font-size:95%;
}

.fulljustifyblue-bold
{
    line-height: 1.3em; /* vert-center */
    margin-left: 5px;
    margin-right: 5px;
    white-space: pre-line;
    text-align: justify;
    color: #0c0cc5;
    font-weight: bold;
    font-size:95%;
}

.fulljustifybold
{
    font-weight: bold;
    line-height: 1.3em; /* vert-center */
    padding-left: .1em;
    padding-right: .3em;
    white-space: pre-line;
    text-align: justify;
    color: #000;
    margin:0px;
    font-size:95%;
}

.km-listview-link::after
{
    display: none;
}
#offerlist-view .km-listview .km-group-title, #outletlist-view .km-listview .km-group-title,
#pl-offerlist-view .km-listview .km-group-title, #pl-outletlist-view .km-listview .km-group-title,
#brandlist-view .km-listview
{
    padding: 0;
    border: none;
}
#offerlist-view .km-group-title h2, #outletlist-view .km-group-title h2,
#pl-offerlist-view .km-group-title h2, #pl-outletlist-view .km-group-title h2
{
    height: 3em;
    line-height: 3em; 
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #002d67;
    padding: 0;
    border: 0px;
}

#offerlist-view .km-group-title h2, #outletlist-view .km-group-title h2,
#pl-offerlist-view .km-group-title h2, #pl-outletlist-view .km-group-title h2
{
    margin: 0;
    border: none;
}

.brand-image1a { background-image: url(../images/h1.png); }
.brand-image2 { background-image: url(../images/h2.png); }
.brand-image3 { background-image: url(../images/h3.png); }
.brand-image4 { background-image: url(../images/h4.png); }
.benefit-image1 { background-image: url(../images/gold_card.png); }
.benefit-image2 { background-image: url(../images/platinum_card.png); }

.mycard-holder
{
    height: 6em;
    width: 100%;
    position: relative;
    float: none;
}
  
.qr-image
{
  
    height: 100px;
    width: 100px; 
    background-size: cover;
    margin: .5px auto;
    display: block;
    -webkit-background-size: cover; 
}
    
.qr-image-sep
{
    height: 110px;
    position: relative; 
    float: none;
}



.prelogin-frame
{
    width: 100%;
    height: 800px;
    position: relative;
    float: none;
    background-color: #fff;
    margin-top: 0px;
}

.prelogin-frame-bar
{
    width: 100%;
    height: 50px;
    position: relative;
    float: none;
    background-color: #fff;
}

.prelogin-frame-bar-text
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    float: none; 
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.prelogin-frame-image-2
{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.3em;
    width: 100%;
    height: 200px;
    position: relative;
    float: none;
    text-align: justify;
}

.prelogin-frame-image-2-inner-1
{
    width: 50%;
    height: 50px;
    position: relative;
    float: left;
    margin: 0px auto auto 0px;
    background: url(../images/ihgdiningrewardlogo_180x50.png) no-repeat center center;
    -webkit-background-size: 90%;
    background-size: 90%;
}

.home-navbar
{
    background: url(../images/strip.png) repeat-x center bottom;
    width: 78%;
    position: relative;
    float: left;
    background: transparent;
    height: 3em;
}

.home-navbar-text
{
    text-align: left;
    color: #fff;
    font-style: italic;
    line-height: 3em;
    width: 100%;
}

.footer-logo
{
    height: 5em;
    background: url(../images/footer_logo.png) no-repeat center top;
    width: 20%;
    background-size: 65%;
    position: relative;
    float: left;
    margin-top: 2px;
    margin-bottom: -5px;
}

.joinnow-holder
{
    background: url(../images/joinnowimage.png) no-repeat center center;
    -webkit-background-size: auto;
    background-size: auto;
}

.my-card
{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    -webkit-background-size: auto;
    background-size: auto;
} 

.mycard-detail-holder-label
{
    margin-top: 0;
    width: 40%;
    height: 1.5em;
    line-height: 1.5em;
    padding-left: .5em;
    position: relative;
    float: left;
    color: #000;
    font-size:90%
}
    
.mycard-detail-holder-data
{
    margin-top: 0;
    width: 60%;
    height: 1.5em;
    line-height: 1.5em;
     position: relative;
    float: left;
    color: #000; 
       font-size:90%
}

#mycardimage .mycard-name
{
    height: 20%;
    width: 100%;
    position: relative;
    float: left;
    color: #343434;
    padding-top: 34%;
    padding-left: 22%;
}

#mycardimage .mycard-id
{
    height: 20%;
    position: relative;
    float: left;
    color: #343434;
    padding-top: 5%;
    padding-left: 22%; 
}

#mycardimage .mycard-expiry
{
    height: 20%;
    position: relative;
    float: left;
    color: #343434;
    padding-top: 5%;
    padding-left: 12%; 
}

.tile-frame-inner-1
{
    background: url(../images/tile_large.png) no-repeat center center;
    background-size: auto;
    -webkit-background-size: auto;
    width: 49%;
    height: 150px;
    position: relative;
    float: left;
    display: inline-block;
    overflow: hidden;
}

.tile-frame-text
{
    text-align: center;
    font-weight: bold;
    color: #343434;
    margin-top: -20%;
}

.tile-frame-text-1
{
    text-align: center;

    font-weight: bold;
    color: #343434;
    margin-top: -10px;
}

tile-frame-inner
{
    background: url(../images/tile_large.png) no-repeat center center;
    width: 49%;
    height: 150px;
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 1%;
}

.tile-frame-image-restaurant
{
    background: url(../images/myrestaurant.png) no-repeat center center;
}
 
.tile-frame-image-myprofile
{
    background: url(../images/myprofile.png) no-repeat center center;
}

.tile-frame-image-mymessages
{
    background: url(../images/mymessages.png) no-repeat center center;
}

.tile-frame-image-myoffer
{
    background: url(../images/myoffer.png) no-repeat center center;
}

.tile-frame-image-myrewards
{
    background: url(../images/myrewards.png) no-repeat center center;
}

.tile-frame image-size-100
{
    background-size: auto;
    -webkit-background-size: auto;
}

.tile-frame image-size-80
{
    background-size: 80%;
    -webkit-background-size: 80%;
}

.tile-image-pos
{
    width: 60px;
    height: 60px;
    margin: 25% auto;
    display: block;
}

.tile-image-pos-1
{
    width: 60px;
    height: 60px;
    margin: 20px auto;
    display: block;
}

.tile-frame
{
    width: 100%;
    height: 200px;
    position: relative;
    float: none;
    margin-top: 10px;
}

.tile-frame-2
{
    width: 96%;
    height: 200px;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    float: none;
    background-color: rgba(216, 105, 50, .6);
    border-radius: 5px; 
}

.center-pos
{
    display: block;
    margin: auto;
}

.msgfont
{
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.msg-inner-frame-2 .km-button
{
    background-color: #e67e1d;
    height: 2.75em;
    line-height: 2.75em;
    display: inline;
    text-align: center;
}
.msg-outer-frame
{
    height: auto;
    position: relative;
    float: none;
    width: 100%;
}

.msg-narration-frame
{
    height: auto;
    position: relative;
    float: left;
    width: 100%;
    margin: 5px;
    text-align: justify;
    color: #000;
    font-size:90%;
}

.msg-action-frame-outer
{
    height: 4em;
    position: relative;
    float: left;
    width: 5%;
}

.msg-action-frame-inner-1
{
    height: auto;
    width: 100%;
    display: block;
    margin: 20px  auto auto 5px;
    }

.msg-action-frame-inner-2
{
    height: 100%;
    position: relative;
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}

.msg-date-frame-line
{
    height: 1.2em !important;
    line-height: 1.2em !important;
    position: relative !important;
    float: none !important;
    width: 100% !important;
    color: #000 !important;
    text-align: left !important;
    font-weight: bold !important;
}
    
.msg-date-frame-outer
{
    height: 6em;
    position: relative;
    float: left;
    width: 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #de5716; 
}

.msg-date-frame-inner-1
{
    height: 50%;
    position: relative;
    float: none;
    width: 100%;
    background-color: #000; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden !important;
}

.msg-date-frame-inner-2
{
    height: 50%;
    position: relative;
    float: none;
    width: 100%;
    background-color: #343434;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden !important; 
}

.msg-date-text
{
    display: block;
    margin: .5em auto;
}

.msg-outer-frame-a
{
    height: auto;
    width: 100%;
    position: relative;
    float: none;
}

.msg-image-frame-list
{
    height: 3.6em;
    width: 15%;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    padding-top: .2em;
    padding-left: .2em; 
    border: 1px; 
    display: inline-block;
    float: left;
    position: relative;
}
.msg-image-frame-lista
{
    height: 3.6em;
    position: relative;
    float: left;
    width: 23%;
}
.msg-inner-frame-1
{
    padding-left: .4em;
    padding-right: 0em;
    height: 3.6em;
    position: relative;
    float: left;
    width: 65%;
    font-weight: bold;
    color: #343434;
}
.msg-inner-frame-1a
{
    height: 1.7em;
    position: relative;
    float: left;
    width: 100%;
    font-weight: bold;
    color: #343434;
}
.msg-inner-frame-1b
{
    height: 1.7em;
    position: relative;
    float: left;
    width: 100%;
    color: #343434;
}
.msg-inner-frame-2
{
    padding-top: 1em;
    padding-left: 1em;
    height: 1em;
    line-height: 1em;
    position: relative;
    float: left;
    width: 20%;
    color: #343434;
}

.msg-inner-frame-2a
{
    padding-left: 1em;
    height: .5em;
    position: relative;
    float: left;
    width: 10%;
    color: #343434;
}
.msg-inner-frame-3
{
    height: 5em;
    line-height: 1.2em;
    position: relative;
    float: left;
    width: 100%;
    padding-top: .2em;
    color: #343434;
}

.msg-inner-frame-3a
{
    height: 5em;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 100%;
    padding-top: .2em;
    color: #343434;
}

.dotcolor
{
    ;color: #000;
}

.locationarrow
{
    margin-right: 1em;
    color: #fff000;
}

.flag-title
{
    height: 25px;
    width: 40px;
    margin-right: .5em;
}

.discover-back
{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/discover_bg.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.discover-back-part
{
    position: relative;
    float: left; 
    display: inline;
    width: 49%;
    color: #fff;
    text-align: center; 
    padding-top: 35%;
}

.discover-back-part-a
{
  
    position: relative;
    float: left; 
    display: inline-block;
    width: 48%;
    height: 110px;
    color: #fff;
    text-align: center; 
    margin: 3px auto 3px auto;
    padding-top: 8%;
   
}

.discover-back-part-a1 
{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/1.png) no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
}

.discover-back-part-a2
{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/2.png) no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
}

.voucher-text
{
    position: relative;
    float: none;
    width: 95%;
    height: 73%;
    line-height: 18px;
    color: #fff;
    text-align: justify !important;
    text-justify: inter-word;
    margin-left: 2%; 
    font-size:90%;
}

.expiry-text
{
    position: relative;
    float: left;
    width: 48%;
    color: #fff;
    text-align: center; 
    margin-left: 2%;
    margin-top: 0px;
    height: 25px !important;
    line-height: 25px !important;
    font-size:90%;
}

.detail-text
{
    position: relative;
    float: left;
    width: 48%;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin-left: 2%;
    margin-top: 0px;
}

.detail-text-button .km-button
{
    display: block;
    width: 100%;
    background-color: transparent !important;
    color: #fff !important;
    border: 0px !important;
    text-align: left;
    height: 100%;
    margin:auto;
}

.general-text-line
{
    width: auto;
    text-align: left; 
    height: 20px;
    line-height: 20px;
    display: block;
    margin-left: 15%;
}

.general-text-line-1
{
    position:absolute;
    float:none;
    width: 100%;
    text-align: left; 
    height: 25px;
    line-height: 25px;
    display: block;
    text-align:center;
    
}

.class-benefit
{

    float: left;
    position: relative;
    width: 49%;
    text-align: justify;
    color: #000; 
    height: auto; 
}

.gutter-space
{
    padding-right: 10px;
}

.class-share-div-s
{
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    height: 250px;
}

.class-share-div
{
    width: 100%;
    background-color: #000;
}

.class-card-div
{
    height: 180px;
    margin: 20px auto;
    display: block;
    width: 100%;
    background-color: #fff;
}

.class-share-div-bottom
{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 20px;
}

.class-filter-div
{
    display: none;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}

.share-menu-line-1
{
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.share-menu-line-1-pl
{
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.share-menu-line-2
{
    line-height: 20px;
    position: relative;
    float: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.share-menu-line-2-c
{
    position: relative;
    float: none;
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 0px auto;
    box-shadow: 0px 1px 5px #666365;
    z-index: 999;
}

.share-menu-line-3
{
    height: 25px;
    position: relative;
    float: none;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: block;
    box-shadow: -1px 2px 2px #666365;
    border: 0px;
    z-index:10000;
}

.strip-item
{
    height: 20px;
    position: relative;
    float: none;
    width: 100%;
    border: 0px;
}

.strip-item-a
{
    line-height: 20px;
    position: relative;
    float: left;
    background-color: #000;
    color: #fff;
    font-weight: bold; 
}


.share-menu-line-3 a
{
    background-color: transparent !important;
}

.share-menu-line-4
{
    height: 20px;
    position: relative;
    float: none;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: block;
}

.share-menu-line-3-a
{
    width: 32%;
    line-height: 25px;
    position: relative;
    float: left;
    background-color: transparent !important;
    color: #000;
    font-weight: bold; 
    display: block;
    margin: -5px 2px auto 2px;
}

.share-menu-line-2 .km-button
{
    line-height: 20px;
    margin: 0px;
    border: 2px #000 solid;
    border-radius: 0px;
    width: auto;
    display: block;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}

.detail-rate
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
}
.detail-rate-tap
{
    background: url(../images/star.png) no-repeat center center;
    width: 18%;
    position: relative;
    float: none;
    height: 4em;
    display: inline-block;
    background-color: #fff000;
}

.list-group
{
    height:40px;
    line-height: 30px;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    font-size:80%;
    width:100%;
}    

.filter-item-holder
{
    
    width: 100%;
    height: 30px;
    background-color: #fff;
}
  
.list-group-data-item  
{
    position: relative;
    float: left;
    width: 80%;
    color: #000;
    height: 30px; 
    font-size:110%;
}

.lheight
{
    line-height: 40px;
}

.list-group-data-item-1
{
    position: relative;
    float: left;
    width: 20%;
    color: #000;
    height: 30px; 
    text-align: center; 

}



.list-group-data-item-2 .km-button
{
    color: #000;
    height: 30px; 
    display:block;
    background-color:transparent !important;
    margin-top:0px;
    margin-right:0px;
    border:0px;
    padding-top:0px;
    line-height:15px;
}


.filter-item-holder .km-button
{
    border: 0px;
    display: block;
    background-color: #fff;
    width: auto;
    text-align: left;
}

.foot
{
    height: 340px;
    position: fixed;
    width: 100%;
    z-index: 10000;
    text-align: center;
    color: #fff;
    display: none;
    justify-content: center; /* align horizontal */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
}

.profile-image-holder
{
    height: 220px;
    width: 140px;
    display: block;
    position: relative;
    float: none;
    margin: 0px auto;
}

.white-color{
    color:#fff;
}

.profile-image
{
    height: 120px;
    width: 120px;
    margin: 40px auto;
    background: url(../images/profile_image.png) no-repeat center center;
    background-size: cover;
    border-radius: 70px;
    display: block;
    position: relative;
    float: none;
}

.general-text-line .km-button
{
    height: 50px;
    margin-top: 20px;
    display: block;
    position: relative;
    float: left;
}

.profile-image-change-button
{
    height:30px;
    margin:5px auto; 
    position: relative;
    float: none;
    display: block;
    text-align: center;
   
}

.home-page-holder
{
    height:40px;
    width:auto;
    color:#fff;
    font-size:1em;
}

.sharehead
{
    height: 300px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    text-align: center;
    color: #fff;
    display: none;
    justify-content: center; /* align horizontal */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 43px; 
    background-color: #000;
    border: none;
}

.cardhead
{
    height: 230px;
    position: fixed;
    width: 100%;
    z-index: 10000;
    text-align: center;
    color: #fff;
    display: none;
    justify-content: center; /* align horizontal */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 43px; 
    background-color: #000;
    border:none;
}


.collapse-format{
    height:30px;
    line-height:30px;
    width:100%;
    margin-left:0px;    
}



.pl-logo-image-holder{
    background-image:url(../images/home_page_logo_black.png);
       width:100%;
    margin:10px auto;
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center;
     background-size:50%;
}

.pl-logo-image-holder-w{
    background-image:url(../images/home_page_logo_white.png);
    width:auto;
    margin:10px auto;
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center;
    background-size:30%;
}

.progress-bar-holder
{
    position: relative;
    float: none;
    margin-left: 5%;
    border-radius: 5px;
    height: 20px;
    width: 90%; 
  
}

.white-back{
  background-color:#fff; 
    
}

.black-back{
      background-color:#000;
}

.progress-bar-data-holder
{
    position: relative;
    float: none;
    margin-left: 0%;
    background-color: #17ae2f;
    border-radius: 5px;
    height: 20px;
    width: 1%; 
}

.progress-bar-amount-holder
{
    position: relative;
    float: none;
    background-color: transparent !important;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 80%;
    text-align: right;
    padding-right:2px;
    border-radius:0px;
   
}

.bborder{
     border-right:2px solid #000;
}

.wborder{
     border-right:2px solid #fff;
}

.a0-percent
{
    margin-left: 5%;
}

.cwhite
{
    color: #fff;
}

.cblack
{
    color: #000;
}

.hanging-icon
{
    position: absolute;
    display: block;
    margin-top: 2%;
    margin-left: 70%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 50px;
    border: 0px !important;
}

.hanging-icon .km-button
{
    height: 50px;
    width: 50px;
    line-height: 35px;
    border: 0px !important;
    color: #fff;
} 

#mvwait .spin-div
{
    height:50px;
    width:50px;
    position: relative;
    float: none;
    display: block;
    background-color: transparent !important;
    margin:70% auto;
}  


.height-80
{
    height: 60px;
      position:relative;
    float:none;
  
}

.height-80 .km-button
{
    background-color: rgba(255, 255, 255, .2);
    -webkit-border: #fff solid 1px;
    -moz-border: #fff solid 1px;
    border: #fff solid 1px;

}


.photo1 { background: url(../images/001.png) no-repeat center center; }
.photo2 { background: url(../images/002.png) no-repeat center center; }
.photo3 { background: url(../images/003.png) no-repeat center center; }
.photo4 { background: url(../images/004.png) no-repeat center center; }
.photo5 { background: url(../images/005.png) no-repeat center center; }
.photo6 { background: url(../images/006.png) no-repeat center center; }

.filler
{
    height: 20px;
}

.filler10
{
    height: 10px;
}


.class-img{
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
      -webkit-border: 0px !important;
    -moz-border:  0px !important;
    border: 0px !important;
    margin:auto;
    display:block;
    border:none;
}


.view-class-white{
    background-color:#fff;
    
}

.whitecolor{
    color:#fff;
}

.round-pad{
    margin-left:5px;
    margin-right:5px;
    
}

.border-bot{
    border-bottom:1px #ccc solid;
    width:100%;
}

.padder{
    width:80%;
    margin-left:10%;
}

.kcheckbox{

  margin:5px auto;
    
}

 .km-arrow-up:after,
    .km-arrow-up:before {
        content: "\e001";
        font-size:125%;
    }

    .km-arrow-down:after,
    .km-arrow-down:before {
        content: "\e002";
        font-size:125%;
    }

.share-menu-line-2-c a{
    background-color:transparent !important;
}

.button-search
{

    line-height: 30px;
    width: auto;
    position: relative;
    float: left;
}

.button-search .km-button
{
    background-color: transparent;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin:auto;
    -webkit-border: #fff solid 0px;
    -moz-border: #fff solid 0px;
    border: #fff solid 0px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.searchbox{
    width:85%; 
    height: 35px;
    border:none;
    margin-left:5px;
    text-align:center;
    float:left;
    position:relative;
}

.center-line{
    line-height:20px;
}

.font-med{
    font-size:80% !important;
}

.font-small{
    margin-top:0;
    margin-bottom:5px;
    font-size:80%;
    height:auto !important;
    color:#000 !important;
}

.collapse-format-1{

    height:auto;
    line-height:15px;
    font-size:80%;
    width:100%;
    border-top:0px;
    border-bottom:0px;
    margin-left:0px;
}

.home-page-logo-text-holder
{
    margin:5px auto;
    font-family:'Didot';
    font-size:2.5em;
    font-weight:bold;
    text-align:center;
}

.button-frame-inline-home
{
    height:auto;
    line-height: 2.2em;
    width: 104%;
    display: inline-block;
}

.button-frame-inline-home1
{
    height:2.2em;
    line-height: 2.2em;
    width:50%;
    display: inline;
}


.button-frame-inline-home .km-button
{
    line-height: 2.2em;
    width: 49.4%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size:125%;
    color: #fff;
    margin:0px;
    border:none;
    border-radius:0px;
}
