/* Smartphones (portrait and landscape) ----------- */

    /* Styles -Samsung & iPhone 6 */

.dim-splash{
    height:667;
    width:375;
}

.km-ios7 .km-navbar .km-button .km-text
{
    color: #fff;
    font-size:1em;
    line-height:1em;
}

.home-pos 
    {
        position:absolute;
        height: 580px;
        width: 100%;
        display:block;
        margin:auto;
                background-color:#e9e5dc;
     }
.button-frame-inline .km-button
{
    font-size:80%;
}

    .brand-image-pos
    {
        height:150px;
        width: 100%;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
             -webkit-background-size: 55%;
        background-size: 55%;
    }

.img-hero{
        height: 200px;
        width: 100%;
   

}

  .hero-image
    {
        height: 200px;
        width: 100%;
        display: inline-block;
         background-image: url(../images/large_logo_placeholder.png);
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow:hidden;
      
    }

  .dashboard-image
    {
        height: 275px;
        width: 100%;
        display: inline-block;
         background-image: url(../images/dashboard_image.png);
        -webkit-background-size: cover;
      
    }

    .home-dashboard
    {
        height: 450px;
        width: 100%;
        border-top: 0;
        display: inline;
    }

.outer-frame
{
    height:125px;
  }
 
 
#login-theme .header-class,
    #pl-home-view .header-class
    {
        height: 120px;
        background-image: url(../images/dashboard_banner.png);
        display: inline-block;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0px;
    }

    #pl-home-view .button-sep
    {
        width: 25%;
        position: relative;
        display: inline-block;
        float: left; 
        height: 80px;
        margin-top:0px;
    }

    #pl-home-view .button-sep .km-button
    {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        float: left;
        padding-top: 1em;
        border: none;
        color: #acd3f5;
    }

 

    

    #pl-home-view .text-bottom{
    text-align:center;
    margin-top:1em;
        font-size:.9em;

}
   

  
.small-image-height{
  height:80px;   
}


.button-group .km-button
{
   background-color: #ccc;
   font-size: 1em;
    width:200px;
}






#mycardimage .mycard-name{
    padding-top:39%;
    padding-left:19%;
}



#mycardimage .mycard-id{
    padding-top:5%;
    padding-left:19%;  
    
}

#mycardimage .mycard-expiry{
     padding-top:5%;
    padding-left:8%;  
    
}








.brand-holder
{
    width:100%;
    height:550px;
    background: url(../images/aboutusimage.png) no-repeat center center;
    -webkit-background-size: 92%;
    background-size:92%;
}

.logo-top
{
    height: 400px;
    width: 100%;
    display: block;
    position: relative;
    float: none;
    background-color: transparent;
}

.logo-top-list
{
    height: 300px;
    width: 100%;
    display: block;
    position: relative;
    float: none;
    background-color: transparent;
}


.pl-logo-top
{
    height: 450px;
    width: auto;
    display: block;
    position: relative;
    float: none;
    background-color: transparent;
}

.logo-image-holder
{
    height:300px;
 
}

.pl-logo-image-holder,.pl-logo-image-holder-w
{
    height:120px;

}



.profile-data-holder
{
    height:150px;
    width:100%;
  
}



 .discover-back-height{
      height:580px;
 
    }


 .discover-back-height-2{
      height:290px;

    }

.filter-height{
    height:500px;
    }

.font-med{
    font-size:80% !important;
}

.font-small{
    margin-top:0;
    margin-bottom:5px;
    font-size:80%;
    height:auto;
}

.collapse-format-1{

    height:auto;
    line-height:15px;
    font-size:80%;
    width:100%;
    border-top:0px;
    border-bottom:0px;
    margin-left:0px;
}