<div data-role="view" data-title="About Fine Dining" data-layout="back-layout" id="aboutus-theme">
        <ul data-role="listview">
            <li>
                <div class="unosol_logo">&nbsp;</div>
            </li>
            <li>
                <p>
                    <bold>Welcome to UNOSOL Business Solutions Pvt. Ltd.</bold>
                </p>
                <p>
                    UNOSOL was started in 2009 in Bangalore, India. UNOSOL provides business technology solutions and services in the fields of retail and payments. Our Head Quarters is based in Bangalore with our offices in Dubai, UAE and plans to expand to other regions in the Middle East.
                </p>
                <p>
                    <bold>Contact Information</bold>
                </p>
                <p>
                    Telephone: +91 80 26860485
                    <br> Fax: +91 80 26860410
                    <br> Email:sales@unosolindia.com
                    <br> support@unosolindia.com
                    <br> Address:No. 21, 2nd Floor, 2nd Cross
                    <br> Muniswamy Layout KG Halli
                    <br> Bangalore, India
                </p>
            </li>
        </ul>
</div>