<!--Program Benefits View-->
<div id="benefit-list"
     data-role="view"
     data-title="Program Benefits" data-layout="back-layout" data-model="preLogin" data-show="preLogin.benefitlist" data-hide="preLogin.destroyBenefitList">
    
     <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div> 
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="right" ><i class="fa fa-home fa-lg" style="color:#fff"></i></a>
                </div>
            </div>
         
    <ul data-role="listview" data-style="inset" style="background-color:transparent" id="benefit-list-view">

    </ul>
    
    
       <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
                      <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>


                </div>
            </footer>
</div>

<script type="text/x-kendo-template" id="benefitlistTemplate">
     <a data-transition="slide"   data-role="button" href="views/benefitdetail.html?bd=${titlecode}" style="border:none"   >
        <div class="photo" style="border:none;background: url(${imageurll}) no-repeat center center;">
        </div>
    </a>
</script>

<style scoped>

    #benefit-list li ul{
        border-top:0px solid #ccc !important;
        border-bottom:0px solid #ccc !important;
    }
    
       #benefit-list-view a{
           background-color:transparent !important;
       }
    
  
</style>

