<!--Program Benefits View-->
<div id="benefit-detail"
     data-role="view"
     data-layout="back-layout"  data-model="programData" data-init="programData.benefitdetail" data-hide="programData.destroyBenefitDetail">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">
            </a>
            <span data-role="view-title" id="benefit-title-1"></span>
            <a data-role="button" data-align="right" data-icon="share" href="views/socialshare.html"></a>
        </div>
    </header>

    <ul data-role="listview" data-style="inset" style="background-color:#fff" id="benefit-detail-view">
       
        
        <li>
            <div id="benefit-text3"></div>
        </li>

    </ul>

</div>


