<div data-role="view" data-title="Our Brands" data-layout="back-layout" id="brandpage-theme" data-model="preLogin" data-hide="preLogin.destroyBrandPage">
    
     <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div>
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
                </div>
            </div>
<div class="brand-holder"></div>
    
    
    
    
     <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
                    </div>
                    <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>

                </div>
            </footer>
   
</div>