<div data-role="view" data-title="Customer Service" data-layout="back-layout" id="customerservice-theme" data-model="preLogin" data-show="preLogin.getCustomerService" data-hide="preLogin.destroyCustomerService">
     <div data-role="header">
        <div data-role="navbar">
               <div class="brand-icon"></div>
            <a data-role="backbutton" data-align="left"></a>
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
        </div>
    </div>
	<ul data-role="listview" style="background-color:#fff">
		<div id="urldata-terms"></div>
	</ul>
</div> 