<div data-role="view"  data-layout="main-layout" id="home-view" data-model="postProgram">
   

    <div class="tile-frame">
        <div class="tile-frame-inner">
        <a data-role="button" href="views/login.html" class="center-pos">
     
            <div class="tile-frame-image-myprofile tile-image-pos image-size-100"></div>
            <div class="tile-frame-text">My Profile</div>
            </a>
        </div>
        <div class="tile-frame-inner">
        <a data-role="button" href="views/mymessagelist.html" class="center-pos">            
            <div class="tile-frame-image-mymessages tile-image-pos image-size-100"></div>
            <div class="tile-frame-text">My Messages</div>
            </a>
        </div>
        <div class="tile-frame-inner">
        <a data-role="button" href="views/offerlist.html" class="center-pos">                        
            <div class="tile-frame-image-myoffer tile-image-pos image-size-100"></div>
            <div class="tile-frame-text">My Offers</div>
         </a>   
        </div>
        <div class="tile-frame-inner">
        <a data-role="button" href="views/offerlist.html" class="center-pos">                        
            <div class="tile-frame-image-myrewards tile-image-pos image-size-100"></div>
            <div class="tile-frame-text">My Rewards</div>
         </a>   
        </div>
    </div>

</div>