<!--Explore View-->
<div data-role="view" data-title="" data-layout="main-layout" id="home-view" data-show="preLogin.varInit" data-model="preLogin" data-stretch="true">

    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="button" href="#appdrawerN" data-rel="drawer" data-align="left"><i class="fa fa-reorder fa-lg" style="color:#fff"></i></a>
            <div class="brand-icon"></div> 
                        <div id="flagtitle" data-align="right" style="width:40px;height:25px;margin-right:1em" ></div>
            <a data-transition="slide"   data-role="button" href="views/login.html" data-align="right"  >Sign in&nbsp; |</a>
            <a data-transition="slide"   data-role="button" href="views/join.html" data-align="right"  >Join</a>
        </div>
    </div>

    <div class="prelogin-frame">
        <div class="prelogin-frame-image-1"></div>
        <div class="prelogin-frame-bar">
            <div class="prelogin-frame-bar-text font-georgia">Well Worth It from the First Moment</div>
        </div>

        <div class="prelogin-frame-image-2" style="font-family:arial;color:#343434">
        Introducing IHG® Dining Rewards, an exclusive new programme offering generous benefits on dining and accommodation. Get started with a free night at any of IHG’s 4,700+ hotels worldwide. You’ll also receive 25% off all dining and beverages at participating IHG hotels and an instant status upgrade in IHG® Rewards Club the world’s largest hotel loyalty programme.
        </div>
    </div>
  <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
                      <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>

                </div>
            </footer>
    
</div>

