<div data-role="view" data-title="Join Dining Rewards" data-layout="back-layout" id="join-theme" >
       <ul data-role="listview" data-style="inset" style="background-color:#fff" class="fix-panel">
          
            <div class="joinnow-holder"></div>
            
        </ul>
   
</div>

<style scoped>
#join-theme    li{
    border-top:0px solid #fff !important;
    border-bottom:0px solid #fff !important;
    border:none;
}

#join-theme ul{
    border-top:0px solid #fff !important;
    border-bottom:0px solid #fff !important;
    border:none;
}

</style>