<div data-role="view" data-title="Join Dining Rewards" data-layout="back-layout" id="join-theme" data-model="preLogin" data-hide="preLogin.destroyJoin">
     <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div>
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
                </div>
            </div>
    
       <ul data-role="listview" data-style="inset" style="background-color:#fff" class="fix-panel">
          
            <div class="joinnow-holder"></div>
            
        </ul>
    
     <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
                    </div>
                    <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>


                </div>
            </footer>
   
</div>

<style scoped>
#join-theme    li{
    border-top:0px solid #fff !important;
    border-bottom:0px solid #fff !important;
    border:none;
}

#join-theme ul{
    border-top:0px solid #fff !important;
    border-bottom:0px solid #fff !important;
    border:none;
}

</style>