<div data-role="view" data-layout="back-layout" id="join-theme">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
            </a>
        </div>

    </div>
        <ul data-role="listview" style="background-color:#fff">
            
             <li>
                    <img src="images/brand_logo_login.png" style="height:auto;width:auto;margin:0px auto;"/>
                </li>
              <li style="background-color:#d96931;color:#fff;font-size:1.4em">
                    Not a Member Join Now! Please Provide Details
                </li>
            
            <li>
                <div class="input-frame whitecolor">
                    <label for="username">Name: </label>
                    <input type="text" id="username"/>
                </div>
            </li>
            <li>
                <div class="input-frame whitecolor">
                    <label for="mobile">Mobile: </label>
                    <input type="text" id="mobile"/>
                </div>
            </li>
             <li>
                <div class="input-frame whitecolor">
                    <label for="email">Email: </label>
                    <input type="email" id="email"/>
                </div>
            </li>

            <li>
                <div class="button-frame">
                    <a id="mobile-button1" data-role="button">Let Someone Call Me</a>
                </div>
            </li>
            <li></li>
        </ul>
</div>

