<div data-role="view" data-title="Location Settings" data-layout="back-layout" id="locationsetting-theme">
	<ul data-role="listview" data-style="inset">
		<li>
			<div class="switch-frame">
				<label>
					Auto Location
					<input data-role="switch" checked="checked" />
				</label>
			</div>
		</li>
		<li>
			<div class="input-frame">
				<label>
					Country:
					<select>
						<option value="UAE" selected="true">&nbsp;Select Country</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
						<option value="UAE">&nbsp;United Arab Emirates</option>
						<option value="IND">&nbsp;India</option>
						<option value="PAK">&nbsp;Pakistan</option>
						<option value="KSA">&nbsp;Saudi Arabia</option>
					</select>
				</label>
			</div>
		</li>
		<li>
			<div class="input-frame">
				<label>
					City:
					<select>
						<option value="UAE" selected="true">&nbsp;Select City</option>
						<option value="UAE">&nbsp;Dubai</option>
						<option value="IND">&nbsp;Abudhabi</option>
						<option value="PAK">&nbsp;Jeddah</option>
						<option value="KSA">&nbsp;Riyadh</option>
						<option value="UAE">&nbsp;Dubai</option>
						<option value="IND">&nbsp;Abudhabi</option>
						<option value="PAK">&nbsp;Jeddah</option>
						<option value="KSA">&nbsp;Riyadh</option>
						<option value="UAE">&nbsp;Dubai</option>
						<option value="IND">&nbsp;Abudhabi</option>
						<option value="PAK">&nbsp;Jeddah</option>
						<option value="KSA">&nbsp;Riyadh</option>
						<option value="UAE">&nbsp;Dubai</option>
						<option value="IND">&nbsp;Abudhabi</option>
						<option value="PAK">&nbsp;Jeddah</option>
						<option value="KSA">&nbsp;Riyadh</option>
						<option value="UAE">&nbsp;Dubai</option>
						<option value="IND">&nbsp;Abudhabi</option>
						<option value="PAK">&nbsp;Jeddah</option>
						<option value="KSA">&nbsp;Riyadh</option>
					</select>
				</label>
			</div>
		</li>
	</ul>
</div>