<div data-role="view" data-title="Message Detail" data-layout="back-layout" id="messageitem-theme">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
            </a>
        </div>
</div>
        <ul data-role="listview" style="background-color:#fff">
      	<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
								</div>
				<div class="msg-inner-frame-3" style="height:15em">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
			</div>
		</li>
    </ul>
    </div>