<div data-role="view" data-title="My Messages" data-layout="list-layout" id="mymessagelist-theme" data-transition="slide">

    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
            </a>
        </div>
        <div data-role="navbar" style="background-color:#343434;height:3em">
            <span class="home-navbar-search">
                <input type="text" placeholder="Search Text..." class="search-bar">
            </span>
            <span class="home-navbar-search-R">
                <a data-role="button" href="views/locationsetting.html" data-rel="view" data-icon="customsearch" style="border:0;display:inline;font-size:1.1em;line-height:1em"></a>
            </span>
        </div>
    </div>
    <ul data-role="listview" style="background-color:#fff">
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
        <li>
            <div class="msg-outer-frame">
                <div class="msg-image-frame-list">
                    <img src="images/m1.png" />
                </div>
                <div class="msg-inner-frame-1">
                    <div class="msg-inner-frame-1a">Coupon</div>
                    <div class="msg-inner-frame-1b">Datetime</div>
                </div>
                <div class="msg-inner-frame-2">
                    <a href="views/messageitem.html" data-role="button" data-icon="details"></a>
                </div>
                <div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
            </div>
        </li>
    </ul>
</div>