<div data-role="view" data-title="Buy One Get One Free" data-layout="back-layout" id="myvoucherdetail-theme" data-show="initButtonGroup">
	<ul data-role="buttongroup" data-index="0" style="width:100%;margin-top:0px" id="voucherform" class="button-group">
		<li>
			Details
		</li>
		<li>
			Outlets
		</li>
		<li>
			Review
		</li>
	</ul>
	<ul data-role="listview">
		<li>
			<div class="detail-subhead">
				Friday Brunch Free
			</div>
		</li>
		<li>
			<div class="detail-image">
				<img src="images/qrcode.png" height="150px" width="150px" />
			</div>
		</li>
		<li>
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, tempor incididunt ut labore et dolore</div>
		</li>
		<li>
			<div class="detail-subhead">Offer Value: AED 100</div>
		</li>
		<li>
			<div class="detail-subhead">Offer Expiry: 31/01/2015</div>
		</li>
		<li>
			<div class="detail-outer-star" style="padding-left:13%">
				<div class="detail-inner-star">
					<a href="views/mv-offerrate.html" data-role="button" data-icon="toprated" data-rel="view"></a>
				</div>
				<div class="detail-inner-star">
					<a href="views/mv-offershare.html" data-role="button" data-icon="compose" data-rel="view"></a>
				</div>
				<div class="detail-inner-star">
					<a href="views/mv-offersocial.html" data-role="button" data-icon="share" data-rel="view"></a>
				</div>
			</div>
		</li>
		<li>
			<div class="detail-outer-star" style="height:auto">
				<div class="detail-inner-star" style="width:48%">25 Reviews</div>
				<div class="detail-inner-star" style="width:48%">
					<img src="images/stars.png" />&nbsp;(120 Votes)</div>
			</div>
		</li>
	</ul>
	<ul data-role="listview" style="display:none">
			<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
					</div>
				</div>
                </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>
                      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">

					</div>
				</div>      </div>
		</li>
	</ul>
	<ul data-role="listview" style="display:none">
	<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
	</ul>
</div>

<script>
	function initButtonGroup(){
		var listviews = this.element.find("ul.km-listview");

		$("#voucherform").kendoMobileButtonGroup({
			select: function (e) {
				listviews.hide()
					.eq(e.index)
					.show();
			},
			index: 0
		});

		}
</script>

