<!--Offer List View-->
<div id="offerlistnearme-view"
     data-role="view"
     data-title="Offers Listing" data-layout="list-layout"  data-model="preLogin" data-show="preLogin.offerlist" data-hide="preLogin.destroyOfferListNearMeView" data-init="preLogin.varInit">
    <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <a data-role="backbutton" data-align="left"></a>
            <span data-role="view-title" data-align="right" style="color:#fff"></span>
        </div>
    </div>
    <ul data-role="listview" style="background-color:#fff" id="offer-list-view">

    </ul>
</div>

<script type="text/x-kendo-template" id="offerListTemplate">
    <div class="outer-frame-o">
        <div class="image-frame-list">
            <img src="${imageurls}" style="height:100px;width:125px"/>
        </div>
        <div class="inner-frame-1-o">${itemname}</div>
        <div class="inner-frame-2-o">${category}</div>
        <div class="inner-frame-3-o">Expiry : ${couponexpirydate}</div>
        <div class="inner-frame-4-o">
            <div class="inner-frame-4a"></div>
            <div class="inner-frame-4b">
                <a href="views/offerdetail.html?of=${itemcode}" data-role="button" data-transition="flip:left">></a>
            </div>
        </div>
    </div>
</script>

<style scoped>

    #offerlist-view li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       
    #offerlist-view .km-button .km-text{
        font-size:1.4em;
        color:#fff;
        margin-bottom:1em;
    }
</style>
