<div data-role="view" data-layout="back2-layout" id="offerdetail-theme" data-init="initButtonGroup"  data-hide="preLogin.offerDetaildestroyView" data-show="preLogin.offeritem" data-model="preLogin">
  <header data-role="header">
        <div data-role="navbar">
                             <div class="brand-icon"></div>
            <a data-role="backbutton" data-align="left">
            </a>
            <span data-role="view-title" id="ooffer-item-title"></span>
        </div>
    </header>
    <ul data-role="buttongroup" data-index="0" id="offertab" class="button-group" style="margin-top:0px">
        <li>
            Details
        </li>
        <li data-bind="click: oofferOutlet">
            Outlets
        </li>

    </ul>
    <ul data-role="listview" data-style="inset" style="background-color:#fff;margin-top:0px">

        <div class="myoffer-image" id="offer-image-large">
        </div>

        <li>
            <div class="detail-subhead whitecolor" id="ooffer-shortname"></div>
        </li>
        <li>
            <div id="ooffer-description" class="whitecolor"></div>
        </li>
        <li>
            <div class="detail-subhead whitecolor" id="ooffer-expiry"></div>
        </li>

        <li>
            <div id="ooffer-remark" class="whitecolor"></div>
        </li>

        <li>
            <div class="detail-subhead" style="color:#ffb606">This offer is only for IHF Dining Rewards Members. Please Login to grab this offer!</div>
        </li>

    </ul>
    <ul data-role="listview" data-style="inset" style="display:none;background-color:#fff;margin-top:0px" id="offer-outlet-list-view">

    </ul>
    
      <footer data-role="footer">
                   <div class="button-frame-inline">
                    <a data-role="button" data-transition="flip:up" data-bind="click: callTel">Call Now</a>
                    <a data-role="button"  data-transition="flip:up" data-bind="click: shareOutlet">Share</a>   
                </div>
    
                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
                    </div>
                    <a href="views/brandpage.html" data-transition="flip:up"><div class="footer-logo">&nbsp;</div></a>

                </div>
            </footer>
</div>

<script type="text/x-kendo-template" id="offerOutletTemplate">
    <div class="outer-frame">
           <div class="image-frame-list">
            <img src="${imageurl}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${outletname}</div>
        <div class="inner-frame-2">${hotelname}</div>
        <div class="inner-frame-3">Distance 1.5 KM</div>
        <div class="inner-frame-4">
            <div class="inner-frame-4a">
            </div>
            <div class="inner-frame-4b">

            </div>
        </div>
    </div>
</script>

<script>
    function initButtonGroup() {
        var listviews = this.element.find("ul.km-listview");

        $("#offertab").kendoMobileButtonGroup({
                                                  select: function (e) {
                                                      listviews.hide()
                                                          .eq(e.index)
                                                          .show();
                                                  },
                                                  index: 0
                                              });
    }  
</script>

<style scoped>

    .button-group
    {
        margin-top: 0px;
        width: 60%;
        margin-left: 20%;
    }
    
   
    </style>

