<div data-role="view" data-title="Offers" data-layout="list-layout" id="offerlist-theme">
     <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
            </a>
        </div>
        <div data-role="navbar" style="background-color:#343434;height:3em">
            <span class="home-navbar-search">
                <input type="text" placeholder="Search Text..." class="search-bar">
            </span>
            <span class="home-navbar-search-R">
                <a data-role="button" data-rel="view" data-icon="customsearch" style="border:0;display:inline;font-size:1.1em;line-height:1em"></a>
            </span>
        </div>
    </div>
	<ul data-role="listview" style="background-color:#fff">
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o1.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o2.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o3.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o4.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o1.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o2.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o3.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/o4.png" />
				</div>
				<div class="inner-frame-1">Massage Treatment</div>
				<div class="inner-frame-2">Booked:25</div>
				<div class="inner-frame-3">Available:10</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"></div>
					<div class="inner-frame-4b">
						<a href="views/offerdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
	</ul>
	</div>