<div data-role="view" data-title="Restaurants Near Me" data-layout="back-layout" id="outletlistnearme-theme"  data-model="preLogin" data-show="preLogin.showAllOutlet" data-hide="preLogin.outletlistnearmethemedestroyView">
     <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div> 
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
                </div>
            </div>
        
    <ul style="background-color:#fff" id="outletlist-all">

    </ul>
    
       <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
               <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>


                </div>
            </footer>
</div>

<script type="text/x-kendo-template" id="outletListAllTemplate">
 <a data-transition="slide"   href="views/outletdetailnearme.html?od=${outletcode}" data-role="button"   class="a-class">    
    <div class="outer-frame">
        <div class="image-frame-list small-image-height">
            <img src="${imageurl}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${outletname}</div>
        <div class="inner-frame-2">${hotelname}</div>
        <div class="inner-frame-3">Distance ${distance} Km</div>
    </div>
    </a>
</script>

<style scoped>

    #outletlistnearme-theme li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       
    #outletlistnearme-theme a:active
    {
        background-color: transparent !important;
        color: #343434;
    }   
</style>
