<div data-role="view" data-title="Restaurants" data-layout="list-layout" id="outletlist-theme" >
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
            </a>
        </div>
        <div data-role="navbar" style="background-color:#343434;height:3em">
            <span class="home-navbar-search">
                <input type="text" placeholder="Search Text..." class="search-bar">
            </span>
            <span class="home-navbar-search-R">
                <a data-role="button"  data-rel="view" data-icon="customsearch" style="border:0;display:inline;font-size:1.1em;line-height:1em"></a>
            </span>
        </div>
    </div>
    <ul data-role="listview" style="background-color:#fff">
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l2.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l2.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l2.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer-frame">
                <div class="image-frame-list">
                    <img src="images/l3.png" />
                </div>
                <div class="inner-frame-1">Crown Plaza</div>
                <div class="inner-frame-2">IHG Hotels, Dubai</div>
                <div class="inner-frame-3">Distance 1.5 km</div>
                <div class="inner-frame-4">
                    <div class="inner-frame-4a"> </div>
                    <div class="inner-frame-4b">
                        <a href="views/outletdet.html" data-role="button" data-icon="details"></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<style scoped>
    #outletlist-theme img
    {
        height: auto;
        width: auto;
    }
</style>