<div data-role="view" data-title="Al Forsan" data-layout="back-layout" id="outletdetail-theme" data-show="showMap">
	<ul data-role="buttongroup" data-index="0" style="width:100%;margin-top:0px" id="selectform" class="button-group">
		<li>
			Map
		</li>
		<li>
			Details
		</li>
		<li>
			Review
		</li>
	</ul>
	<ul data-role="listview" style="background-color:#fff">
		<li>
			<div id="map_canvas" data-stretch="true" class="map-pos">
			</div>
		</li>
	</ul>
	<ul data-role="listview" style="display:none;background-color:#fff">
		<li>
			<div class="detail-outer-star">
				<div class="detail-inner-star">
					<a onclick='window.open("tel:+971505684052");' data-icon="phone" data-align="middle" data-role="button"></a>
				</div>
					<div class="detail-inner-star">
					<a  data-role="button" data-icon="toprated" data-rel="view"></a>
				</div>
				<div class="detail-inner-star">
					<a " data-role="button" data-icon="compose" data-rel="view"></a>
				</div>
				<div class="detail-inner-star">
					<a  data-role="button" data-icon="share" data-rel="view"></a>
				</div>
			</div>
		</li>
		<li></li>
		<li>
			<div class="detail-image">
				<img src="images/1.png" />
			</div>
		</li>
		<li>
			<div class="detail-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
		</li>
		<li>
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
		</li>
	</ul>
	<ul data-role="listview" style="display:none;background-color:#fff">
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
		<li>
			<div class="msg-outer-frame">
				<div class="msg-image-frame-list"><img src="images/m1.png" />
				</div>
				<div class="msg-inner-frame-1">
					<div class="msg-inner-frame-1a">Coupon</div>
					<div class="msg-inner-frame-1b">Datetime</div>
				</div>
				<div class="msg-inner-frame-2">
				</div>
				<div class="msg-inner-frame-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</div>
			</div>
		</li>
	</ul>
</div>
<script>
function showMap() {
		navigator.geolocation.getCurrentPosition(
			onSuccessShowMap,
			onErrorShowMap
		);
	}
	
	var listviews = this.element.find("ul.km-listview");

		$("#selectform").kendoMobileButtonGroup({
			select: function (e) {
				listviews.hide()
					.eq(e.index)
					.show();
			},
			index: 0
		});

	
	function onSuccessShowMap(position) {
		var latlng = new google.maps.LatLng(
			position.coords.latitude,
			position.coords.longitude);

		var mapOptions = {
			sensor: true,
			center: latlng,
			panControl: false,
			zoomControl: true,
			zoom: 15,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			streetViewControl: false,
			mapTypeControl: true,

		};

		var map = new google.maps.Map(
			document.getElementById('map_canvas'),
			mapOptions
		);

		var marker = new google.maps.Marker({
			position: latlng,
			map: map
		});
		console.log(marker);
		console.log("map rendering");
	}

	function onErrorShowMap(error) {
		alert("error");
	}

</script>