<div data-role="view" data-title="All Restaurants" data-layout="back-layout" id="outletlist-theme"  data-model="preLogin" data-show="preLogin.showAllOutlet" data-hide="preLogin.outletlistthemedestroyView">
    <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div>
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"></a>
                </div>
            </div>
        
    <ul style="background-color:#fff" id="outletlist-all">

    </ul>
    
      <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
                    </div>
                     <a data-transition="slide"   href="views/brandpage.html"  >
                        <div class="footer-logo">&nbsp;</div>
                    </a>

                </div>
            </footer>
</div>

<script type="text/x-kendo-template" id="outletListAllTemplate">
    <div class="outer-frame">
        <div class="image-frame-list">
            <img src="${imageurl}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${outletname}</div>
        <div class="inner-frame-2">${hotelname}</div>
        <div class="inner-frame-3">Distance 1.5 KM</div>
        <div class="inner-frame-4">
            <div class="inner-frame-4a" style="text-align:right">
               </div>
            <div class="inner-frame-4b">
                 <a data-transition="slide"   href="views/outletdetail.html?od=${outletcode}" data-role="button"   class="a-class">></a>
            </div>
        </div>
    </div>
</script>

<style scoped>

    #outletlist-theme li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       
  
</style>
