<div data-role="view" data-title="Restaurants Near Me" data-layout="list-layout" id="outletnearme-theme" data-reload="true">
    
  	<ul data-role="listview">
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>      </div>
				</div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>      </div>
				</div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l1.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l2.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
		<li>
			<div class="outer-frame">
				<div class="image-frame-list"><img src="images/l3.png" />
				</div>
				<div class="inner-frame-1">AL Forsan Restaurant</div>
				<div class="inner-frame-2">Bab Al Shams, Dubai</div>
				<div class="inner-frame-3">Distance 1.5 km</div>
				<div class="inner-frame-4">
					<div class="inner-frame-4a"> <img src="images/stars.png" />&nbsp;(120 Votes)</div>
					<div class="inner-frame-4b">
						<a href="views/outletdetail.html" data-role="button" data-icon="details"></a>
					</div>
				</div>      </div>
		</li>
	</ul>
</div>