<div data-role="view" data-title="Activation Acknowledgement" data-layout="pl-back-layout" id="receipt-view" data-model="postLogin" data-show="postLogin.confirmIssueResponse" data-hide="postLogin.destroyreceipt">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>
     
    <ul data-role="listview" data-style="inset" style="background-color:#fff">
        <div class="hero-image"></div>
        <li>
            <div style="width:100%;position:relative;float:left">
            <div class="mycard-detail-holder-label whitecolor">Voucher #:</div>
            <div class="mycard-detail-holder-data  whitecolor" id="offer-1"></div>

            <div class="mycard-detail-holder-label  whitecolor">Offer:</div>
            <div class="mycard-detail-holder-data  whitecolor" id="offer-2" style="height:3em;line-height:1.5em"></div>
            <div class="mycard-detail-holder-label  whitecolor">Category:</div>
            <div class="mycard-detail-holder-data  whitecolor" id="offer-3"></div>
               </div>
            <br>
        </li>
        <li>
            <div class="fulljustify">
                The offer is loaded in your app Wallet. You can redeem this voucher at any of the elgible outlets for this offer. A Email is also sent to you with the Voucher, You can present the same for redemption.
            </div>
        </li>
          <li>
			<div class="button-frame">
				 <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html"  >Home</a>
			</div>
		</li>
        <li></li>
    </ul>
    
      <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
                  <div class="footer-logo" href="views/pl-brandpage.html" data-transition="slide:up">&nbsp;</div>


        </div>
    </footer>
</div>
