<div data-role="view" data-title="Message Detail" data-layout="pl-back-layout" id="messageitem-theme" data-model="postLogin" data-hide="postLogin.destroymessageitem" data-show="postLogin.mymessageitem">
    <ul data-role="listview" style="background-color:#fff;margin-top:5px" id="pl-messageitem-list">

    </ul>
</div>
<script type="text/x-kendo-template" id="pl-messageitemtemplate">
    <div class="msg-outer-frame" style="height:15em;text-align:justify;padding-right:.5em;">
        <div class="msg-date-frame-outer-2">
            <div class="msg-date-frame-outer-3">
                <div class="msg-date-frame-inner-1">
                    <div class="center-pos  msgfont" style="margin-top:1em">${mday}</div>
                </div>
                <div class="msg-date-frame-inner-2 msgfont">${mmonth}</div>
            </div>
        </div>
        ${narration}
    </div>

</SCRIPT>