<div data-role="view" data-title="My Rewards" data-layout="pl-back-layout" id="pl-mywallet-theme" data-hide="postLogin.walletviewdestroy" data-model="postLogin" data-show="postLogin.mywalletofferlist">
    <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left">
            </a>
            <span data-role="view-title" id="item-title"></span>
        </div>
    </header>
    <ul data-role="listview" data-style="inset" style="background-color:#fff" id="mywallet-voucher-list">
     
    </ul>
    
     <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
            </div>
            <a data-transition="slide"   href="views/pl-brandpage.html"  >
                <div class="footer-logo">&nbsp;</div>
            </a>

        </div>
    </footer>
    
    
</div>


<script type="text/x-kendo-template" id="mywallet-voucherlist-Template">
   <div class="outer-frame-o">
                         <div class="image-frame-list">
            <img src="${imageurls}" style="height:100%;width:100%"/>
        </div>
                        <div class="inner-frame-1-o">${itemname}</div>
                        <div class="inner-frame-2-o">${category}</div>
                        <div class="inner-frame-3-o">Expiry : ${couponexpirydate}</div>
                        <div class="inner-frame-4-o">
                            <div class="inner-frame-4a"></div>
                            <div class="inner-frame-4b">
                                 <a data-transition="slide"   href="views/pl-myvoucherdetail.html?itc=${itemcode}" data-role="button"  >></a>
                            </div>
                        </div>
                    </div>
</script>


<style scoped>

    #pl-mywallet-theme li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       
    #pl-mywallet-theme .km-button .km-text{
        font-size:1.4em;
        color:#fff;
        margin-bottom:1em;
    }
</style>

