<div data-role="view"  data-title="My Profile" data-layout="pl-main-layout" id="myprofile-view" data-model="postLogin" data-hide="postLogin.destroymyprofileview" data-show="postLogin.loginSuccess">
    <div data-role="header">
        <div data-role="navbar">
            <a  data-role="button" href="#appdrawer" data-rel="drawer" data-align="left">
                <i class="fa fa-reorder fa-lg" style="color:#fff"></i>
            </a>
            <div class="brand-icon"></div>
            <span data-role="view-title" style="margin-right:.5em"></span>
            <div id="plflagtitle" data-align="right" class="flag-title"></div>
        </div>
    </div>
    <div class="tile-frame-2">
        <div class="my-card" id="mycardimage">
            <div class="mycard-name" id="mycardname"></div>
            <div class="mycard-id" id="mycardid"></div>
            <div class="mycard-expiry" id="mycardexpiry"></div>

        </div>
    </div>
     <div class="tile-frame">
        <div class="tile-frame-inner-1 ">
            <a data-transition="slide"   data-role="button" href="views/pl-outletlist.html?geo=2" class="center-pos"  >
                <div class="tile-frame-image-restaurant tile-image-pos-1 image-size-80"></div>
                <div class="tile-frame-text-1">My Restaurants</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
            <a data-transition="slide"   data-role="button" href="views/pl-mymessagelist.html" class="center-pos"  >
                <div class="tile-frame-image-mymessages tile-image-pos-1 image-size-80"></div>
                <div class="tile-frame-text-1">My Messages</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
            <a data-transition="slide"   data-role="button" href="views/pl-offerlist.html?geo=2" class="center-pos"  >
                <div class="tile-frame-image-myoffer tile-image-pos-1 image-size-80"></div>
                <div class="tile-frame-text-1">My Offers</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
            <a data-transition="slide"   data-role="button" href="views/pl-myreward.html" class="center-pos"  >
                <div class="tile-frame-image-myrewards tile-image-pos-1 image-size-80"></div>
                <div class="tile-frame-text-1">My Rewards</div>
            </a>
        </div>
    </div>

    <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
            <div class="footer-logo"   data-bind="click:plshowBrandPage">&nbsp;</div>

        </div>
    </footer>

</div>

<style scoped>
    
    #myprofile-view a
    {
        background-color: transparent !important;
    }
</style>