<div data-role="view" data-title="My Messages" data-layout="pl-back-layout" id="mymessagelist-theme" data-model="postLogin" data-hide="postLogin.destroymymessages" data-show="postLogin.mymessagelist">

  
    <ul data-role="listview" style="background-color:#fff;margin-top:0px" id="pl-history-list">

    </ul>
</div>

<script type="text/x-kendo-template" id="pl-historyListTemplate">
    <div class="msg-outer-frame" >
        <div class="msg-date-frame-outer">
            <div class="msg-date-frame-inner-1"><div class="center-pos  msgfont" style="margin-top:1em">${mday}</div></div>
            <div class="msg-date-frame-inner-2 msgfont">${mmonth}</div>
        </div>
        <div class="msg-narration-frame">${narration120}&nbsp;<a href="views/pl-messageitem.html?mi=${sequence}" data-role="button" class="a-class" data-transition="slide">More</a></div>
        <div class="msg-action-frame-outer">
            <div class="msg-action-frame-inner-1"><img src="${readicon}" style="height:auto;width:auto"/></div>
            <a data-role="button" data-bind=" click: deleteMessage"><div class="msg-action-frame-inner-2"><img src="${deleteicon}" style="height:auto;width:auto"/></div></a>
        </div>
    </div>

</script>

<style scope>
    #mymessagelist-theme li
    {
      
        border-bottom: 1px solid #343434  !important;
    }

    #mymessagelist-theme .a-class{
        background-color:#e9763f !important;
        height:2em;
        line-height:1em;
        color:#fff
    }
    
</style>
