<div data-role="view"  data-layout="pl-main-layout" id="myprofile-view" data-model="postLogin" data-hide="postLogin.destroymyprofileview" data-show="postLogin.loginSuccess">
   
<div class="tile-frame-2">
   <div class="my-card" id="mycardimage">
       <div class="mycard-name" id="mycardname"></div>
        <div class="mycard-expiry" id="mycardexpiry"></div>
       
   </div>   
</div>
    <div class="tile-frame" style="padding-top:1%">
        <div class="tile-frame-inner-1 ">
        <a data-role="button" href="views/pl-outletlist.html" class="center-pos" data-transition="slide">
            <div class="tile-frame-image-restaurant tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Restaurants</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/pl-mymessagelist.html" class="center-pos" data-transition="slide">            
            <div class="tile-frame-image-mymessages tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Messages</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/pl-offerlist.html" class="center-pos" data-transition="slide">                        
            <div class="tile-frame-image-myoffer tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Offers</div>
         </a>   
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/pl-myreward.html" class="center-pos" data-transition="slide">                        
            <div class="tile-frame-image-myrewards tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Rewards</div>
         </a>   
        </div>
        </div>
    </div>

<style scoped>
    
    #myprofile-view a:active{
        background:transparent !important;
    }
    
</style>