<div data-role="view" data-title="My Messages" data-layout="pl-back-layout" id="mymessagelist-theme" data-model="postLogin" data-hide="postLogin.destroymymessages" data-show="postLogin.mymessagelist">

  
    <ul data-role="listview" style="background-color:#fff;margin-top:0px" id="pl-history-list">

    </ul>
</div>

<script type="text/x-kendo-template" id="pl-historyListTemplate">
    <div class="msg-outer-frame" >
        <div class="msg-date-frame-outer">
            <div class="msg-date-frame-inner-1"><div class="center-pos  msgfont" style="margin-top:1em">${mday}</div></div>
            <div class="msg-date-frame-inner-2 msgfont">${mmonth}</div>
        </div>
        <div class="msg-narration-frame">${narration120}</div>
        <div class="msg-action-frame-outer">
            <div class="msg-action-frame-inner-1" style="background:url(../images/bulletactive.png) no-repeat center center"></div>
            <div class="msg-action-frame-inner-2" style="background:url(../images/deleteicon.png) no-repeat center center"></div>
        </div>
    </div>

</script>

<style scope>
    #mymessagelist-theme li
    {
      
        border-bottom: 1px solid #343434  !important;
    }
</style>
