<div data-role="view"  data-layout="main-layout" id="myprofile-view" data-model="postProgram">
   
<div class="tile-frame-2 my-card">
   
    
</div>
    <div class="tile-frame" style="padding-top:1%">
        <div class="tile-frame-inner-1 ">
        <a data-role="button" href="views/outletlist.html" class="center-pos">
            <div class="tile-frame-image-restaurant tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Restaurants</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/mymessagelist.html" class="center-pos">            
            <div class="tile-frame-image-mymessages tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Messages</div>
            </a>
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/offerlist.html" class="center-pos">                        
            <div class="tile-frame-image-myoffer tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Offers</div>
         </a>   
        </div>
        <div class="tile-frame-inner-1">
        <a data-role="button" href="views/offerlist.html" class="center-pos">                        
            <div class="tile-frame-image-myrewards tile-image-pos-1 image-size-100"></div>
            <div class="tile-frame-text-1">My Rewards</div>
         </a>   
        </div>
        </div>
    </div>
