<div data-role="view" data-title="My Restaurants" data-layout="pl-back-layout" id="pl-outletlistnearme-theme"  data-model="postLogin" data-show="postLogin.plshowAllOutletNearMe" data-hide="postLogin.ploutletlistthemenearmedestroyView">
   
    <ul style="background-color:#fff" id="pl-outletlistnearme-all">

    </ul>
</div>

<script type="text/x-kendo-template" id="pl-outletListNearMeTemplate">
    <div class="outer-frame">
        <div class="image-frame-list">
            <img src="${imageurl}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1">${outletname}</div>
        <div class="inner-frame-2">${hotelname}</div>
        <div class="inner-frame-3">Distance 1.5 KM</div>
        <div class="inner-frame-4">
            <div class="inner-frame-4a" style="text-align:right">
               </div>
            <div class="inner-frame-4b">
                <a href="views/pl-outletdetail.html?od=${outletcode}" data-role="button" data-transition="slide" class="a-class">></a>
            </div>
        </div>
    </div>
</script>

<style scoped>

    #pl-outletlistnearme-theme li{
        border-top:1px solid #ccc !important;
        border-bottom:1px solid #ccc !important;
    }
    
       
   
</style>