<div data-role="view" id="pl-outletdetailnearme-theme"  data-init="initButton" data-layout="pl-back2-layout" data-model="postLogin" data-show="postLogin.plshowOutletItem" data-hide="postLogin.ploutletdetailthemedestroyViewNearMe">
  <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <a data-transition="slide"   data-role="button" href="views/pl-outletlistnearme.html" data-align="left"  data-icon="back">
            </a>
            <span data-role="view-title" id="item-title"></span>
        </div>
    </header>
    <ul data-role="buttongroup" data-index="0" style="margin-top:0px;" id="pl-outletformnearme" class="button-group">
        <li>
            Details
        </li>
        <li data-bind="click: getLocationO">
            Map
        </li>
        <li data-bind="click: showOutletOffer">
            Offers
        </li>

    </ul>

    <ul data-role="listview"  data-style="inset" style="background-color:#fff;margin-top:0px"  >

        <div class="detail-image" id="pl-outlet-image-large">

        </div>

        <li>
            <div class="detail-subhead whitecolor" id="pl-ooutlet-short"></div>
        </li>
        <li>
            <div id="pl-ooutlet-long" class="whitecolor textpad">
            </div>
        </li>
    </ul>

    <ul data-role="listview" style="background-color:#fff;margin-top:0px;display:none;" data-style="inset" >
        <li>
            <div id="map_canvas1" class="map-pos">
            </div>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" style="display:none;background-color:#fff;margin-top:0px" id="pl-outlet-offer">

    </ul>
    <footer data-role="footer">
                   <div class="button-frame-inline">
                     <a data-transition="slide"   data-role="button"   data-bind="click: callTel">Call Now</a>
                     <a data-transition="slide"   data-role="button"    data-bind="click: shareOutlet">Share</a>   
                </div>
    
                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
                    </div>
                      <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>


                </div>
            </footer>

</div>

<script type="text/x-kendo-template" id="pl-outletOfferTemplate">
    <div class="outer-frame-o">
        <div class="image-frame-list">
            <img src="${imageurls}" style="height:100%;width:100%"/>
        </div>
        <div class="inner-frame-1-o">${itemname}</div>
        <div class="inner-frame-2-o">${category}</div>
        <div class="inner-frame-3-o">Expiry : ${couponexpirydate}</div>
        <div class="inner-frame-4-o">
            <div class="inner-frame-4a"></div>
            <div class="inner-frame-4b">
                 <!--<a data-transition="slide"   href="views/pl-offerdetail.html?of=${itemcode}" data-role="button"   class="a-class">></a>-->
            </div>
        </div>
    </div>
</script>

<script>

    function initButton() {
        var listviews = this.element.find("ul.km-listview");
    
        $("#pl-outletformnearme").kendoMobileButtonGroup({
                                                    select: function (e) {
                                                        listviews.hide()
                                                            .eq(e.index)
                                                            .show();
                                                    },
                                                    index: 0
                                                });
    }    
</script>

<style scoped>
    

      
    #pl-outletnearme-album li
    {
        border-top: 1px solid #fff !important;
        border-bottom: 1px solid #fff !important;
    }  
</style>
    