<div data-role="view" data-title="My Settings" data-layout="pl-back-layout" id="pl-setting-theme" data-model="postLogin" data-hide="postLogin.destroysettingview" data-show="postLogin.editsettingdata" >

   
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="button" href="views/pl-myprofile.html" data-align="left"  data-icon="back"></a>
                <a data-transition="slide"   data-role="button" data-align="right" style="color:#fff" data-bind="click:saveSetting">Save</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset" style="background-color:#fff">

        <li>
            <div class="switch-frame">
                <label class="whitecolor" >
                    Allow Push Notifications
                    <input data-role="switch" name="pushoffer" id="profile-pushoffer" type="checkbox" checked="false"/>
                </label>
            </div>
        </li>
        <li>
            <div class="switch-frame">
                <label  class="whitecolor">
                    Remind Expirying Vouchers
                    <input data-role="switch" name="remindexpiry" id="profile-remindexpiry" type="checkbox" checked="false"/>
                </label>
            </div>
        </li>
        <li>
            <div class="switch-frame">
                <label  class="whitecolor">
                    Auto Location
                    <input data-role="switch" name="showprofile" id="profile-autolocation" type="checkbox" checked="false"/>
                </label>
            </div>
        </li>
        <li>
            <div class="input-frame">
                <label>
                    Country:
                    <select id="selCountry" >
                        <option value="" selected="true">&nbsp;Select Country</option>
                    </select>
                </label>
            </div>
        </li>
        <li>
            <div class="input-frame">
                <label>
                    City:
                    <select id="selCity">
                        <option value="" selected="true" data-bind="click: getCity">&nbsp;Select City</option>
                    </select>
                </label>
            </div>
        </li>

    </ul>

    <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the Relationships that matter most</div>
            </div>
            <a data-transition="slide"   href="views/pl-brandpage.html"  >
                <div class="footer-logo">&nbsp;</div>
            </a>

        </div>
    </footer>
</div>

<style scoped>
    input
    {
        display: block;
        width: 85%;
        height: 2.3em;
        line-height: 2em;
        border: 1px solid #ccc;
        background-color: #f7f3f1;
    }
    </style> 