<div data-role="view" data-title="Reset Password" data-layout="back-layout" id="resetpassword-theme" data-hide="destroypasswordchange" data-model="postProgram">
    <header data-role="header">
                <div data-role="navbar">
                    <a data-role="backbutton" data-align="left">
                    </a>
                    <span data-role="view-title"></span>
                </div>
            </header>
    
	    <ul data-role="listview" style="background-color:#fff">
            
             <li>
                    <img src="images/brand_logo_login.png" style="height:auto;width:auto;margin:0px auto;"/>
                </li>
              <li style="background-color:#d96931;color:#fff;font-size:1.4em">
                    Reset Password
                </li>
            
            <li>
                <div class="input-frame whitecolor">
                    <label for="username">Member ID: </label>
                    <input type="text" id="username"/>
                </div>
            </li>
            <li>
                <div class="input-frame whitecolor">
                    <label for="mobile">Email Id: </label>
                    <input type="text" id="mobile"/>
                </div>
            </li>
            <li>
                <div class="button-frame">
                    <a id="mobile-button1" data-role="button">Change Password</a>
                </div>
            </li>
            <li></li>
        </ul>
</div>