<div data-role="view" data-title="Reset Password" data-layout="back-layout" id="resetpassword-theme" data-hide="preLogin.destroypasswordchange" data-model="preLogin">
      <div data-role="header">
                <div data-role="navbar">
                    <div class="brand-icon"></div> 
                    <span data-role="view-title"></span>
                     <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
                </div>
            </div>
    
	    <ul data-role="listview" style="background-color:#fff">
            
             <li>
                    <img src="images/brand_logo_login.png" style="height:auto;width:auto;margin:0px auto;"/>
                </li>
              <li style="background-color:#d96931;color:#fff;font-size:1.4em">
                    Reset Password
                </li>
            
            <li>
                <div class="input-frame whitecolor">
                    <label for="username">Member ID: </label>
                    <input type="text" id="username" data-bind="value:username" />
                </div>
            </li>
            <li>
                <div class="input-frame whitecolor">
                    <label for="mobile">Email Address: </label>
                  	<input type="email" id="emailid" data-bind="value:emailid">
                </div>
            </li>
            <li>
              <div class="button-frame">
				<button id="mobile-button3"  data-bind="click:requestPasswordChangeURL" data-role="button">Change Password</button>
			</div>
            </li>
            <li></li>
        </ul>
    
       <footer data-role="footer">

                <div data-role="navbar">
                    <div class="home-navbar" >
                        <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
                    </div>
                   <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>

                </div>
            </footer>
</div>