<div data-role="view" data-title="My Settings" data-layout="back-layout" id="settings-theme" data-reload="true">
	  <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" class="brand-icon" href="views/aboutus.html">
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
            </a>
        </div>
    </div>
	<ul data-role="listview" style="background-color:#fff">
		<li>
			<div class="profile-picture-frame">
				<div class="profile-picture-frame-1">
					<img src="images/noimage-s.png" />
				</div>
				<div class="profile-picture-frame-2">
					<div class="button-frame">
						<a data-role="button" id="mobile-button4" style="height:2em;font-size:1em;line-height:.9em">Change Picture</a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="input-frame">
				<label>
					Mobile:
					<input type="text" name="username" value="+971505684052">
				</label>
			</div>
		</li>
		<li>
			<div class="input-frame">
				<label>
					Email:
					<input type="text" name="username" value="technology@hospitality-dynamics.net">
				</label>
			</div>
		</li>
		<li>
			<div class="input-frame">
				<label>
					Membership Expiry:
					<input type="text" name="username" value="01/01/2014">
				</label>
			</div>
		</li>
		<li>
			<div class="switch-frame">
				<label>
					Push Offers
					<input data-role="switch" checked="checked" />
				</label>
			</div>
		</li>
		<li>
			<div class="switch-frame">
				<label>
					Remind Expirying Vouchers
					<input data-role="switch" checked="checked" />
				</label>
			</div>
		</li>
		<li>
			<div class="switch-frame">
				<label>
					Show Profile to Others
					<input data-role="switch" checked="checked" />
				</label>
			</div>
		</li>
	</ul>
</div>