	<div data-role="view" id="modalview-offersocial" data-title="Share with Circles" data-layout="back2-layout" data-model="sharingSocialView" data-hide="sharingSocialView.offersocialDestroyViewA">
          
	<header data-role="header">
                <div data-role="navbar">
                    <a data-role="backbutton" data-align="left">
                    </a>
                    <span data-role="view-title"></span>
                </div>
            </header>
         
		 <ul data-role="listview" data-style="inset" style="background-color:#fff">
			<li>
				<div class="detail-image1" data-bind="click : socialsharingFacebook">
					<img src="images/facebook_glass.png" style="width:75px;height:75px"/>
				</div>
			</li>
			<li>
				<div class="detail-image1" data-bind="click: socialsharingTwitter">
					<img src="images/twitter_glass.png" style="width:75px;height:75px"/>
				</div>
			</li>
			<li>
				<div class="detail-image1" data-bind="click: socialsharingWhatsApp">
					<img src="images/whatsapp_glass.png" style="width:75px;height:75px"/>
				</div>
			</li>
			<li>
				<div class="detail-image1" data-bind="click: socialsharingSMS">
					<img src="images/sms_glass.png" style="width:75px;height:75px"/>
				</div>
			</li>
			<li>
				<div class="detail-image1" data-bind="click: socialsharingEmail">
					<img src="images/email_glass.png" style="width:75px;height:75px"/>
				</div>
			</li>
             <li><div>&nbsp;</div></li>
		</ul>
	</div>


	
   