<div data-role="view" id="modalview-offersocial" data-title="Share" data-layout="back2-layout" data-model="sharingSocialView" data-hide="sharingSocialView.offersocialDestroyViewA">

    <header data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <a data-role="backbutton" data-align="left">
            </a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview" data-style="inset" style="background-color:#fff">
        <li>
            <div class="detail-image1" data-bind="click : socialsharingFacebook">
                <img src="images/img_facebook.png" style="width:75px;height:75px"/>
            </div>
        </li>
        <li>
            <div class="detail-image1" data-bind="click: socialsharingTwitter">
                <img src="images/img_twitter.png" style="width:75px;height:75px"/>
            </div>
        </li>
        <li>
            <div class="detail-image1" data-bind="click: socialsharingWhatsApp">
                <img src="images/img_whatsapp.png" style="width:75px;height:75px"/>
            </div>
        </li>
        <li>
            <div class="detail-image1" data-bind="click: socialsharingSMS">
                <img src="images/img_sms.png" style="width:75px;height:75px"/>
            </div>
        </li>
        <li>
            <div class="detail-image1" data-bind="click: socialsharingEmail">
                <img src="images/img_email.png" style="width:75px;height:75px"/>
            </div>
        </li>
        <li>
            <div>&nbsp;</div>
        </li>
    </ul>
</div>
