<div data-role="view" data-title="Terms of Service" data-layout="back-layout" id="termsofservice-theme" data-model="preLogin" data-show="preLogin.getTermsofService" data-hide="preLogin.destroyTermsofService">
     <div data-role="header">
        <div data-role="navbar">
          <div class="brand-icon"></div>
             <a data-transition="slide"   data-role="backbutton" data-align="left"></a>
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
        </div>
    </div>
	<ul data-role="listview" style="background-color:#fff">
		<div id="urldata-terms"></div>
	</ul>
</div> 