<div data-role="view" data-title="Terms of Service" data-layout="back-layout" id="termsofservice-theme">
	<ul data-role="listview">
		<li>
			<p>
				PLEASE NOTE: It is important that you read and understand all of our terms and conditions. However, there are a few key points that we want to highlight:
			</p>
			<p>
				www.tap2order.in, together with the sub-sites that are accessible through it, (collectively, this "Site") is published and maintained by UNOSOL Business Solutions Pvt. Ltd. (known as "UNOSOL") for the purpose of sending marketing, promotion and other SMS alerts to individuals mobiles by businesses and other organizations. When you access, browse or use this Site, you accept, without limitation or qualification, the terms of use set forth below. When you access the sub-sites that are accessible through this Site, you accept any additional terms of such sub-sites if they have their own terms of use. Please read them carefully. Information on this Site may contain technical inaccuracies or typographical errors. Information may be altered or updated at any time without notice.
			</p>
			<p>
				Contracting UNOSOL Business Solutions Pvt. Ltd. Please visit “About Us” and “Contact Us” Page to know about the Company and how to contact us.
			</p>
			<p>
				Restrictions on use. In some countries there are legal restrictions that apply to electronic communications. It is your responsibility to ensure that your conduct is legal. By using our services you also agree to be bound by the Rules of Use.
			</p>
			<p>
				Numbers. If UNOSOL allocates a short code or long number (collectively referred to as “number”) to you, you do not own that number and you do not have a right to retain that number indefinitely. We may need to change or withdraw the number allocated to you from time to time. You must not transfer or attempt to transfer your number/s to anyone else. You must ensure that you comply with any number allocation requirements that may be contained in our Terms as failure to do so may result in the number being withdrawn. We will not be liable for damages (including consequential or special damages) arising out of any change or re-assignment of a number and you waive any claims you may have as a result of a number change or re-assignment.
			</p>
			<p>
				Delivery. During transmission, electronic communications may flow through the systems of several mobile networks and other aggregators (“the chain”). Your electronic communication is considered to be delivered once it has been transmitted from our system to our next network service provider in the chain. An electronic communication sent by a mobile phone user is considered to be delivered when it is submitted from our system to you. We will try to ensure uninterrupted and continued use of our services; however this is largely dependent on the effective functioning of network service providers’ infrastructure, network coverage and the recipient’s mobile handset. Please read our disclaimers and limitations of liability (section 8).
			</p>
			<p>
				No access to emergency services. UNOSOL services are not a replacement for your ordinary mobile or fixed line telephone. Our services do not allow you to make emergency calls to emergency services. You must make alternative communication arrangements to ensure that you can make emergency calls if needed.
			</p>
			<p>This document was last updated on 31ST August 2014
			</p>
		</li>
	</ul>
</div>