<div data-role="view" data-title="Token Validation" data-layout="back-layout" id="token-theme" data-model="preLogin"  data-hide="preLogin.destroyTokenThemeView" data-show="preLogin.initToken">
       
       <div data-role="header">
        <div data-role="navbar">
            <div class="brand-icon"></div>
            <span data-role="view-title"></span>
            <a data-transition="slide"   data-role="button" href="views/home.html" data-align="left" style="color:#fff"  data-icon="back"></a>
        </div>
    </div>
    
     <div class="reward-summary-a">
     <div class="reward-summary-1">
                <pre class="fulljustify">Please enter the activation token number you have received on your email address. We ensure that your account is secured. You are getting this screen because you are signing in on a different device.</pre>
            </div></div>
    <ul data-role="listview" dta-style="inset" style="background-color:#fff">
        <li>
            <div class="input-frame whitecolor">
                <label for="password">Token: </label>
                <input type="password" id="tokennum" data-bind="value: tokennum"/>
            </div>
        </li>
        <li>
            <div class="button-frame">
                 <a data-transition="slide"   data-role="button" data-bind="click: validateToken">Validate</a>
                 <a data-transition="slide"    href="views/home.html" data-role="button">Cancel</a>
            </div>
        </li>
    </ul>
    
     <footer data-role="footer">

        <div data-role="navbar">
            <div class="home-navbar" >
                <div class="home-navbar-text">&nbsp;&nbsp;Strengthen the relationships that matter most</div>
            </div>
             <div class="footer-logo" data-bind="click:showBrandPage">&nbsp;</div>


        </div>
    </footer>
</div>