<div data-role="view" data-title="Under Construction" data-layout="error-layout" data-stretch="true">
      <div data-role="header">
        <div data-role="navbar">
             <a data-transition="slide"   data-role="backbutton" data-align="left"></a>
             <a data-transition="slide"   data-role="button" class="brand-icon" href="views/aboutus.html">
                <span data-role="view-title" data-align="right" style="color:#fff"></span>
            </a>
        </div>
    </div>
<div class="construction-pos">
    <div class="network-button">
         <a data-transition="slide"   id="btnnetwork" data-role="button">Under Construction</a>
    </div>
</div>
</div>